{% capture body_classes %}
page-{{ page.handle }} 
template-{{ template | replace: '.', '-' }} 
{% if has_cart %} has-cart{% endif %}
{% if has_prices %} has-prices{% endif %}
{% if has_social %} has-social{% endif %}

{% comment %}
{% if has_top_navbar %} has-top-navbar{% endif %}
{% if has_fixed_top_navbar %} has-fixed-top-navbar{% else %} has-static-top-navbar{% endif %}
{% endcomment %}

{% if has_main_menu %} has-main-menu{% endif %}
{% if has_sidebar %} has-sidebar{% endif %}
{% if has_footer %} has-footer{% endif %}
{% if has_footer_navbar %} has-footer-navbar{% endif %}
{% if has_fixed_footer_navbar %} has-fixed-footer-navbar{% endif %}
{% if has_window_width_thumbnail_container %} has-window-width-thumbnail-container{% endif %}
{% if settings.overlay-title-on-hover %} has-overlay-title-on-hover{% endif %}
 {{ settings.slider-width | prepend: 'banner-' }}
{% if banner_img != null %} has-banner{% endif %}
{% if settings.show-slider and template == 'index' %} has-slider{% endif %}
{% unless settings.thumbnail-ratio == blank %}{% if settings.thumbnails-cropped %} thumbnails-cropped{% else %} thumbnails-fit{% endif %}{% endunless %}
{% if settings.show-multiple-currencies %} currencies{% endif %}
 {{ thumbnail_layout | prepend: 'thumbnail-layout-' }}
{% if has_mega_menu %} has-mega-menu{% endif %} 
{% unless product.available %} is-sold-out{% endunless %}
{% endcapture %}{{ body_classes | strip_newlines | strip }}