{% assign product_url = product-loop-recommended.url | within: collection %}
{% if product-loop-recommended.featured_image == blank %}
  {% include 'image-placeholder' %}
  {% assign image = image | link_to: product_url %}
{% else %}
  {% assign image = product-loop-recommended.featured_image.src | product_img_url: 'grande' | img_tag: product-loop-recommended.featured_image.alt | link_to: product_url %}
{% endif %}{{ image }}

{% if product_collection.metafields.secondary-image.show == 'true' and product-loop-recommended.metafields.secondary-image.src != blank %}
  {% capture image_secondary %}{{ product-loop-recommended.metafields.secondary-image.src | img_tag | link_to: product-loop-recommended.url }}{% endcapture %}{{ image_secondary | strip }}
{% endif %}