 data-variants="{% for variant in product-loop.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%endunless%}
{%endunless%}
{% if variant.available == true %}{{ variant.title | downcase | handleize }} {% endif %}{% endfor %}" data-alpha="{{ product-loop.title }}" data-price="{{ product-loop.price }}"
