
{% assign ro_price = 0 %}
{% assign ro_item_price = 0 %}
{% assign ro_line_item_price = 0 %}
{% if ro_cart_total == blank %}{% assign ro_cart_total = 0 %}{% endif %}

{% if i.properties._ro_unformatted_price != blank %}
  {% assign ro_price = i.properties._ro_unformatted_price %}
  {% assign ro_item_price = ro_price %}
  {% assign ro_line_item_price = ro_item_price | times: i.quantity %}
  {% assign ro_cart_total = ro_cart_total | plus: ro_line_item_price %}
{% else %}
  {% assign ro_item_price = i.price %}
  {% assign ro_line_item_price = i.line_price %}
  {% assign ro_cart_total = ro_cart_total | plus: i.line_price %}
{% endif %}