<header class="brand clearfix">
  <div class="container">
    <div class="col-sm-4 text-left">
      <h1><a class="brand-link" href="http://argotea.com/">{% include 'logo' %}</a></h1>
      {% unless settings.brand-byline == blank %}<h2>{{ settings.brand-byline }}</h2>{% endunless %}
    </div>
    <nav class="col-sm-8">
      <ul>
        <li class="lg-cart-cont">
          <a href="/cart" class="cart-link">
            <i class="fa fa-shopping-cart"></i>
            {% if cart.item_count > 0 %}<span class="badge cartCount"></span>{% endif %}
          </a>
        </li>
        <li class="lg-search lg-dropdown-cont">
          <a href="#" class="lg-search-toggle">
            <i class="fa fa-search"></i>
          </a>
          <div class="lg-dropdown search-wrapr">{% include 'search-form' %}</div>
        </li>
        <li class="lg-user-menu lg-dropdown-cont">
          <a href="#">
            <i class="fa fa-user"></i>
          </a>
          <ul class="lg-dropdown">
            {% if customer %}
            <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
            <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
            {% else %}
            <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
            <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>