<header class="brand hidden-xs">
  {% unless settings.logo-placement == 'sidebar' %}<div class="container">{% endunless %}
    <h1><a href="http://argotea.com/">{% include 'logo' %}</a></h1>
    {% unless settings.brand-byline == blank %}<h2>{{ settings.brand-byline }}</h2>{% endunless %}
  {% unless settings.logo-placement == 'sidebar' %}</div>{% endunless %}
</header>