<div class="obt-cont">
  <h2>Other Bottled Teas</h2>
  <div id="other-bottled" class="text-center carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="/pages/signature-bottled-teas"><img class="check-loaded" src="https://cdn.shopify.com/s/files/1/0909/1186/files/signature-bottled-teas.jpg?6651623652125966672" alt="Teapuccinos"></a>
        <a href="/collections/unsweetened"><img class="check-loaded" src="https://cdn.shopify.com/s/files/1/0909/1186/files/bottled-1.png?17811721510692239016" alt="Argo Tea Bottled Teas"></a>
      </div>
      <div class="item">
        <a href="#"><img class="check-loaded" src="http://placehold.it/240x240" alt="..."></a>
        <a href="#"><img class="check-loaded" src="http://placehold.it/240x240" alt="..."></a>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#other-bottled" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#other-bottled" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
