{% include 'theme-variables' %}

<div class="container collection-alt">

{% if settings.collection-header-placement == 'above-products' %}
    {% include 'collection-header' with collection %}
{% else %}
    <h1 class="page-header">{{ page_title }}</h1>
{% endif %}

{{ collection_slider }}

{% include 'collection-nested' %}

{% unless hide_products %}
    {% if collection.all_products_count == 0 %}
        <section class="section-wrap">
          {% include '__containers-open' %}
          <p>Sorry, no {% include '__localize' with 'products' %} were found in the {{ collection.title }} collection.</p>
          {% include '__containers-close' %}
        </section>
    {% elsif collection.products_count == 0 %}
        <section class="section-wrap">
          {% include '__containers-open' %}
          <h2>Whoops! You might need to broaden your search.</h2>
          <p>There {{ collection.all_products_count | pluralize: 'is', 'are' }}<strong> {{ collection.all_products_count | count }} {{ collection.all_products_count | pluralize: 'style', 'styles' }} of {% include '__localize' with 'Products' %}</strong> in the {{ collection.title }} collection&mdash;try removing some filters.
          </p>
          <ul>
            {% for tag in current_tags %}
            <li>{{ tag }} ({{ 'remove' | link_to_remove_tag: tag }})</li>
            {% endfor %}
          </ul>
          <p><br>Or, view <strong><a href="{{ collection.url }}">all {{ collection.all_products_count }} {% include '__localize' with 'Products' %} in the {{ collection.title }} {% include '__localize' with 'Collection' %}</a></strong>.</p>
          {% include '__containers-close' %}
        </section>
    {% else %}
        <section id="product-list" class="section-wrap"> 
           
            {% assign is-product-list = true %}
            {% include '__containers-open' %}
            {% include '__default-pagination' %}
            {% paginate collection.products by default-pagination %}
            {% include 'products-list' %} 
            {% include 'pagination' %}
            {% endpaginate %}
            {% include '__containers-close' %}
        </section>
    {% endif %}
{% endunless %}

{% if settings.collection-header-placement == 'below-products' %}
    {% include 'collection-header' with collection %}
{% endif %}

</div> <!-- /.container -->
