<div class="collection--intro">
  {% if is_nested %}
  {% capture collection_title %}<h2>{{ collection-header.title }}</h2>{% endcapture %}
  {% else %}
  {% capture collection_title %}<h1>{{ collection-header.title }}</h1>{% endcapture %}
  {% endif %}
  {% if collection.title == 'Wellness Collection' %}
      <div class="container">
          <div class="row wellness-collection-gif text-center">
                <div class="col-md-3 col-md-offset-2">
                    <img src="{{ 'flower.gif' | asset_url }}" alt="Flowers" class="img-responsive img-center">
                </div>
                <div class="col-md-5">
                    <div class="wellnessSec">
                        <h2>WELLNESS COLLECTION</h2>
                        <h3>Live your healthiest life</h3>
                        <p>Made with tea and ingredients with a purpose, these five new premium signature blends are designed to help restore health so you feel your best.</p>
                    </div>
                </div>
           </div>
      </div>
  {% else %}
      {% if settings.collection-header-placement == 'above-products' %}{{ collection_title }}{% endif %}
      {% unless col_image_position == 'do-not-show' or collection-header.image == null %}
      <div class="collection__feature-image">
        {% if col_image_position == 'full-width-above' %}{% assign col_thumb_size = '2048x2048' %}{% else %}{% assign col_thumb_size = 'grande' %}{% endif %} 
        {{ collection-header.image.src | collection_img_url: col_thumb_size | img_tag: collection-header.image.alt }}
      </div>
      {% endunless %}
      {% unless collection-header.description == blank %}
      {% unless is_nested and settings.show-descriptions-on-nested-collections-page == false %}
      <div class="collection__description">
        {% include '__formatted-content' with collection-header.description %}
      </div>
      {% endunless %}
      {% endunless %}
  {% endif %}
</div>

<script>
    jQuery(function($) {
      if ($('.collection__feature-image').length > 0) {
        $('.collection--intro h1, .collection--intro h2').hide();
      }
    });
</script>
