<!-- collection-header.liquid -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <section class="collection--header">
        {% unless has_sidebar %}<div class="container">{% endunless %}
          {% include 'collection-description' %}
        {% unless has_sidebar %}</div>{% endunless %}
      </section>
    </div>
  </div>
</div>
