<div id="result" class="text-center alert alert-danger" style="display:none;"></div>

<form id="ajax-contact" class="contact-form">

<fieldset>
  <div class="form-group">
        <div class="grid__item large--one-half">
            <input type="text" id="firstname" name="firstname" placeholder="First Name" value="" class="input-xlarge form-control" required>
        </div>
    </div>
  
 
    <div class="form-group">
        <div class="grid__item large--one-half">
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" value="" class="input-xlarge form-control" required>
        </div>
    </div>
    
  <div class="form-group">
    <input type="email" id="email" name="email" placeholder="Email" value="" class="input-xlarge form-control" 
           pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
  </div>
  
  <div class="form-group">
    <select id="department" name="department" class="input-xlarge form-control" required style="border-radius: 0px!important">
        <option value="" disabled selected>Select subject</option>
        <option value="cafes">Cafes</option>
        <option value="bottledteas">Bottled Teas</option>
        <option value="ecommerce">Ecommerce</option>
        <option value="loyaltea">LoyalTea Club &amp; App </option>
        <option value="creativitea">CreativiTea Partnerships</option>
        <option value="communitea">CommuniTea Events</option>
      <option value="charitea">ChariTea Program</option>
    </select>  
  </div>
  
  <div class="form-group">
    <textarea rows="10" id="message" name="message" placeholder="Message"  rows="3" class="input-xlarge form-control" required></textarea>
  </div>
  
  	<input type="submit" class="btn btn-primary" value="SUBMIT MESSAGE">

 
  </fieldset>
</form>






<script>
    $(document).ready(function(){

       var formMessages = $('#result');

       $("#ajax-contact").submit(function(){
            var first_name = $("#firstname").val();
            var last_name = $("#lastname").val();
            var email = $("#email").val(); 
            var department = $("#department").val();
            var message = $("#message").val();
           
            switch(department){
                case "cafes": 
                    department="info@argotea.com";
                    break;
                case "bottledteas": 
                    department="info@argotea.com";
                    break;
                case "ecommerce": 
                    department="ecommerce@argotea.com";
                    break;
                case "loyaltea": 
                    department="loyaltea@argotea.com";
                    break;
                case "creativitea": 
                    department="creativitea@argotea.com";
                    break;
                case "communitea": 
                    department="marketing@argotea.com";
                    break;
                case "charitea": 
                    department="charitea@argotea.com";
                    break;
            }

            $.ajax({
                type: "POST",
                url: "https://mandrillapp.com/api/1.0/messages/send.json",
                data: {
                    'key': 'QWJTRAl4JNa4vRGtYdra0A',
                    'message': {
                        'from_email': email,
                        'from_name': first_name+" "+last_name,
                        'headers': {
                            'Reply-To': email
                        },
                        'subject': 'Argo Tea Contact Us Submission',
                        'html': 'First name: '+first_name+'<br/>Last name: '+last_name+'<br/>E-mail: '+email+'</br>Message:<br>'+message +'',
                        'to': [
                        {
                            'email': department, 
                            'name': 'ArgoTea Contact Us - Page',
                            'type': 'to'
                        }]
                    }
                }
            })
            .done(function(response) {
                $(formMessages)
                    .removeClass('alert-danger')
                    .addClass('alert-success')
                    .css('display', 'block')
                    .text('Your message has been sent. Thank you!');

                $("#firstname").val('');
                $("#lastname").val('');
                $("#email").val('');
                $("#department").val(''); 
                $("#message").val('');
            })
            .fail(function(response) {                      
                $(formMessages)
                    .removeClass('alert-sucess')
                    .addClass('alert-danger')
                    .css('display', 'block')
                    .text('Oops! An error occured and your message could not be sent.');
            });
            return false; // prevent page refresh
        });

    }); 
</script>