<!-- Hidden input that stores the discount code value -->
<input id="discount_input" type="hidden" name="discount" value="">
<!-- Set the value of our hidden input field #discount-input to the value of our sessionStorage "discount" Variable -->
<script>document.getElementById("discount_input").value = sessionStorage.getItem("discount");</script>  