<!--<div class="footer__grid col-sm-{{ 12 | divided_by: footer_columns.size }}">-->

<div class="footer__grid col-sm-2">
    {% if forloop.first == true %}
        <div class="normal-footer">
          <h4>Products</h4>
              <ul class="list-nav" >
                {% for l in linklists.footer-products.links %}
                  <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
                {% endfor %}
              </ul>
        </div>
    {% endif %}
 
  {% assign footer_text = footer_column | append: '-text' %}{% assign footer_text = settings[footer_text] %}
  {% unless footer_text == blank %}
  {{ footer_text }}
  {% endunless %}

  {% assign footer_blog = footer_column | append: '-blog' %}{% assign footer_blog = settings[footer_blog] %}
  {% unless blogs[footer_blog] == empty %}
  <h4>{{ blogs[footer_blog].title | link_to: blogs[footer_blog].url }}</h4>
    {% for a in blogs[footer_blog].articles limit:settings.blog-list-limit %}
      {% include 'article-excerpt' %}
    {% endfor %}
  {% endunless %}

  {% assign footer_menu = footer_column | append: '-menu' %}{% assign footer_menu = settings[footer_menu] %}
  {% unless linklists[footer_menu] == empty %}
  
  
<!--
  <div class="mobile-footer" id="accordion">
  
   <div class="panel-heading">
      <h4 class="panel-title">
      <a class="footer-column-title-{{ forloop.index }}" data-target="#footer-menu-{{ forloop.index }}" data-toggle="collapse" href="#footer-menu-{{ forloop.index }}">
         {{ linklists[footer_menu].title }} 
      </a><i class="fa fa-plus" aria-hidden="true"></i>
      
      
      
      </h4>

</div>
  
    <div class="footer-list collapse" id="footer-menu-{{ forloop.index }}">
      <ul class="list-nav" >
        {% for l in linklists[footer_menu].links %}
        <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
        {% endfor %}
      </ul>
    </div> 
    <div class="frontDots"></div>
    
    
</div> 
-->
  
  
  
  <div class="mobile-footer accordion">
    <div class="heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.index }}">
           {{ linklists[footer_menu].title }} 
        </a><i class="fa fa-plus" aria-hidden="true"></i>
      </h4>
    </div>
    <div id="collapse-{{ forloop.index }}" class="collapse"> 
        <ul class="list-nav" >
        {% for l in linklists[footer_menu].links %}
        <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="frontDots"></div>
  </div>
  
  
   
   
    <div class="normal-footer">

          <h4>{{ linklists[footer_menu].title }}</h4>

          <ul class="list-nav" >
            {% for l in linklists[footer_menu].links %}
            <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
            {% endfor %}
          </ul>

    </div> 
    
    
    
    
  {% endunless %}

  {% assign newsletter_column = 'footer-' | append: footer_column %}
  {% if settings.newsletter-signup-placement == newsletter_column %}
  {% include 'newsletter-signup-form' with 'footer' %}
  {% endif %}

  {% assign social_links_column = 'footer-' | append: footer_column %}
  {% if settings.social-links-placement == social_links_column %}
  <!--<h4>{% include '__localize' with 'Connect with us' %}</h4>
  <p class="clearfix social-icons">
    {% include 'social-links' with 'lg' %}
  </p>-->
  {% endif %}
</div>
