<footer id="footer-content" class="footer">
  <div class="footer-bg">
    <div class="container">
      {% if has_footer %}
      {% assign cols = '' %}
      {% for i in (i..3) %}
      {% assign c = i | plus: 1 %}
      {% assign col = 'column-' | append: c %}
      {% assign col_blog = col | append: '-blog' %}
      {% assign col_menu = col | append: '-menu' %}
      {% assign col_text = col | append: '-text' %}

      {% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-links-placement contains col %}
      {% assign cols = cols | append: col | append: '|' %}
      {% endif %}
      {% endfor %}
      {% assign footer_columns = cols | split: '|' %}

      <div class="row">
        {% for footer_column in footer_columns %}
        {% include 'footer-column-loop' %}
        {% endfor %}
        <div class="footer__grid col-sm-4 text-left xs-centered">
          <p class="clearfix social-icons">
            {% include 'social-links' with 'lg' %}
          </p>
			<br/><br/>
          <ul class="list-nav text-left xs-centered additional-links">
            {% for link in linklists.additional.links %}
            <li><a class="btn btn-primary btn-xs" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li>
              <!-- Button trigger modal -->
              <!--button type="button" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#mailing-list-modal">
                JOIN OUR EMAIL LIST
              </button-->
            </li>
          </ul>

        </div>
      </div>
      {% endif %}
        <br>
       <div class="secure-payments text-center">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p>
                Secured Payment <br>
                Encrypted with SSL
            </p>
        </div>
        {% unless shop.enabled_payment_types == empty %}
          {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,laser,litecoin,maestro,master,paypal,solo,stripe,switch,visa' | split: ',' %}
          <ul class="list-inline payment-icons text-center">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
               {% if type == 'master' %}
                <li>
                  <span class="icon-fallback-text">
                    <i class="fa fa-cc-mastercard" title="{{ type | replace: '_',' '}}" aria-hidden="true"></i>
                  </span>
                </li>
              {% elsif type == 'american_express'%}
                <li>
                  <span class="icon-fallback-text">
                    <i class="fa fa-cc-amex" title="{{ type | replace: '_',' '}}" aria-hidden="true"></i>
                  </span>
                </li>
              {% else %}
                <li>
                  <span class="icon-fallback-text">
                    <i class="fa fa-cc-{{type | replace: '_','-'}}" title="{{ type | replace: '_',' '}}" aria-hidden="true"></i>
                  </span>
                </li>
              {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endunless %}
    </div>
      <p class="text-center footer-credits">
        <small>
          &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="https://www.argotea.com/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>. All Rights Reserved. | <a target="_blank" href="//www.google.com/maps/dir//16+W+Randolph+St,+Chicago,+IL+60601/@41.8846013,-87.6305484,17z/data=!4m16!1m7!3m6!1s0x880e2ca54d0f19bf:0x292203f3e48c2e12!2s16+W+Randolph+St,+Chicago,+IL+60601!3b1!8m2!3d41.8846013!4d-87.6283597!4m7!1m0!1m5!1m1!1s0x880e2ca54d0f19bf:0x292203f3e48c2e12!2m2!1d-87.6283597!2d41.8846013">16 W Randolph Street Chicago, IL 60601</a> | <a href="mailto:info@argotea.com">info@argotea.com</a>
        </small>
      </p>
    {% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
  </div>  <!-- /.footer-bg -->
</footer>
