{% include 'sca_freegift_price' with product %}
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical"  data-id="{{prod.id}}">

  <select name="id" id="productSelect" class="product-single__variants">
    {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

      {% if variant.available %}

      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}" data-price="{{ variant.price | money_without_currency | remove: ',' }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}

{%endunless%}
{%endunless%}
    {% endfor %}
  </select>

{% comment %}
  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
{% endcomment %}

  <span id="ProductPrice" class="h2" itemprop="price">
    {{ current_variant.price | money }}
  </span>

  {% if sca_compare_at_price_max > sca_price %}
    <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
    <p id="ComparePrice">
      {{ 'products.sca_compare_at' | t }} {{ current_variant.compare_at_price | money }}
    </p>
  {% endif %}


  <label for="Quantity" class="quantity-selector"></label>

  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
<!--BOLD CODE-->
    <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
    <input name="email" type="hidden" value="{{ customer.email }}" >
    <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
    <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
    <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
    <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
    <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
    <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
    <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
    <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
    <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
    <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >

    {% include 'bold-ro' with product %}

    {{ bold-ro.id }}

    <!--BOLD CODE-->
        <input type="submit" value="Add To Cart" name="add" id="addToCart" class="btn addtocart animAll"/>
    <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->

    <input class="frequency_type_text" type="hidden" value="Months" name="properties[frequency_type_text]">
    <input class="group_id" type="hidden" value="15147" name="properties[group_id]">
</form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>

