<!-- frontpage.liquid -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            {% capture box1_url %}home_box_1_url{% endcapture %}
            <a href="{{ settings[box1_url] }}">
                {% capture box1_img %}home_box_1.jpg{% endcapture %}
                {% capture box1_img_mobile %}home_box_1_mobile.jpg{% endcapture %}
                {% capture box1_txt %}home_box_1_text{% endcapture %}
                {% capture box1_btntxt %}home_box_1_btntext{% endcapture %}
                <div class="home-bottleDrinks line1 check" style="background-image:url('{{ box1_img | asset_url }}');">
                    <img class="mobileimg" src="{{ box1_img_mobile | asset_url }}">
                    <div class="bottom-text">
                          {{ settings[box1_txt] }}
                          {% capture hasButton %}home_box_1_btntext{% endcapture %}
                          {% if settings[hasButton] != empty %}
                              <div class="hoverDisplay">
                                  <div class="shopBtn">{{ settings[hasButton] }}</div>
                              </div>
                          {% endif %}
                      </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-push-6">
            {% capture box3_url %}home_box_3_url{% endcapture %}
            <a href="{{ settings[box3_url] }}">
                {% capture box3_img %}home_box_3.jpg{% endcapture %}
                {% capture box3_img_mobile %}home_box_3_mobile.jpg{% endcapture %}
                {% capture box3_txt %}home_box_3_text{% endcapture %}
                {% capture box3_btntxt %}home_box_3_btntext{% endcapture %}
                <div class="home-loose line1 check" style="background-image:url('{{ box3_img | asset_url }}');">
                    <img class="mobileimg" src="{{ box3_img_mobile | asset_url }}">
                    <div class="bottom-text">
                          {{ settings[box3_txt] }}
                          {% capture hasButton %}home_box_3_btntext{% endcapture %}
                          {% if settings[hasButton] != empty %}
                              <div class="hoverDisplay">
                                  <div class="shopBtn">{{ settings[hasButton] }}</div>
                              </div>
                          {% endif %}
                      </div>
              </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-pull-3">
           {% capture box1_url %}home_box_2_url{% endcapture %}
            <a href="/apps/store-locator">
                {% capture box2_img %}home_box_2.jpg{% endcapture %}
                {% capture box2_img_mobile %}home_box_2_mobile.jpg{% endcapture %}
                {% capture box2_txt %}home_box_2_text{% endcapture %}
                {% capture box2_btntxt %}home_box_2_btntext{% endcapture %}
             <div class="home-findCafe line1" style="background-image:url('{{ box2_img | asset_url }}');">
                <div class="bottom-text">
                  {{ settings[box2_txt] }}
                  {% capture hasButton %}home_box_2_btntext{% endcapture %}
                      <div class="hoverDisplay">
                          <div class="shopBtn">FIND NOW</div>
                      </div>
                </div>
              </div>
            </a>
        </div>
    </div>

<div class="row">
    <div class="col-sm-6 col-md-6">
    {% capture box4_img %}home_box_4.jpg{% endcapture %}
     <div class="home-app line2" style="background-image:url('{{ box4_img | asset_url }}');">
     <div class="bottom-text">
      DOWNLOAD OUR LOYAL<strong>TEA </strong> APP !
      <div class="hoverDisplay">
           <div class="download">
               <a target="_blank" href="https://itunes.apple.com/us/app/argo-tea/id918225439?mt=8"><img src="{{ 'download-iphone.png' | asset_url }}"></a>
               <a target="_blank" href="https://play.google.com/store/apps/details?id=com.argotea.argotea.android.app&hl=en"><img src="{{ 'download-android.png' | asset_url }}"></a>
           </div>
        </div>
        </div>
        </div>
  </div>
      <div class="col-sm-6 col-md-6">
      {% capture box5_img %}home_box_5.jpg{% endcapture %}
      <a href="/products/subscription">
          <div class="home-monthTea line2" style="background-image:url('{{ box5_img | asset_url }}');">
              <div class="bottom-text">
                 START YOUR TEA SUBSCRIPTION
                    <div class="hoverDisplay">
                        <div class="shopBtn">SUBSCRIBE NOW</div>
                    </div>
              </div>
          </div>
      </a>
  </div>

    </div>
</div>


{% assign collection-handle = 'frontpage' %}
<div class="container frontpage-collection">
  <div class="row">
    <div class="col-sm-12">
      <h2><span>PRODUCTS WE LOVE</span></h2>
      <div class="start">start brewing!</div>
    </div>
  </div>
  <div class="front-products">
  <div id="frontPageCarousel">
      {% for product in collections[collection-handle].products | limit:18 %}
{% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
{% include 'bold-product' with product, hide_action: 'skip' %}


        {% include 'product-carousel-item' %}

      {% endfor %}

  </div>
  </div>
  <div class="front-arrow prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
    <div class="front-arrow next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>

 <div class="frontDots"></div>
</div>


<div class="container">
  <div class="row">

  <div class="col-sm-4 col-md-4">
   {% capture box6_url %}home_box_6_url{% endcapture %}
    <a href="{{ settings[box6_url] }}">
    {% capture box6_img %}home_box_6.jpg{% endcapture %}
    {% capture box6_img_mobile %}home_box_6_mobile.jpg{% endcapture %}
    {% capture box6_txt %}home_box_6_text{% endcapture %}
    {% capture box6_btntxt %}home_box_6_btntext{% endcapture %}
     <div class="home-communitea bottomBox" style="background-image:url('{{ box6_img | asset_url }}');">
                    <div class="bottom-text">
                          {{ settings[box6_txt] }}
                          {% capture hasButton %}home_box_6_btntext{% endcapture %}
                          {% if settings[hasButton] != empty %}
                              <div class="hoverDisplay">
                                  <div class="shopBtn">{{ settings[hasButton] }}</div>
                              </div>
                          {% endif %}
                      </div>
      </div>
      </a>
  </div>

    <div class="col-sm-4 col-md-4">
   {% capture box7_url %}home_box_7_url{% endcapture %}
    <a href="{{ settings[box7_url] }}">
    {% capture box7_img %}home_box_7.jpg{% endcapture %}
    {% capture box7_img_mobile %}home_box_7_mobile.jpg{% endcapture %}
    {% capture box7_txt %}home_box_7_text{% endcapture %}
    {% capture box7_btntxt %}home_box_7_btntext{% endcapture %}
     <div class="home-cafes2 bottomBox" style="background-image:url('{{ box7_img | asset_url }}');">
                    <div class="bottom-text">
                          {{ settings[box7_txt] }}
                          {% capture hasButton %}home_box_7_btntext{% endcapture %}
                          {% if settings[hasButton] != empty %}
                              <div class="hoverDisplay">
                                  <div class="shopBtn">{{ settings[hasButton] }}</div>
                              </div>
                          {% endif %}
                      </div>
      </div>
      </a>
  </div>


<div class="col-sm-4 col-md-4">
   {% capture box8_url %}home_box_8_url{% endcapture %}
    <a href="{{ settings[box8_url] }}" class="button-quick">
    {% capture box8_img %}home_box_8.jpg{% endcapture %}
    {% capture box8_img_mobile %}home_box_8_mobile.jpg{% endcapture %}
    {% capture box8_txt %}home_box_8_text{% endcapture %}
    {% capture box8_btntxt %}home_box_8_btntext{% endcapture %}
     <div class="home-giftCards bottomBox" style="background-image:url('{{ box8_img | asset_url }}');">
        <div class="bottom-text">
              {{ settings[box8_txt] }}
              {% capture hasButton %}home_box_8_btntext{% endcapture %}
              {% if settings[hasButton] != empty %}
                  <div class="hoverDisplay">
                      <div class="button-quick shopBtn">{{ settings[hasButton] }}</div>
                  </div>
              {% endif %}
          </div>
      </div>
      </a>
      <div id="ooyala-video">
      </div>
      <div class="hidden">
          <div id="inner-ooyala">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tkH36eOmApg" frameborder="0" allowfullscreen></iframe>
            {% comment %}
            <iframe width="100%" height="500px" src="https://player.ooyala.com/iframe.html?ec=h2Y3d4ODE65b2Jgo4_cUVTvKOC890S3Z&pbid=5d88305d0c6c47eabc12e43063a41c69"
            frameborder="0" allowfullscreen>
            {% endcomment %}
            </iframe>
          </div>
      </div>

      <script>
          $(function() {
                   $('.button-quick').magnificPopup({
                      items: {
                          src: '#ooyala-video',
                          type: 'inline',
                          removalDelay: 500,
                          fixedBgPos: true,
                          autoFocusLast: false, //If set to true last focused element before popup showup will be focused after popup
                      },
                       callbacks: {
                            beforeOpen: function() {

                            },
                            open: function() {
                              $( "#inner-ooyala" ).clone().prependTo( "#ooyala-video" );
                            },
                            afterClose: function(item) {
                               var $quickViewCnt = $('#ooyala-video');
                               $quickViewCnt.html('');
                            }
                       },
                      closeBtnInside: true
                    });
          });
      </script>

</div>

    </div>
</div>




<div class="home-off">
       <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-lg-7">
                    <div class="off-text">
                        Join our Email List &amp; get <strong>10% OFF</strong> your next online purchase!
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <div class="off-form">
                        <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
                            <input name="g" value="nDcNSS" type="hidden">
                                <div class="klaviyo_fieldset">
                                    <div class="klaviyo_field_group">
                                        <input id="k_id_modal_$email" name="email" placeholder="Enter Your Email Address" type="email">
                                    </div>
                                </div>
                                <div class="klaviyo_fine_print"></div>
                                <div class="klaviyo_form_actions">
                                    <button type="submit" class="klaviyo_submit_button btn btn-primary">
                                       LET'S GO!
                                    </button>
                                </div>
                            <div class="error_message"></div>
                            <div class="success_message"></div>
                        </form>
                    </div>
                </div>


            </div>
    </div>
</div>







<script>
  $('a.add-to-cart').click(function(e) {
    e.preventDefault();
    var $that = $(this);
    $.post('/cart/add.js', {
      quantity: 1,
      id: $(this).data('variant-id')
    }).done(function(d) {
      console.log('done', d);
    }).fail(function(f) {
      console.log('fail', f);
    }).always(function(a) {
      console.log('always', a);
      var addedNotice = '<aside class="added-notice h1" style="display: none;"><span class="label label-success"><i class="fa fa-cart-plus"></i> Product added to cart. <a href="/cart">View cart</a>.</span></aside>';
      $that.after(addedNotice);
      $('aside.added-notice').slideDown(function() {
        // equalizeHeights('.srp-prod');
      });
      // window.location = '/cart';
    });
  });
</script>
