<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 57 115" style="enable-background:new 0 0 57 115;width:30px;height:61px;" xml:space="preserve" aria-hidden="true">
<image style="overflow:visible;" width="57" height="115" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAABzCAYAAAAi26qPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAgZJREFUeNrk1IlpxDAQBdBlKkglS1pKRWlhO0kJAVeUJYRlDx865vj/
RyBsSzNfPDA6LcvyfZ1vJ+Fh1/l+nV/KUPt7SkPt7l0Wak/fklBbWZOD2sa6FNR29mSgdrAvAbWG
GnqoNdZRQ62jlhZqnfWUUBvooYPaYB8V1CZ6aaA22U8BNYcMeKg55UBDzTELFmrOeZBQC8iEg1pQ
LhTUArNhoBacDwG1hDPKoZZ0TinUEs8qg1ryeSVQK/h70qFWdBekQquQqdBKZBq0GpkCRUCGQ1GQ
oVAkZBgUDRkCRUS6Q1GRrlBkpBsUHekCZUBOQ1mQU1Am5DCUDTkEZUR2Q1mRXVBmZDOUHdkEVUAe
QlWQu1Al5CZUDbkKVUS+QFWRD1Bl5A2qjvyF/gfkRR15OZ/PH6YOVL5db0BV5ANQEfkCVEOuApWQ
m0AV5C5QAXkIZEc2AZmRzUBWZBeQEdkNZEMOAZmQw0AW5BSQATkNREe6AJGRbkBUpCsQEekOREOG
AJGQYUAUZCgQARkOrEamACuRacAqZCqwApkOzEaWADORZcAsZCkwA1kOjEZCACORMMAoJBQwAgkH
9EZCAj2RsEAvJDTQAwkPnEVSAGeQNMBRJBVwBEkH7EVSAnuQtMBWJDWwBUkPPEJKAPeQMsAtpBRw
DSkHfEZKAu+RssDfsSzL50l8/AgwAKjqHoED+aoNAAAAAElFTkSuQmCC">
</image>
</svg>