<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 57 115" style="enable-background:new 0 0 57 115;width:30px;height:61px;" xml:space="preserve" aria-hidden="true">
<image style="overflow:visible;" width="57" height="115" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAABzCAYAAAAi26qPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAiNJREFUeNrs29mNwkAQBFDkCIjEIgUiJ4WVI9kQ1vBhyYuPOfqoKhjJ
svh8Auye7prL5bv41zRNt0EdON8egzpwvq6DOvD5eVAHyiG3gFLIPaAM8ggogTwD0iNLgNTIUiAt
sgZIiawF0iFbgFTIViANsgdIgewFwiMtgNBIKyAs0hIIibQGwiE9gFBILyAM0hMIgfQGpiMjgKnI
KGAaMhKYgowGhiMzgKHILGAYMhMYgswGuiMRgK5IFKAbEgnogkQDmiMRgaZIVKAZEhlogkQHdiMZ
gF1IFmAzkgnYhGQDViMZgVVIVmAxkhlYhGQHniIVgIdIFeAuUgm4iVQDviEVgSukKnBBKgNfSHWg
afsDGjmO4898v8/Xr/Q3qQ5dfq7K0NV/UhX69uBRhG4+XdWgu68QJejhe1IFeloMKECLKh52aHFZ
xwytql1ZodUFOiO0aRfCBm3eajFBu/aTLNDuTTMD1KQzgA41a38gQ017PKhQ80YWItSlW4cGdWtJ
IkFd+64oUPfmMgI0pIOeDQ0bE2RCQ2chWdDwgU8GNGWqFQ1NG91FQlPnk1HQ9CFsBBRi0uwNhRmn
e0KhMgNeULhghAcUMv1hDYWNuFhCoXM8VlD4sJIFlCKR1QuliZ31QKmyda1QugBhC5QyJVkLpY2C
1kCp866lUPpQbwlUIrl8BpWJZx9BpTLoe1C5oP0WVPI0wX+o7JGJTzglsazn4Z4/AQYAQf1ToSpv
PwUAAAAASUVORK5CYII=">
</image>
</svg>
