<!-- modal-video.liquid -->

<div class="modal-video">
  <div class="modal-video-cont">
    <div class="modal-overlay"></div>
    <div class="close-modal"><i class="fa fa-times"></i></div>
    <div class="vid-container">
      <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
