 <div class="equ">
   
 </div>
 
<script>
  $(function () {
    //////// Facebook ////////  
    //GET from fb
    function fbFetch() {
        //Set Url of JSON data from the facebook graph api. make sure callback is set with a '?' to overcome the cross domain problems with JSON
      var url = "https://graph.facebook.com/argotea/posts?access_token=269964183425772|i1y0OE2wh3TuuwdOzVbuJO3mNCM&fields=id,message,picture%20,full_picture,attachments,type,created_time,object_id,admin_creator,permalink_url&limit=6";

        //Use jQuery getJSON method to fetch the data from the url and then create our unordered list with the relevant data.
        $.getJSON(url, function (json) {
            var html = " ";
  
            //loop through and within data array's retrieve the message variable.
            //XSS ATTACK FIX AS OF 6/1/12 PLEASE UPDATE TO THIS ASAP.
            $.each(json.data, function (i, fb) {
                var date = new Date( fb.created_time ),
                    datenew = date.toDateString(),
                    description = fb.attachments.data[0].description;
                
                var d = new Date( fb.created_time );
                var month = new Array();
                month[0] = "Jan";
                month[1] = "Feb";
                month[2] = "Mar";
                month[3] = "Apr";
                month[4] = "May";
                month[5] = "Jun";
                month[6] = "Jul";
                month[7] = "Aug";
                month[8] = "Sep";
                month[9] = "Oct";
                month[10] ="Nov";
                month[11] ="Dec";
                var n = month[d.getMonth()];
                var newDay =  date.getDate() + '  ' +  n ; 
                if ( description === undefined){   
                } else {
                 var description = fb.attachments.data[0].description,
                     cropwords = description.substring(0, 100).split(" ").slice(0, -1).join(" ") + "...";     
                }
              
               var url = fb.full_picture;
               var array = url.split('/');
               var lastsegment = array[array.length-1];
              
              
                 
               html += '<div class="row"><div class="col-xs-12"><div class="media"><a class="facebook-icon" target="_blank" href="'+ fb.permalink_url +'"><img src="' +(fb.full_picture ? fb.full_picture : " ")+  '"/></a></div></div><div class="col-xs-12">';
               html += '<div class="user"><a  href="'+ fb.permalink_url +'" target="_blank" ><span>Argo Tea</span><span>   &nbsp @argotea</span><i class="fa fa-facebook pull-right" aria-hidden="true"></i></a></div> <a class="facebook-icon" target="_blank" href="'+ fb.permalink_url +'"> <p class="fbdescription">'+( fb.attachments.data[0].description ? cropwords :  fb.attachments.data[0].title) +'</p></a><p class="timePosted">'+ newDay +'</p><div class="interact"><a class="facebook customer share" href="http://www.facebook.com/sharer.php?u='+ fb.permalink_url +'" title="Facebook share" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div></div></div>'; 
            }); 
             
            
            //A little animation once fetched
           
               $('.equ').html(html); 
                
                if ($('.equ .media').size() > 0) {
                    $('.equ').owlCarousel({
                        loop: true,
                        nav: true,
                        autoplay: false,
                        navText: ['<i class="fa fa-angle-left fa-2x"></i>', '<i class="fa fa-angle-right fa-2x"></i>'],
                        responsive: {
                            0: {
                                items: 1,
                                slideBy: 1
                            }, 
                            767: {
                                items: 1,
                                slideBy: 1
                            },
                            992: {
                                items: 1,
                                slideBy: 1
                            },
                            1200: {
                                items: 1,
                                slideBy: 1

                            }
                        }
                    });
                    $('.equ').trigger('refresh.owl.carousel')
                } 

        });
        
        $( ".fb_iframe_widget" ).appendTo( ".interact " );
    };

    fbFetch();

    /////// Facebook  ////////



  
  /**
   * jQuery function to prevent default anchor event and take the href * and the title to make a share popup
   *
   * @param  {[object]} e           [Mouse event]
   * @param  {[integer]} intWidth   [Popup width defalut 500]
   * @param  {[integer]} intHeight  [Popup height defalut 400]
   * @param  {[boolean]} blnResize  [Is popup resizeabel default true]
   */
  $.fn.customerPopup = function (e, intWidth, intHeight, blnResize) {
    
    // Prevent default anchor event
    e.preventDefault();
    
    // Set values for window
    intWidth = intWidth || '500';
    intHeight = intHeight || '400';
    strResize = (blnResize ? 'yes' : 'no');

    // Set title and open popup with focus on it
    var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
        strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,            
        objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
  }
  
  /* ================================================== */

  $(document).ready(function ($) {
    $('body').on('click', '.customer.share', function(e) {
      $(this).customerPopup(e);
    });
  });
    
});
</script>