{% comment %}https://github.com/stevenschobert/instafeed.js{% endcomment %}
<div id="instafeed" class="instagram-carousel row no-gutters equalize"></div>


<script>
$(function() {
    var client_id = 'af183f65538141cfb4871ec2bab3d462',
        user_id = '322679480',
        access_token = '322679480.1677ed0.558ec1adb40f49138afeae9e711d7761'; 
    var feed = new Instafeed({
        get: 'user',
        userId: user_id,
        //get: 'tagged',
        //tagName: 'awesome',
        //clientId: client_id,
        sortBy: 'most-recent',
        limit: 16,
        resolution: 'standard_resolution',
        accessToken: access_token,
        template: '<div class="col-xs-3 col-sm-3"><a href="{% raw %}{{link}}{% endraw %}" target="_blank"><img src="{% raw %}{{image}}{% endraw %}" class=""/></a></div>',
        after: function() {
          //initCarousel();
        }
    });

    feed.run();

    function initCarousel(){
     $('#instafeed').owlCarousel({
            loop:true,
            nav:true,
            autoPlay:false,
            margin:20,
            navText : ['<i class="fa fa-angle-left fa-2x"></i>','<i class="fa fa-angle-right fa-2x"></i>'],
            responsive:{
              0: {
                items:2,
                slideBy:2
              },
              767:{
                items:3,
                margin:10,
                slideBy:3
              },
            992:{
                items:2,
                margin:10,
                slideBy:2
              },
              1220:{
                items:2,
                margin:20,
                slideBy:2

              }
            }
        });
    }

});
</script>