<!-- navbar-top-new.liquid -->

<nav id="top-nav-new" class="">
  <!--<div class="lg-submenu-bg"></div>-->
  <div class="container">
    <div class="row">
      <a href="/" class="col-md-2 col-sm-6 col-xs-6 ">
        <span class="brand"><img src="{{ 'logo-white.png' | asset_url }}" alt="" class="pull-left" /></span>
      </a>
      <div class="col-md-10 hidden-xs hidden-sm">
        {% for the_link in linklists.main-menu.links %}
        <!--<a href="{{ the_link.url }}">{{ the_link.title }}</a>-->
        {% endfor %}
      <ul class="pull-left">
      <!-- loop begin -->{% for link in linklists.main-menu.links %}
      {% assign list_handle = link.handle | handleize %}<!-- {{ list_handle }} {{ linklists[list_handle].links.size }}-->
      {% assign has_sub_menu = linklists[list_handle].links.size %}
      <li class="{% if has_sub_menu > 0 %}has-lg-submenu{% endif %}{% if link.active %} active{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% if has_sub_menu > 0 %}
        <div class="lg-submenu">
          {% for link_level_2 in linklists[list_handle].links %}
            <a href="{{ link_level_2.url }}" class="{% if link_level_2.active %} active{% endif %}">{{ link_level_2.title }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </li>
      {% endfor %}<!-- loop end -->
      </ul>
      <ul class="pull-right">
        {% if has_cart %}
        <li{% if template == 'cart' %} class="cart-btn active"{% endif %}>
          <a class="lg-menu-top-right header-cart" href="/cart">
            <img src="{{ 'icon-cart-dark.png' | asset_url }}" alt="" />
            {% if cart.item_count > 0 %} <span class="cartCount"></span>{% endif %}
          </a>
        </li>
        {% endif %}
        <li class="has-lg-submenu hidden-xs hidden-sm account-btn">
          <a class="lg-menu-top-right" href="#"><img src="{{ 'icon-account-dark.png' | asset_url }}" alt="" /></a>
          <div class="lg-submenu">
            {% if customer %}
            <a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a>
            {{ 'customer-accounts.sign-out' | t | customer_logout_link }}
            {% else %}
            {{ 'customer-accounts.register' | t | customer_register_link }}
            {{ 'customer-accounts.sign-in' | t | customer_login_link }}
            {% endif %}
          </div>
        </li>
        <li class="has-lg-submenu hidden-xs hidden-sm search-btn">
          <a class="lg-menu-top-right" href="#"><img src="{{ 'icon-search-dark.png' | asset_url }}" alt="" /></a>
          <div class="lg-submenu">
              {% include 'search-form' %}
          </div>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
