<ul class="xs-menu">
  <li><a href="#" class="show-xs-parent"><i class="fa fa-angle-left"></i> &nbsp; Back</a></li>
  {% for ll in linklists[list_level2_handle].links %}
  <li><a href="{{ ll.url }}">{{ ll.title }}</a></li>
  {% endfor %}
</ul>