{% assign navbar-placement = navbar | append: '-navbar-placement' %}
{% case settings[navbar-placement] %}
{% when 'fixed-to-top' %}
{% assign placement = 'navbar-fixed-top' %}
{% when 'fixed-to-bottom' %}
{% assign placement = 'navbar-fixed-bottom' %}
{% when 'static-top' or 'full-width' %}
{% assign placement = 'navbar-static-top' %}
{% else %}
{% assign placement = false %}
{% endcase %}

<nav id="navbar-{{ navbar }}" class="row navbar navbar-default{% if placement %} {{ placement }}{% endif %}{% if navbar == 'main' %} hidden-xs{% endif %}{% if has_top_navbar == false and navbar == 'top' %} visible-xs{% endif %}" role="navigation">
  {% unless navbar == 'main' %}
  <div class="container">
    {% endunless %}
    {% if navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
      {% include 'navbar-menu' with 'footer-left' %}
      {% include 'navbar-menu' with 'footer-right' %}
    </div>
    {% endif %}

    {% unless has_top_navbar and navbar == 'main' %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ navbar }}-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if settings.logo-placement == "top-navbar" and navbar == 'top' %}<a class="navbar-brand{% if settings.logo-image %} navbar-brand-img{% endif %}" href="/">{% include 'logo' %}</a>{% endif %}

      {% if navbar == 'top' %}
      <ul class="nav navbar-icons visible-xs">
        <li><a href="/" class="mobile-brand"><img src="{{ 'logo-white.png' | asset_url }}" alt="ArgoTea Logo" /></a></li>
        {% if has_cart %}
        <li{% if template == 'cart' %} class="active"{% endif %}><a class="header-cart" href="/cart"><i class="fa fa-fw fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge cartCount">{{ cart.item_count }}</span>{% endif %}</a></li>
        {% endif %}
        {% if shop.customer_accounts_enabled %}
        <li{% if template contains 'customers' %} class="active"{% endif %}><a href="/account"><i class="fa fa-fw fa-user"></i></a></li>
        {% endif %}
        <li>
          <a class='mobile-search-toggle' href="#"><i class="fa fa-search"></i></a>
        </li>
      </ul>
      {% endif %}
    </div>
    {% endunless %}

    {% unless navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">

      {% if navbar == 'top' %}
      <div class="visible-xs">
        {% include 'navbar-main' %}
      </div>
      {% include 'navbar-menu' with 'top-left' %}
      {% include 'navbar-menu' with 'top-right' %}
      {% else %}
      {% include 'navbar-main' %}
      {% endif %}

    </div>
    {% endunless %}
    {% unless navbar == 'main' %}
  </div>
  {% endunless %}
</nav>
<div class='mobile-nav-search'>{% include 'search-form' %}</div>
