<!-- ... linklist_handle >> {{ linklist_handle }} -->
{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
  {% include '__containers-open' %}
    <div class="row collections-navbar">
      <span class="collapse-collections-navbar" data-ta-collapse="page-navbar"><i class="fa fa-bars"></i> &nbsp;<span>Show Page Nav</span></span>
      <ul class="col-lg-2 col-md-3 col-sm-3 col-xs-12" data-ta-collapse-target="page-navbar">
        {% for link in linklists.store-menu.links %}{{ ll }}{% if ll.handle == page.handle %}{{ ll.title }} {{ ll.url }}{% endif %}{% endfor %}
        {% for link in linklists[linklist_handle].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 white-bg">
        <h1 class="page-header">{{ page_title }}</h1>
        {% include '__formatted-content' with page.content %}
      </div>
    </div>
  {% include '__containers-close' %}
</section>

<!-- ,,, {{ linklist_handle }}: {% for l in linklists %}{% if l.handle == linklist_handle %}{{ l.handle }}{% endif %}, {% endfor %} -->