<!-- navbar-mobile.liquid -->
<a href="#" class="xs-navbar-toggle"><i class="fa fa-bars"></i></a>
<div class="xs-navbar-olay"></div>

<div class="xs-navbar">
  <div style="position: relative; height: 100%;">
    <ul class="xs-menu">
      <li><a href="#" class="xs-navbar-close"><i class="fa fa-close"></i> &nbsp; Close</a></li>
      {% for link in linklists.main-menu.links %}
      <li>
        {% assign list_handle = link.handle | handleize %}<!--{{ list_handle }} {{ linklists[list_handle].links.size }}-->
        {% assign has_sub_menu = linklists[list_handle].links.size %}
        <a href="{{ link.url }}" class="{% if has_sub_menu > 0 %}has-submenu{% endif %}">{{ link.title }}{% if has_sub_menu > 0 %}<i class="fa fa-angle-right pull-right"></i>{% endif %}</a>
        {% if has_sub_menu > 0 %}
        <ul class="xs-menu">
          <li><a href="#" class="show-xs-parent"><i class="fa fa-angle-left"></i> &nbsp; Back</a></li>
          {% for link_level_2 in linklists[list_handle].links %}
            <li>
              {% assign list_level2_handle = link_level_2.handle %}
              {% assign has_submenu_level2 = linklists[list_level2_handle].links.size %}
              <a href="{{ link_level_2.url }}" class="{% if has_submenu_level2 > 0 %}has-submenu{% endif %}">{{ link_level_2.title }}{% if has_submenu_level2 > 0 %}<i class="fa fa-angle-right pull-right"></i>{% endif %}</a>
              {% if has_submenu_level2 > 0 %}
                {% include 'navbar-mobile-submenu' with list_level2_handle %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% include 'search-form' %}
    <ul class="xs-menu">
      <li class="{% if template contains 'customers' %} active{% endif %}">
        <a href="#" class="has-submenu"><strong>Account <i class="fa fa-angle-right pull-right"></i></strong></a>
        <ul class="xs-menu">
          <li><a href="#" class="show-xs-parent"><i class="fa fa-angle-left"></i> &nbsp; Back</a></li>
          {% if customer %}
          <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
          <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
          {% else %}
          <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
          <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
</div>