<!-- navbar-mobile-new.liquid -->
<nav id="top-nav-new">
  <div class="banner-top text-center">
    <h4>{{settings.header-banner}}</h4>
  </div>
  <div class="container hidden-sm hidden-xs">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <a href="/" class="">
          <span class="brand"><img src="{{ 'logo-white.png' | asset_url }}" alt="" class="pull-left" /></span>
        </a>
      </div>
      <div class="col-md-10 hidden-xs hidden-sm">
        {% for the_link in linklists.main-menu.links %}
        {% comment %}<a href="{{ the_link.url }}">{{ the_link.title }}</a>{% endcomment %}
        {% endfor %}
        <ul class="pull-left">
          <!--top nav loop begin -->
          {% for link in linklists.main-menu.links %} 
            <!-- {{ list_handle }} {{ linklists[list_handle].links.size }}-->
              {% assign list_handle = link.handle | handleize %}
              {% assign has_sub_menu = linklists[list_handle].links.size %}
              <li class="{% if has_sub_menu > 0 %}has-lg-submenu{% endif %}{% if link.active %} active{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a> 
                {% if has_sub_menu > 0 %}
                    <div class="lg-submenu">
                      {% for link_level_2 in linklists[list_handle].links %}
                        {% assign grand_child_list_handle = link_level_2.title | handle %}
                        <div class="lg-submenu-dropdown {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}dropdown-has-child{% endif %}">
                            <a href="{{ link_level_2.url }}" class="{{ link_level_2.title }} {% if link_level_2.active %} active{% endif %}">
                              {{ link_level_2.title }}
                            </a>
                            {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                            <i class="fa fa-angle-right"></i>
                            {% endif %}
                            <ul class="submenu-child">
                                {% for grand_child_link in linklists[grand_child_list_handle].links %}
                                    <li> 
                                      <a href="{{grand_child_link.url}}" class="{% if grand_child_link.active %} active{% endif %}">{{grand_child_link.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                      {% endfor %}
                    </div>
                {% endif %}
              </li>
          {% endfor %}
          <!-- top nav loop end -->
        </ul>
        <ul class="pull-right">
          {% if has_cart %}
          <li{% if template=='cart' %} class="cart-btn active" {% endif %}>
            <a class="lg-menu-top-right header-cart" href="/cart">
              <img src="{{ 'icon-cart-dark.png' | asset_url }}" alt="" /> {% if cart.item_count > 0 %} <span class="cartCount"><span class="badge">{{ cart.item_count }}</span></span>{% endif %}
            </a>
          </li>
          {% endif %}
          <li class="has-lg-submenu hidden-xs hidden-sm account-btn">
            <a class="lg-menu-top-right" href="/account"><img src="{{ 'icon-account-dark.png' | asset_url }}" alt="" /></a>
            <div class="lg-submenu">
              {% if customer %}
              <a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a> {{ 'customer-accounts.sign-out' | t | customer_logout_link }} {% else %} {{ 'customer-accounts.register' | t | customer_register_link }} {{ 'customer-accounts.sign-in' | t | customer_login_link }} {% endif %}
            </div>
          </li>
          <li class="has-lg-submenu hidden-xs hidden-sm search-btn">
            <a class="lg-menu-top-right" href="#"><img src="{{ 'icon-search-dark.png' | asset_url }}" alt="" /></a>
            <div class="lg-submenu">
              {% include 'search-form' %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mobile-top-bar row hidden-lg hidden-md  text-center">
    <div class="col-sm-2 col-xs-3 text-left">
      <a class="menu-trigger"></a>
      <nav id="offcanvas-menu">
        <ul>
          {% for link in linklists.main-menu.links %}
          <li>
            {% assign list_handle = link.handle | handleize %}
            {% assign has_sub_menu = linklists[list_handle].links.size %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if has_sub_menu > 0 %}
            <ul>
              {% for link_level_2 in linklists[list_handle].links %}
              <li>
                {% assign list_level2_handle = link_level_2.handle %}
                {% assign has_submenu_level2 = linklists[list_level2_handle].links.size %}
                <a href="{{ link_level_2.url }}">{{ link_level_2.title }}</a>
                {% if has_submenu_level2 > 0 %}
                <ul>
                  {% for ll in linklists[list_level2_handle].links %}
                  <li><a href="{{ ll.url }}">{{ ll.title }}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
          <li>
            <a href="/account"><strong>Account</strong></a>
            <ul>
              {% if customer %}
              <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
              <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
              {% else %}
              <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
              <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>

    </div>

    <div class="col-sm-8 col-xs-6">
      <a href="/" class="logo">
        <span class="brand"><img src="{{ 'logo-white.png' | asset_url }}" alt="" /></span>
      </a>
    </div>

    <a class="lg-menu-top-right header-cart" href="/cart">
      <img src="{{ 'icon-cart-dark.png' | asset_url }}" alt="" /> {% if cart.item_count > 0 %} <span class="cartCount"></span>{% endif %}
    </a>

  </div>

</nav>


{% if settings.show-header-notification-bar %}
<section class="header-notif-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{ settings.show-header-notification-bar-text }}
        <small class="hide-header-notif" data-toggle="tooltip" data-placement="bottom" title="Hide message">
          <i class="fa fa-close"></i>
        </small>
      </div>
    </div>
  </div>
</section>
{% endif %}
