<div id="frontpage-slider">
        <div class="owl-carousel">

            {% for i in (1..6) %} 

                {% capture slide_enabled %}slide-{{ i }}-active{% endcapture %}
                {% capture slide_image %}slide-{{ i }}-image{% endcapture %}
                {% capture slide_image_s %}slide-{{ i }}-image-s{% endcapture %}
                {% capture slide_url %}slide-{{ i }}-button-link{% endcapture %}

                {% if settings[slide_enabled] %}

                  <div class="slide">
                    {% if settings[slide_url] %}
                        <a href="{{ settings[slide_url] }}" style="background-image:url({{  slide_image | append: '.jpg' | asset_url }});">
                          <img class="visible-md visible-lg" src="{{  slide_image | append: '.jpg' | asset_url }}"/>
                          <img class="visible-xs visible-sm" src="{{  slide_image_s | append: '.jpg' | asset_url }}"/>
                        </a>
                    {% else %}
                        <img class="visible-md visible-lg" src="{{  slide_image | append: '.jpg' | asset_url }}"/>
                        <img class="visible-xs visible-sm" src="{{  slide_image_s | append: '.jpg' | asset_url }}"/>
                    {% endif %}

                  </div>

                {% endif %}
            {% endfor %}

        </div>
</div>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            nav: true,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
            autoplay: true,
            autoplayHoverPause: true,
        })
    });
</script>