<!-- product-loop-signature.liquid {{ collection-name }} {{ collections[collection-name].products_count }}
  {{ collections[collection-name].products.first.title }} -->

{% assign grid_class = 'col-sm-4' %}
{% if collection-name == 'tea-sparkles-nfs' %}{% assign grid_class = 'col-sm-12' %}{% endif %}
{% if collection-name == 'tea-squeezes-nfs' %}{% assign grid_class = 'col-sm-12' %}{% endif %}
{% if collection-name == 'bubble-teas-nfs' %}{% assign grid_class = 'col-sm-12' %}{% endif %}

{% paginate collections[collection-name].products by 18 %}
  {% if collections[collection-name].products.size > 0 %}
  {% for product in collections[collection-name].products %}
  <!--<div class="{{ grid_class }} prod-block purple" data-caff="{{ product.metafields.Products.caffeine }}" data-cals="{{ product.metafields.Products.calories }}">-->
  <div class="{{ grid_class }} prod-block purple">
    {% if product.images.first %}<img class="tea-pot" src="{{ product.images.first.src | img_url: 'compact' }}" alt="{{ product.title }}" />
    {% else %}<img class="tea-pot" src="http://placehold.it/240x240" alt="Placeholder image" />
    {% endif %}
    <h3>{{ product.title }}</h3>
    {% assign desc = product.description | strip_html %}
    <p>{{ desc | truncate: '100' }}</p>
    {% comment %}<a href="#"class="colored"><img class="icon-img" src="{{ 'icon-purple-leaves.png' | asset_url }}" alt="" /> Chef Note, Nutrition &amp; Caffeine</a>
    <a href="{{ product.url }}" id="id-{{ product.id }}" class="colored"><img class="icon-img" src="{{ 'icon-purple-dollar.png' | asset_url }}" alt="" /> Buy the Bottled Tea</a>{% endcomment %}
    <a href="{{ product.url }}" id="id-{{ product.id }}" class="colored"><span class="icon-img icon-{{ product.id }}"></span> Buy the Bottled Tea</a>
    {% comment %}{% if product.metafields.Products.caffeine %}<span class="caff" data-caffeine="{{ product.metafields.Products.caffeine }}"></span>{% endif %}{% endcomment %}
    {% comment %}{% if product.metafields.Products.calories %}<span class="cals">{{ product.metafields.Products.calories }} cal</span>{% endif %}{% endcomment %}
  </div>
  {% endfor %}
  {% include 'pagination' %}
  {% else %}
  <h2 class="text-center"><span class="label label-warning">{% include '__localize' with 'No products found.' %}</span></h2>
  {% endif %}
{% endpaginate %}


<script>
  {{ collection-name | camelcase }} = [];
  {% paginate collections[collection-name].products by 5000 %}
  {% for product in collections[collection-name].products %}
  {{ collection-name | camelcase }}.push({{ product.id }});
  {% endfor %}
  {% endpaginate %}
</script>