{% unless the_product.title == 'Subscription' %}
    <!-- product-loop-argo-v2.liquid -->

    <!-- Buyx -->

    {% include 'buyx-price-min' with the_product %}
    <!-- Free Gifts by Secomapp -->
    {% include 'sca_freegift_price' with the_product %}

    {% comment %} Check the product is deleted or not - Bottled Tea Drinks {% endcomment %}
    {% assign deleted = false %}
    {% for collect in the_product.collections %}
      {% if collect.handle == 'bottled-tea-drinks' %}
        {% assign deleted = true %}
      {% endif %}
    {% endfor %}

    <div class="col-xs-6 col-md-4 srp-prod {% if deleted == true %}deleted{% endif %}">
        {% if the_product.images.first %}
            <a class="img-thumb-link" href="{{ the_product.url }}" style="background-image: url({{ the_product.images.first.src | img_url: 'large' }});"></a>
            {% comment %}
            <div name="secomapp-fg-image-{{ the_product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </div>
            {% endcomment %}
            <div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ the_product.id }}" prod-show='list'></div>
        {% else %}
            <a class="img-thumb-link" href="{{ the_product.url }}">
                <img src="http://placehold.it/240x240" alt="Placeholder image"/>
            </a>
        {% endif %}
        <h3><a href="{{ the_product.url }}">{{ the_product.title }}</a></h3>
      {% include 'flair-product-badges-2' %}
        {% if the_product.metafields.Products.short-description.size %}
            {% assign short_desc = the_product.metafields.Products.short-description %}
            <p class="srp-desc">{{ short_desc }}</p>
        {% else %}
            {% assign desc = the_product.description | strip_html %}
            <p class="srp-desc">{{ desc | truncatewords: '25' }}</p>
        {% endif %}
        <p>
            <span class="srp-price">{% include 'product-price' with sca_price_max %}</span>
            
            {% if the_product.compare_at_price != blank %}
            <span class="compare-price" itemprop="price">
                <del>
                {{ the_product.compare_at_price | money | }} USD
                </del>
            </span>
            {% endif %}
        </p>



        {% unless the_product.available %}
        <span class="btn btn-xs btn-purple sold-out-btn" style="opacity: 0.7">SOLD OUT</span>
        <a href='#' class='BIS_trigger collection-notify sachets' data-product-data='{{ the_product | json | replace : "'" : "" }}'>
            Email Me When Available
        </a>
        {% else %}
        <div class="shopify-product-reviews-badge" data-id="{{the_product.id}}"></div>
        {% include 'product-badges' %}
        <div class="btn-wrap">
          <a href="#" data-variant-id="{{ the_product.variants.first.id }}" class="add-to-cart btn btn-primary btn-xs">Add to Cart</a>


            <a href="#product-{{ product.id }}" data-productid="{{ product.id }}" data-handle="{{ the_product.handle }}" data-url="{{ product.url | within: collection }}" class="button-quick btn btn-primary btn-xs">
                <i class="fa fa-eye fa-fw"></i><span class="hidden-xs"></span>QUICK VIEW
            </a>

        </div>



        {% endunless %}
    </div>
{% endunless %}


