{% include 'sca_freegift_price' with product %}
{% if collections[collection-handle]products.size > 0 %}

<div class="item">
    {% if product.images.first %}
    <a class="img-thumb-link" href="{{ product.url }}">
        <img src="{{ product.images.first.src | img_url: 'large' }}">
    </a>
  <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </div>
<div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>
    {% else %}
    <a class="img-thumb-link" href="{{ product.url }}">
        <img src="http://placehold.it/240x240" alt="Placeholder image" />
    </a>
    {% endif %}
    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
    {% if product.metafields.Products.short-description.size %}
      {% assign short_desc = product.metafields.Products.short-description %}
      <p class="srp-desc">{{ short_desc }}</p>
    {% else %}
      {% assign desc = product.description | strip_html %}
      <p class="srp-desc">{{ desc | truncate: '100' }}</p>
    {% endif %}
    <p><span class="srp-price">{% include 'product-price' with sca_price %}</span></p>
    {% unless product.available %}
    <span class="btn btn-xs btn-purple" style="opacity: 0.7">SOLD OUT</span>
    {% else %}
    <a href="#" data-variant-id="{{ product.variants.first.id }}" class="add-to-cart btn btn-primary btn-xs">Add to Cart</a>
    {% endunless %}
</div>

{% endif %}




