<div class="row{% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %}">
  {% if template contains 'index' %}
    {% if t_object != blank %}
      {% assign product_collection = t_object %}
    {% else %}
      {% assign product_collection = collections[settings.homepage-products-collection] %}
    {% endif %}
  {% elsif collection %}
    {% assign product_collection = collection %}
  {% endif %}
  {% for p in product_collection.products | limit: 4 %}
{%- include 'bold-product' with p, hide_action: 'skip' -%}
    {% assign product_count = forloop.length %}
    {% include 'product-loop-recommended' with p %}
  {% endfor %}
</div>