<!-- product-loop-argo-three-columns.liquid -->
{% paginate collection.products by 18 %}
{% if collection.products.size > 0 %}
{% for product in collection.products %}
<!-- Buyx -->
{% include 'buyx-price-min' with product %}
<!-- Free Gifts by Secomapp -->
{% include 'sca_freegift_price' with product %}

{%- include 'bold-product' with product, hide_action: 'skip' -%} <!-- asdf {{product.metafields.Products.short-description.size}} -->
  {% cycle '<div class="row">', '<!-- second column start -->', '<!-- third column start -->' %}
  <div class="col-md-4 srp-prod">
    {% if product.images.first %}<a href="{{ product.url }}"><img src="{{ product.images.first.src | img_url: 'medium' }}" alt="{{ product.title }}" /></a>
    {% else %}<a href="{{ product.url }}"><img src="http://placehold.it/240x240" alt="Placeholder image" /></a>
    {% endif %}
    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
    {% include 'flair-product-badges' %}
    {% if product.metafields.Products.short-description.size %}
    {% assign short_desc = product.metafields.Products.short-description %}
    <p class="srp-desc">{{ short_desc }}</p>
    {% else %}
    {% assign desc = product.description | strip_html %}
    <!--<p class="srp-desc">{{ desc | truncate: '120' }}</p>-->
    <p class="srp-desc">{{ desc | truncatewords: '25' }}</p>
    {% endif %}
    <p>
    <span class="srp-price">
        {% include 'product-price' with sca_price_max %}
    </span>
    {% comment %}{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}


{%endunless%}
{%endunless%}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}{% if variant.weight != 0 %} &#8226; {{variant.weight | weight_with_unit }}{% endif %}{% endfor %}{% endcomment %}
    </p>
    {% unless product.available %}
    <span class="btn btn-xs btn-purple" style="opacity: 0.7">SOLD OUT</span>
    <a href='#' class='BIS_trigger collection-notify loose' data-product-data='{{ product | json | replace : "'" : ""}}'>
      Email Me When Available
    </a>
    {% else %}
    <div class="shopify-product-reviews-badge" data-id="{{product.id}}"></div>
    <a href="#" data-variant-id="{{ product.variants.first.id }}" class="add-to-cart btn btn-primary btn-xs">Add to Cart</a>
      <a href="#product-{{ product.id }}" data-productid="{{ product.id }}" data-handle="{{ product.handle }}" data-url="{{ product.url | within: collection }}" class="button-quick btn btn-primary btn-xs quickv">
       <i class="fa fa-eye fa-fw"></i><span class="hidden-xs"></span>QUICK VIEW
      </a>
    {% endunless %}
  </div>
{% cycle '<!-- one -->', '<!-- two -->', '</div>' %}
{% endfor %}
{% include 'pagination' %}
{% else %}
<p>{% include '__localize' with 'No products found.' %}</p>
{% endif %}
{% endpaginate %}
