<!-- products-list.liquid -->
<div class="row">
    {% if template contains 'index' %}
        {% if t_object != blank %}
            {% assign product_collection = t_object %}
        {% else %}
            {% assign product_collection = collections[settings.homepage-products-collection] %}
        {% endif %}
    {% elsif collection %}
        {% assign product_collection = collection %}
    {% endif %}

    {% if template contains 'index' or products-list == 'limit' %}
        {% if settings.homepage-products-limit contains 'unlimited' %}
            {% assign limit = nil %}
        {% else %}
            {% assign limit = settings.homepage-products-limit %}
        {% endif %}
    {% endif %}

    {% comment %}{% for p in product_collection.products | limit: limit %}
    {%- include 'bold-product' with p, hide_action: 'skip' -%}
    {% assign product_count = forloop.length %}
    {% include 'product-loop' with p %}
    {% endfor %}{% endcomment %}
    
    

    {% for the_product in product_collection.products | limit: limit %}

        {% comment %}Start include subscriptions on collection holiday-collection-2017{% endcomment %}
                     {% include 'subscription-product-variants' %}
        {% comment %}include subscriptions on collection holiday-collection-2017{% endcomment %}
            
        {%- include 'bold-product' with the_product, hide_action: 'skip' -%}
        {% assign product_count = forloop.length %}
        
        {% include 'product-loop-argo-v2' with the_product %}
   
    {% endfor %} 
    
    
</div>