<!-- product-add-to-cart-form.liquid -->


<!-- Bold: QB - Step 4 -->
<div id="shappify-qty-msg"></div>
<!-- // end Bold code -->


<form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">

    <div class="product-variants">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <select id="{% include '__advanced-layout-id' with 'product-select' %}"
                    name="id" class="form-control input-lg">
                {% for v in product.variants %}
{% unless v.metafields.secomapp.freegifts %}
{% unless v.title contains '(Freegifts)' %}

{%- include 'bold-variant' with v, hide_action: 'skip' -%}

                    <!-- Bold: QB - Step 2 -->
                    {% if v.metafields.shappify_qb.qb_hide == "1" %}{% continue %}{% endif %}
                    <!-- // end Bold code -->
                    <option data-price="{{ variant.price | money_without_currency | remove: ','}}" value="{{ v.id }}"{% if v == product.selected_or_first_available_variant %}
                        selected="selected"{% endif %}>{{ v.title }}</option>

{%endunless%}
{%endunless%}
                {% endfor %}
            </select>
        </div>

        {% if product.metafields.properties.size > 0 %}


        {% for l_item in product.metafields.properties %}
        {% assign key = l_item.first | split: ':' %}
        {% assign key_type = key.last %}
        {% assign key_title = key.first %}
        {% assign value = l_item.last %}


          <label class="col-xs-12 col-sm-3 col-md-12 col-lg-3">{{ key_title }}</label>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
          {% if key_type == 'select' %}
            {% assign value_array = value | split: ',' %}

            <select class="form-control" name="properties[{{ key_title }}]">
                {% for v in value_array %}
                <option value="{{ v }}">{{ v }}</option>
                {% endfor %}
            </select>

            {% elsif key_type == 'text' %}
            <input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
            {% elsif key_type == 'checkbox' %}
            <p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
            {% elsif key_type == 'file' %}
            <p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>

            {% endif %}
          </div>

        {% endfor %}

        {% endif %}
    </div>

  <div class="row">
        <div class="col-xs-12">
        <div class="w3-product-options" data-product-id="{{product.id}}" data-tags="{{ product.tags | join: ", " }}"></div>
        </div>
    	<div class="quantity-wrap">
        {% unless price_is_poa %}
          <label for="quantity" class="col-xs-12 col-sm-3 col-md-12 col-lg-3">Quantity:</label>
          {% include '_product-max-qty' with product %}
          <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
            <span><i class="fa fa-minus"></i></span>
            <input class="form-control input-sm" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} />
            <span><i class="fa fa-plus"></i></span>
          </div>
        {% endunless %}
      </div>

        <div class="clearfix x1"></div>

        <label class="col-xs-12 col-sm-3 col-md-12 col-lg-3">Availability:</label>
        <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
          Usually ships in 1 to 2 days
        </div>

        <div class="clearfix x2"></div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
          {% unless price_is_poa %}

          <!-- recurring orders -->
          <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
          <input name="email" type="hidden" value="{{ customer.email }}" >
          <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
          <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
          <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
          <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
          <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
          <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
          <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
          <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
          <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
          <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >

          {% include 'bold-ro' with product %}

		  <div class="clearfix x1 hidden-lg hidden-md hidden-sm"></div>

          <input type="submit" name="add" value="{% include '__localize' with 'Add to cart' %}" id="purchase" class="purchase-btn btn btn-solid btn-purple addtocart" />

          <!-- bold-ro-liquid -->
          <div class="bold_add_to_orders" style="display: inline-block;"> </div>
          <!-- bold-ro-liquid -->


          {% endunless %}
          {% if settings.secondary-call-to-action-url != blank %}
          <p class="secondary-call-to-action"><br><em>{% include '__localize' with 'Not quite what you are after?' %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&handle={{ product.handle }}"><strong>{% include '__localize' with 'Contact us for variations' %}</strong></a></p>
          {% endif %}

            {% comment %}back in stock app button{% endcomment %}
            {% if product.available == false %}
                <a href="#" id="BIS_trigger">Notify me when back in stock</a>
            {% endif %}

          {% if settings.show-social-share-links %}
          <!--<div class="share-icons">
            {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
            {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
            {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
            Share:
            <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
            <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
          </div>-->
          {% endif %}
        </div>

  </div>
</form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>



{% if settings.show-notify-me %}
<div class="row notify-me-wrapper">
  <div class="col-xs-12">
    {% form 'contact' %}
      <div class="notify-me-form well">
        <h3>{{ product.title }} is unavailable</h3>
        <p>{% include '__localize' with 'Leave your email address if you would like to be notified when it becomes&nbsp;available.' %}</p>
        <div class="alert" style="display: none"></div>
        <div class="form-group">
          <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
          <div class="input-group">
            <input class="form-control input-lg{% if form.errors contains 'email' %} error{% endif %}" id="{% include '__advanced-layout-id' with 'notify-input' %}" required="required" type="email" name="contact[email]" placeholder="your@email.com" value="{{ contact.fields.email }}" />
            <span class="input-group-btn">
              <input class="btn btn-primary btn-lg" type="submit" value="{% include '__localize' with 'Notify me' %}" >
            </span>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
</div>
{% endif %}

<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
    new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true{% unless settings.show-unavailable-products %}, linkOptions: true {% endunless %}});
  });
</script>
