<!-- buyx-->
{% include 'buyx-product' with product %}
{% include 'buyx-price-min' with product %}
<!--buyx -->

{% include 'sca_freegift_price' with product %}
{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: product_img_size }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap" data-product-handle="{{ product.handle }}">
	{% include '__containers-open' %}


  <div class="visible-xs">
		<h1 class="page-header" itemprop="name">{{ product.title }}</h1>
	</div>

		<div class="row" itemscope itemtype="http://data-vocabulary.org/Product">

			<!-- images col -->
			<div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
				<div class="row product-images">
					<div class="col-xs-12 col-sm-12">
						<div class="product-image-border">
							<div class="thumbnail product-main-image">
								{{ image }}
							</div>
				      <div class="share-icons">
				        {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
				        {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
				        {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
				        <a class="share-tw" href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
				        <a class="share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
				        <a class="share-pint" href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
				        <a class="share-email" href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
				      </div>
			      </div>
					</div>
					{% if product.images.size > 1 %}
					{% for image in product.images %}
					<div class="col-xs-4">
						<div class="thumbnail">
							<div class="thumbnail-image product-main-thumb">
								<a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
									{{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>

			<!-- details col -->
			<div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
				<h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
				{% include 'product-badges' %}

				{% include 'product-description' %}

				{% unless settings.show-price-if-zero == blank and sca_price == 0 %}
				{% if has_prices %}
                    {% if price_is_poa %}
                    <div class="product-price-poa">
                      <span>{% include '__localize' with 'POA' %}</span>
                    </div>
                    {% else %}
                    <div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                      <span class="price-field">
                             {% include 'product-price' with selected_or_first_variant.price %}
                      </span>



                      {% if settings.append-plus-taxes-to-price %}
                          <small class="text-muted">
                           {% include '__localize' with 'plus taxes' %}
                          </small>
                      {% endif %}
                        <small class="compare-at-price text-muted">
                          <del>{% include '__localize' with 'was' %}
                            <span class="compare-at-price-field"></span>
                          </del>
                        </small>
                     {% include 'product-labels' with product %}
                        <meta itemprop="currency" content="{{ shop.currency }}" />
                        <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
                    </div>
                    {% if product.weight %} &#8226; <span>{{ product.weight }}</span>{% endif %}
                    {% endif %}
				{% endif %}

				{% include 'shappify-sales-clock' with product %}
				{% include 'product-availability' with product %}
				{% if has_cart %}
					{% include 'product-add-to-cart-form' %}
					<div class="starter-amazon-com-HTMLWidget-2">
						<h3>Delivery Information</h3>
						<p>Orders placed Monday-Thursday may take up to 48 hours to process by our fulfillment TEAm before shipping. Orders placed on Fridays after 12:00 p.m. CST or over the weekend (Saturdays and Sundays) will be processed on Monday. When orders are shipped via Standard shipping, they will arrive in 3-5 days (up to 7 days for Alaska and Hawaii) after processing. When orders are shipped via Expedited shipping, they will arrive in 1-3 days after processing. View our <a href="/pages/shipping-policies" target="_blank">shipping policies</a> for more information.</p>
					</div>
				{% endif %}
				{% endunless %}

				{% if product.metafields.custom_links.size > 0 %}
				<ul class="custom-links">
					{% for l in product.metafields.custom_links %}
						<li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if product.metafields.custom_images.size > 0 %}
				<ul class="custom-images">
				{% for l in product.metafields.custom_images %}
					<li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
				{% endfor %}
				</ul>
				{% endif %}

				{% include 'product-specs' %}

		  	{% unless t_reviews == true %}
				<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
				{% endunless %}
			</div>
		</div>
	{% include '__containers-close' %}
</section>
