{% if collection %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<hr>
	<ul class="pager">
		<li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous' | link_to: collection.previous_product }}</li>
		<li>{{ collection.title | link_to: collection.url }}</li>
		<li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next &raquo;' | link_to: collection.next_product }}</li>
	</ul>
	{% include '__containers-close' %}
</section>
{% endif %}

{% if product.metafields.social-feed.instagram != blank %}
  {% include 'social-feed-instagram' with product %}
{% endif %}

{% if settings.show-related-products %}
{% assign is-product-list = true %}
{% assign product_vendor = product.vendor | handleize %}
{% if collection %}{% assign product_collection = collection %}{% elsif collections[product_vendor] %}{% assign product_collection = collections[product_vendor] %}{% else %}{% assign product_collection = product.collections.first %}{% endif %}
{% if product_collection.products.size > 1 %}
<section id="product-list" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header"><a href="{{ product_collection.url }}">{% include '__localize' with 'Related in' %} {{ product_collection.title }}</a></h2>
		{% include 'products-list-recommended' with 'limit' %}
	{% include '__containers-close' %}
</section>
{% endif %}
{% endif %}


<div class="container">
	<div class="row">
		{% if settings.secondary-related-collection %}
		<div class="col-sm-6 related-plist">
			<h2 class="text-center">Recommended for You:</h2>
			{% include 'products-list-related' %}
		</div>
		{% endif %}
		<div class="col-sm-6">
		{% if settings.show-recently-viewed-products %}
			<h2 class="text-center">Recently Viewed:</h2>
			{% include 'products-list-recently-viewed' %}
		</div>
		{% endif %}
	</div>
</div>

{% comment %}
{% if settings.secondary-related-collection %}
{% assign product_collection = collections[settings.secondary-related-collection] %}
{% if product_collection.products.size > 0 %}
<section id="product-list" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header"><a href="{{ product_collection.url }}">{% include '__localize' with 'Recommended in' %} {{ product_collection.title }}</a></h2>
		{% comment %}<h2 class="page-header"><a href="{{ product_collection.url }}">{% include '__localize' with 'Recommended' %} Bestsellers</a></h2>{% endcomment %}
		{% include 'products-list-recommended' with 'limit' %}
	{% include '__containers-close' %}
</section>
{% endif %}
{% endif %}
{% endcomment %}