<!-- products-list-recently-viewed.liquid -->
<div class="recently-viewed-plist">
  {% raw %}
  <script id="entry-template" type="text/x-handlebars-template">
    <a href="{{url}}" class="rv-product col-xs-6">
      <img class="rv-img" src="{{imageSrc}}" alt="{{title}}" />
      <h3 class="rv-hdg">{{title}}</h3>
      <div class="rv-price">{{price}}</div>
    </a>
  </script>
  {% endraw %}
</div>
