<!-- product-loop-argo.liquid -->
{% paginate collections[collection-handle]products by 18 %}
{% if collections[collection-handle]products.size > 0 %}
{% for product in collections[collection-handle]products %}
<!-- Buyx -->
{% include 'buyx-price-min' with product %} 
<!-- Free Gifts by Secomapp -->
{% include 'sca_freegift_price' with product %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}

  {% comment %} Check the product is deleted or not - Bottled Tea Drinks {% endcomment %}
  {% assign deleted = false %}
  {% for collect in product.collections %}
    {% if collect.handle == 'bottled-tea-drinks' %}
      {% assign deleted = true %}
    {% endif %}
  {% endfor %}

  <div class="col-xs-6 col-md-3 srp-prod {% if deleted == true %}deleted{% endif %}">
    {% if product.images.first %}<a class="img-thumb-link" href="{{ product.url }}" style="background-image: url({{ product.images.first.src | img_url: 'large' }});"></a>
    {% else %}<a class="img-thumb-link" href="{{ product.url }}"><img src="http://placehold.it/240x240" alt="Placeholder image" /></a>
    {% endif %}
    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
	{% include 'flair-product-badges' %}
    {% if product.metafields.Products.short-description.size %}
      {% assign short_desc = product.metafields.Products.short-description %}
      <p class="srp-desc">{{ short_desc }}</p>
    {% else %}
      {% assign desc = product.description | strip_html %}
      <p class="srp-desc">{{ desc | truncate: '100' }}</p>
    {% endif %}
    <p><span class="srp-price">{% include 'product-price' with sca_price %}</span></p>

    {% unless product.available %}

        <span class="btn btn-xs btn-purple" style="opacity: 0.7">SOLD OUT</span>
        <a href='#' class='BIS_trigger collection-notify' data-product-data='{{ product | json | replace : "'" : ""}}'>
          Email Me When Available
        </a>

    {% else %}

        <div class="shopify-product-reviews-badge" data-id="{{product.id}}"></div>
        <a href="#" data-variant-id="{{ product.variants.first.id }}" class="add-to-cart btn btn-primary btn-xs">Add to Cart</a>

        <a href="#product-{{ product.id }}" data-productid="{{ product.id }}" data-handle="{{ product.handle }}" data-url="{{ product.url | within: collection }}" class="button-quick btn btn-primary btn-xs quickv">
          <i class="fa fa-eye fa-fw"></i><span class="hidden-xs"></span>QUICK VIEW
        </a>

    {% endunless %}

  </div>
{% endfor %}
{% include 'pagination' %}
{% else %}
<p>{% include '__localize' with 'No products found.' %}</p>
{% endif %}
{% endpaginate %}


{% comment %}{% if product.metafields.Products.info %}{{ product.metafields.Products.info }} &#8226; {% endif %}{% endcomment %}
