{% if  product-loop.selected_or_first_available_variant.title == '1+ / Default' %}
  <span class="money" itemprop="price">
   {{  product-loop.selected_or_first_available_variant.price  | money_with_currency  }}
  </span>
{% else %}
            <span class="money" itemprop="price">
                {% if settings.show-currency-with-prices == "with-currency" %}
                   {{ product-price | money_with_currency }}
                {% else %}
                    {{ product-price | money }}
                {% endif %}
            </span>

            {% if settings.append-plus-taxes-to-price %}
            <small class="text-muted"> 
               {% include '__localize' with 'plus taxes' %}
            </small> 
        {% endif %}
{% endif %}
