<!-- product-loop-newCollections.liquid -->
{% assign selected_or_first_variant = the_product.selected_or_first_available_variant %}
<div class="srp-prod col-centered">
  {% if the_product.images.first %}
    <a class="img-thumb-link" href="{{ the_product.url }}" style="background-image: url({{ the_product.images.first.src | img_url: 'large' }});"></a>
  {% else %}
    <a class="img-thumb-link" href="{{ the_product.url }}">
        <img src="http://placehold.it/240x240" alt="Placeholder image" />
    </a>
  {% endif %}
  <h3><a href="{{ the_product.url }}">{{ the_product.title }}</a></h3>
  {% if the_product.metafields.Products.short-description.size %}
    {% assign short_desc = the_product.metafields.Products.short-description %}
    <p class="srp-desc">{{ short_desc }}</p>
  {% else %}
    {% assign desc = the_product.description | strip_html %}
    <p class="srp-desc">{{ desc | truncatewords: '25' }}</p>
  {% endif %}
  <p><span class="srp-price">{% include 'product-price' with selected_or_first_variant.price %}</span></p>
  {% unless the_product.available %}
  <span class="btn btn-xs btn-purple" style="opacity: 0.7">SOLD OUT</span>
  {% else %}
  <a href="#" data-variant-id="{{ the_product.variants.first.id }}" class="add-to-cart btn btn-primary btn-xs">Add to Cart</a>
     
  
  <a href="#product-{{ product.id }}" data-productid="{{ product.id }}" data-handle="{{ the_product.handle }}" data-url="{{ product.url | within: collection }}" class="button-quick btn btn-primary btn-xs">
    <i class="fa fa-eye fa-fw"></i><span class="hidden-xs"></span>QUICK VIEW
  </a>
        
  
  {% endunless %}
</div>
 