<!-- promotional-modal.liquid -->

<div id="modal" class="modal fade promotional-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></span>
        <img src="{{ 'promotional-modal-image.jpg' | asset_url }}" alt="" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
