<form {% if settings.search-placement != 'sidebar' %}class="navbar-form search"{% endif %} action="/search">
  <div class="input-group">
    <input type="search" name="q" class="form-control search-bar" autocomplete="off" placeholder="{{ 'navigation.search.search-form-placeholder' | t }} query" value="{{ search.terms }}">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" value="{{ 'navigation.search.search-form-button' | t }}">Search</button>
    </span>
  </div>
</form>