{% assign shappify_min = shappify-qb-min-price.price_max %}
{% for variant in shappify-qb-min-price.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

    {% if variant.metafields.shappify_qb.qb_hide == "1" %}{% else %}
        {% if variant.price < shappify_min %}
            {% assign shappify_min = variant.price %}
        {% endif %}
    {% endif %}

{%endunless%}
{%endunless%}
{% endfor %}
{{ shappify_min | money }}
