{% assign shappify_qb_options = '' %}
{% assign shappify_qb_options_count = '0' %}
{% for variant in product.variants %}

{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

    {% if variant.metafields.shappify_qb.qb_hide == "1" %}{% else %}
        {% assign shappify_qb_options_count = shappify_qb_options_count|plus:1 %}
        <div style='display:none' id='variant_html_{{variant.id}}'>{{variant.metafields.shappify_qb.pricing_html}}</div>
    {% endif %}

{%endunless%}
{%endunless%}
{% endfor %}

{% if shappify_qb_options_count > 0 %}
<script>
 var domLoaded = function (callback) {
    /* Internet Explorer */
    /*@cc_on
    @if (@_win32 || @_win64)
    document.write('<script id="ieScriptLoad" defer src="//:"><\/script>');
        document.getElementById('ieScriptLoad').onreadystatechange = function() {
            if (this.readyState == 'complete') {
                callback();
            }
        };
        @end @*/
            /* Mozilla, Chrome, Opera */
        if (document.addEventListener) {
            document.addEventListener('DOMContentLoaded', callback, false);
        }
        /* Safari, iCab, Konqueror */
        else if (/KHTML|WebKit|iCab/i.test(navigator.userAgent)) {
            var DOMLoadTimer = setInterval(function () {
                if (/loaded|complete/i.test(document.readyState)) {
                    callback();
                    clearInterval(DOMLoadTimer);
                }
            }, 10);
        }else{
            /* Other web browsers */
            window.onload = callback;
        }
    };


domLoaded(function() {

  setTimeout(fix_variants, 1000);
  function fix_variants(){
{% for variant in product.variants %}

{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

    {% if variant.metafields.shappify_qb.qb_hide == "1" %}
      {% if variant.metafields.shappify_qb.option1 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option1 | json }}
          }).remove();
      {% endif %}
      {% if variant.metafields.shappify_qb.option2 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option2 | json }}
          }).remove();
      {% endif %}
      {% if variant.metafields.shappify_qb.option3 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option3 | json }}
          }).remove();
      {% endif %}
      {% endif %}

{%endunless%}
{%endunless%}
    {% endfor %}
  }
    jQuery('.single-option-selector').trigger('change');
});
</script>
{% endif %}
