{% assign shappify_qb_options = '' %}
{% assign shappify_qb_options_count = '0' %}
{% for variant in product.variants %}
    {% if variant.metafields.shappify_qb.qb_hide == "1" %}{% else %}
        {% capture shappify_qb_options %}{{shappify_qb_options}} 
        <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
        {% endcapture %}
        {% assign shappify_qb_options_count = shappify_qb_options_count|plus:1 %}
        <div style='display:none' id='variant_html_{{variant.id}}'>{{variant.metafields.shappify_qb.pricing_html}}</div>
    {% endif %}
{% endfor %}


<div style="display:none">
    <select id="product-select" class="hidden">
    </select>
</div>


<div class="shappify-variants-wrapper clearfix" {% if shappify_qb_options_count == 1 %}style="display:none"{% endif %}> 
<select id="shappify-variant-id" name='id'>
{{shappify_qb_options}}
</select>
</div>

{% if shappify_qb_options_count > 1 %}
<script>
 var domLoaded = function (callback) {
    /* Internet Explorer */
    /*@cc_on
    @if (@_win32 || @_win64)
    document.write('<script id="ieScriptLoad" defer src="//:"><\/script>');
        document.getElementById('ieScriptLoad').onreadystatechange = function() {
            if (this.readyState == 'complete') {
                callback();
            }
        };
        @end @*/
            /* Mozilla, Chrome, Opera */
        if (document.addEventListener) {
            document.addEventListener('DOMContentLoaded', callback, false);
        }
        /* Safari, iCab, Konqueror */
        else if (/KHTML|WebKit|iCab/i.test(navigator.userAgent)) {
            var DOMLoadTimer = setInterval(function () {
                if (/loaded|complete/i.test(document.readyState)) {
                    callback();
                    clearInterval(DOMLoadTimer);
                }
            }, 10);
        }else{
            /* Other web browsers */
            window.onload = callback;
        }
    };


domLoaded(function() {
  
  setTimeout(fix_variants, 1000);
  function fix_variants(){
{% for variant in product.variants %}
    {% if variant.metafields.shappify_qb.qb_hide == "1" %}
      {% if variant.metafields.shappify_qb.option1 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option1 | json }}
          }).remove();
      {% endif %}
      {% if variant.metafields.shappify_qb.option2 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option2 | json }}
          }).remove();
      {% endif %}
      {% if variant.metafields.shappify_qb.option3 != "" %}
          jQuery('.single-option-selector option').filter(function() {
            return jQuery(this).text() == {{ variant.option3 | json }}
          }).remove();
      {% endif %}
      {% endif %}
    {% endfor %}
  }
       
//<!-- Buyx -->
//  new Shopify.OptionSelectors("shappify-variant-id", { product: {{ product | json }}, onVariantSelected: selectCallback });
     {% include 'buyx-price-min' with product %} 
    {% if buyx_product_variants_size > 1 and buyx_product_available %}

    {% endif %}

    function buyx_product_json(product) {
         if (product == null) {
              return null
         }
         var variants = []
         //does it have BuyXDiscount option?
         var option_position = -1
         for (var oi = 0, olen = product.options.length; oi < olen; oi++) {
             if (product.options[oi] == "BuyXDiscount") {
                 option_position = oi+1
                 break
             }
         }
         if (option_position == -1) {
             return product
         }
         if (product.options.length > 1) {
              product.options.splice(option_position-1, 1)
         } else {
              product.options[0] = "Title"
         }
         option_position = "option" + option_position
         product.available = false
         for (var vi = 0, vlen = product.variants.length; vi < vlen; vi++) {
             if (product.variants[vi][option_position] == "Default") {
                 //product.variants[vi][option_position] = ""
                 variants.push(product.variants[vi])
                 product.available = product.available || product.variants[vi].available
             }
         }
         product.variants = variants
         return product
      }

      new Shopify.OptionSelectors(..., { product: buyx_product_json({{ product | json }}) 
       
       //       <!-- Buyx -->
       
       
       
       
       
       
       
       
       
       
       
    jQuery('.single-option-selector').trigger('change');
});
</script>
{% endif %}