{% if has_sidebar %}
  {% if settings[sidebar_template] %}
    <aside class="sidebar {% include '__sidebar-span' %}">
      <!-- ... {{ collection.handle }}
      {% assign collection_of_collection = nil %}
      {% for ll in linklists %}
        {% for link in ll.links %}
          {% if collection.handle == link.handle %}{% assign collection_of_collection = ll.handle %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      -->
      {% assign linklist_handle = collection_of_collection %}
      {% comment %}{% include 'navbar-collections' with linklist_handle %}{% endcomment %}
      <div class="collections-navbar">
        <span class="collapse-collections-navbar" data-ta-collapse="collections-navbar"><i class="fa fa-bars"></i> &nbsp;<span>Show Collection Nav</span></span>
        <ul data-ta-collapse-target="collections-navbar">
          <!-- ,,, bug {{ collection.handle }} {% for l in linklists.store-menu.links %}
          {{ l.handle }} # {{ l.title }} # {% if l.handle == collection_of_collection %}<li><a href="#">{{ l.title }}</a></li>{% endif %}
          {% for lmn in linklists[l.handle] %}{{ lmn }} > {{ lmn.handle }} > {% if lmn.handle == collection.handle %}<li><a href="#">{{ lmn.title }}</a></li>{% endif %}, {% endfor %}
          {% endfor %} -->

          {% comment %}
          {% for l in linklists %}{% if l.handle == collection_of_collection %}<li><a href="#">{{ l.title }}</a></li>{% endif %}, {% endfor %}
          {% endcomment %}
          <li><a href="{{ pages[collection_of_collection].url }}">{{ collections[collection_of_collection].title }}</a></li>
          {% for link in linklists[collection_of_collection].links %}
          <li {% if collection.handle == link.handle %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="sidebar-content">
        {% if settings.logo-placement == 'sidebar' %}<div class="hidden-xs">{% include 'brand' %}</div>{% endif %}

        {% if settings.search-placement == 'sidebar' %}
          {% include 'search-form' %}
        {% endif %}

        {% comment %}{% if settings.tag-placement == 'sidebar' and template contains 'collection' %}
        <h3>{{ 'navigation.tags.sidebar-tag-filter-title' | t }}</h3>
        {% include 'tag-buttons' %}
        {% endif %}{% endcomment %}

        {% unless linklists[settings.sidebar-linklist] == empty %}
        	{% assign s_linklist = settings.sidebar-linklist %}
        	{% if collection.metafields.sidebar.linklist != blank %}
        	{% assign s_linklist = collection.metafields.sidebar.linklist %}
        	{% endif %}
          <h3>{{ linklists[s_linklist].title }}</h3>
          {% include 'sidebar-nav' with linklists[s_linklist] %}
        {% endunless %}

        {% unless linklists[settings.sidebar-items-linklist] == empty %}
          <h3>{{ linklists[settings.sidebar-items-linklist].title }}</h3>
          {% assign thumbnails_disabled = true %}
          {% for i in linklists[settings.sidebar-items-linklist].links %}
            {% if i.object.products.size > 0 %}
              {% include 'collection-loop' with i.object %}
            {% endif %}
            {% if i.object.price > 0 %}
              {% include 'product-loop' with i.object %}
            {% endif %}
          {% endfor %}
          {% assign thumbnails_disabled = nil %}
        {% endunless %}

        {% if template == 'blog' or template == 'article' %}
          <h3>{{ 'blog.sidebar-blog-list-title' | t }}</h3>
          {% for a in blog.articles limit:settings.blog-list-limit %}
            {% include 'article-excerpt' %}
          {% endfor %}
        {% endif %}

        {% unless blogs[settings.sidebar-blog] == empty %}
          <h3>{{ blogs[settings.sidebar-blog].title }}</h3>
          {% for a in blogs[settings.sidebar-blog].articles limit:settings.blog-list-limit %}
          <h5>{{ a.title | link_to: a.url, a.title }} <small class="text-muted help-block">{{ a.published_at | date: format: 'short-date' }}</small></h5>
          {% endfor %}
        {% endunless %}

        {% if settings.newsletter-signup-placement == 'sidebar' %}
          {% include 'newsletter-signup-form' %}
        {% endif %}

        {% if settings.social-links-placement == 'sidebar' %}
          <hr>
          {% include 'social-links' with 'lg' %}
        {% endif %}
      </div>
    </aside>
  {% endif %}
{% endif %}