{% for i in (i..5) %}
{% assign c = i | plus: 1 %}
{% assign slide = 'slide-' | append: c %}
{% assign active_slide = slide | append: '-active' %}
{% assign slide_image = slide | append: '-image' %}
{% assign slide_image = slide | append: '-image' %}
{% assign slide_heading = slide | append: '-heading' %}
{% assign slide_caption = slide | append: '-caption' %}
{% assign slide_button_text = slide | append: '-button-text' %}
{% assign slide_button_link = slide | append: '-button-link' %}

{% if settings[active_slide] %}
{% capture indicators %}{{ indicators }}<li data-target="#myCarousel" data-slide-to="{{slide_count}}"{% if slide_count == 0 %} class="active"{% endif %}></li>{% endcapture %}
{% capture items %}{{ items }}
<div id="{{ slide }}" class="item{% if slide_count == 0 %} active{% endif %}">
  {% if settings[slide_button_link] != blank %}<a href="{{ settings[slide_button_link] }}">{% endif %}
  <img src="{{ slide_image | append: '.jpg' | asset_url }}" alt="{% if settings[slide_heading] %}{{ settings[slide_heading] }}{% else %}Slide {{slide_count}}{% endif %}">
  {% if settings[slide_button_link] != blank %}</a>{% endif %}
  {% if settings[slide_heading] or settings[slide_caption] %}
  <div class="carousel-caption">
    {% if settings[slide_heading] != blank %}<h2>{{ settings[slide_heading] }}</h2>{% endif %}
    {% if settings[slide_caption] != blank %}<p class="lead">{{ settings[slide_caption] }}</p>{% endif %}
    {% if settings[slide_button_text] != blank and settings[slide_button_link] != blank %}
    <p>
      <a href="{{ settings[slide_button_link] }}" class="btn btn-primary btn-lg">{{ settings[slide_button_text] }}</a>
    </p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endcapture %}
{% assign slide_count = slide_count | plus: 1 %}
{% endif %}
{% endfor %}