{% capture indicators %}{% endcapture %}
{% capture items %}{% endcapture %}
{% assign slide_count = 0 %}

{% if slider %}

{% for slide in slider.products %}
{% capture indicators %}{{ indicators }}<li data-target="#myCarousel" data-slide-to="{{slide_count}}"{% if slide_count == 0 %} class="active"{% endif %}></li>{% endcapture %}
{% capture items %}{{ items }}
<div id="{{ 'slide-' | append: slide_count }}" draggable="true" class="item{% if slide_count == 0 %} active{% endif %}">
  <a href="{{ slide.url }}" title="View {{ slide.title }}">{{ slide.featured_image.src | product_img_url: '2048x2048' | img_tag: slide.featured_image.alt }}</a>
  <div class="carousel-caption">
    <h2>{{ slide.title }}</h2>
    {% assign vendor_handle = slide.vendor | handleize %}
    {% unless slider.handle == vendor_handle %}<p class="lead">{{ 'carousel.product-slide.vendor-attribution' | t: vendor: slide.vendor }}</p>{% endunless %}
    <p><a href="{{ slide.url }}" class="btn btn-primary btn-lg">{{ 'carousel.product-slide.call-to-action-button' | t: product_title: slide.title }}</a></p>
  </div>
</div>
{% endcapture %}
{% assign slide_count = slide_count | plus: 1 %}
{% endfor %}
  
{% else %}

{% if settings.show-slider %}
{% if blogs[settings.slide-blog].articles.size > 0 %}
{% include 'slider-blog-slider' %}
{% else %}
{% include 'slider-static-slider' %}
{% endif %}
{% endif %}
{% endif %}

{% if slide_count > 0 %}
<div id="myCarousel" class="carousel slide{% if settings.carousel-transition == 'fade' %} carousel-fade{% endif %}" data-current-slide="slide-1"{% if settings.auto-play-slider %} data-ride="carousel"{% endif %} data-interval="{{ settings.carousel-speed }}">
  <!-- Indicators -->
  {% if slide_count > 1 %}
  <ol class="carousel-indicators">
    {{ indicators }}
  </ol>
  {% endif %}
  
  
  <div class="slides-wrapper"></div>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {{ items }}
  </div>
  
  <!-- Controls -->
  {% if slide_count > 1 %}
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="fa fa-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="fa fa-chevron-right"></span>
  </a>
  {% endif %}
</div>
{% endif %}