<script type="text/javascript">
$(function(){
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'argotea',
        clientId: '132db65fa0604a14b2ba1e7535355ba0',
      	limit: 1,
    	resolution: 'standard_resolution'
    });
    feed.run(); 
});  
</script>

<div id="instafeed"></div>
