{{ 'twitterPosts.js' | asset_url | script_tag }}
<div class="row social-feeds" style="margin-top:100px;">
    <div class="col-md-4 facebook">
        <h2>Facebook</h2>
        <div class="facebookfeed equalize">
          {% include 'module-facebook' %}
        </div>
    </div>
    <div class="col-md-4 twitter">
       <h2>Tweets</h2>
       <div id="twittermod" class="equalize"></div>
    </div>
    <div class="col-md-4 instagram">
        <h2>Instagram</h2>
        {% include 'module-instagram-carousel' %}
    </div>
</div>
