{% assign social_links = 'dribbble email instagram twitter facebook flickr foursquare github google-plus linkedin pinterest rss skype stack-exchange stack-overflow tumblr vimeo youtube' | split: ' ' %}
{% for link in social_links %}
  {% assign social_link = link | prepend: 'social-links-' %}
  {% unless settings[social_link] == blank %}
    {% assign link_href = settings[social_link] %}
    {% assign icon = link %}

    {% case link %}
    {% when 'email' %}
      {% assign link_href = settings[social_link] | prepend: 'mailto:' %}
      {% assign icon = 'envelope' %}
    {% when 'rss' %}
      {% assign blog_rss = settings[social_link] %}
      {% if blogs[blog_rss].url != blank %}
        {% assign link_href = blogs[blog_rss].url | append: '.atom' %}
      {% else %}
        {% assign link_href = '' %}
      {% endif %}
    {% when 'vimeo' %}
      {% assign icon = icon | append: '-square' %}
    {% endcase %}

    {% if link_href != blank %}
    <a href="{{ link_href }}" title="{{ link }}" target="_blank">
    	<i class="fa fa-{{ icon }} fa-fw {% if social-links %}fa-{{ social-links }}{% endif %}"></i>
    </a>
    {% endif %}
  {% endunless %}
{% endfor %}