{% if collection.handle == 'holiday-collection-2017' %}
        {% if the_product.title == 'Subscription' %}
                {% for variant in the_product.variants %}
                    <div class="col-xs-6 col-md-4 srp-prod col-centered" >
                        <a class="img-thumb-link subscription-img" href="{{ the_product.url }}#{{variant.title | split: ' ' | first  | downcase}}" style="background-image: url({{ the_product.featured_image | img_url: 'master'}});"></a>       
                        <h3 style="min-height: 40px;">
                            <a  href="{{ the_product.url }}#{{variant.title | split: ' ' | first  | downcase}}" >
                                {{variant.title }}
                            </a>
                        </h3>
                        <p>
                            {% if variant.title contains 6 %}
                                <span class="srp-price">
                                    <span class="money">
                                        {{variant.price | times: 2 | money }}
                                    </span>
                                </span>
                            {% else %}
                                <span class="srp-price">
                                    <span class="money">
                                        {{variant.price | times: 4 | money }}
                                    </span>
                                </span>
                            {% endif %}
                        </p>
                         {% if variant.title == 'Garden Direct 6 months' %}
                               <button type="button" class="add-to-cart btn btn-primary btn-xs"onclick="window.location='https://argotea-2.myshopify.com/tools/checkout/buy_button/add_to_cart?p=9998110150&v=39667433606&g=18887&fn=3&ft=3&dp=$ 64.50&rdp=1&rup=6450&tr=2&ip=1&pli=51961'">Subscribe Now!</button>
                         {% elsif variant.title == 'Garden Direct 12 months' %}
                                <button type="button" class="add-to-cart btn btn-primary btn-xs" onclick="window.location='https://argotea-2.myshopify.com/tools/checkout/buy_button/add_to_cart?p=9998110150&v=39667433734&g=18887&fn=3&ft=3&dp=$ 59.75&rdp=1&rup=5975&tr=4&ip=1&pli=51962'">Subscribe Now!</button>
                         {% elsif variant.title == 'Signature Blends 6 months' %}
                               <button type="button" class="add-to-cart btn btn-primary btn-xs" onclick="window.location='https://argotea-2.myshopify.com/tools/checkout/buy_button/add_to_cart?p=9998110150&v=39667433798&g=18887&fn=3&ft=3&dp=$ 39.50&rdp=1&rup=3950&tr=2&ip=1&pli=51961'">Subscribe Now!</button>
                         {% elsif variant.title == 'Signature Blends 12 months' %}
                                <button type="button" class="add-to-cart btn btn-primary btn-xs" onclick="window.location='https://argotea-2.myshopify.com/tools/checkout/buy_button/add_to_cart?p=9998110150&v=39667433926&g=18887&fn=3&ft=3&dp=$ 37.25&rdp=1&rup=3725&tr=4&ip=1&pli=51962'">Subscribe Now!</button>
                         {% endif %}
                    </div>
                {% endfor %}
        {% endif %}
{% endif %}
 