    {% if step == 'item_row_class' %}
    {% if i.properties._options_group_id %}options-group group-id-{{ i.properties._options_group_id }}{% endif %}
    {% if i.properties._options_hidden %} options-hidden{% endif %}
    {% endif %}

    {% if step == 'money_line' %}
        {% if i.properties._options_group_id and i.properties._options_hidden == nil %}
        {% assign guid = i.properties["_options_group_id"] %}
        {% for item2 in cart.items %}
{%- include 'bold-cart-item' with item -%}
            {% if item2.properties._options_hidden and item2.properties["_options_group_id"] == guid %}
            <div class="options-additional-item">
                + <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>{{ item2.line_price | money }}
            </div>
            {% endif %}
        {% endfor %}
        {% endif %} 
    {% endif %}