{% if settings.newsletter-platform == "campaign-monitor" %}
  {% capture email_name %}cm-{{ settings.newsletter-form-action-url | split: '/' | last }}-{{ settings.newsletter-form-action-url | split: '/' | last }}{% endcapture %}
{% elsif settings.newsletter-platform == "mailchimp" %}
  {% assign email_name = 'EMAIL' %}
{% else %}
  {% assign email_name = 'contact[email]' %}
{% endif %}
{% capture fields %}<input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
<div class="input-group">
  <input id="fieldEmail" name="{{ email_name }}" class="form-control" type="email" placeholder="{{ 'social.newsletter.sign-up-form-placeholder' | t }}" />
  <span class="input-group-btn"><button type="submit" class="btn btn-signup">{{ 'social.newsletter.sign-up-form-button' | t }}</button></span>
</div>{% endcapture %}

{% capture form %}
  <div class="newsletter-form">
  {% if settings.newsletter-platform == "campaign-monitor" %}
    <form action="{{ settings.newsletter-form-action-url }}?callback=?" method="post">
      {{ fields }}
    </form>
  {% elsif settings.newsletter-platform == "mailchimp" %}
    <form action="{{ settings.newsletter-form-action-url | replace: '/post?','/post-json?' | append: '&amp;c=?' }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact-form">
      {{ fields }}
    </form>
  {% else %}
    {% form 'customer' %}
      {{ fields }}
    {% endform %}
  {% endif %}
  </div>
{% endcapture %}

<div class="form-inline">
  {{ form }}
</div>

<script type="text/javascript">
  var removeNewsletterAlert = function($form){
    window.setTimeout(function(){
      $form.find('.alert').hide(186, function(){
        this.remove();
      });
    }, 6000);
  };
  
  var resetNewsletterForm = function($form){
    $form.find('[type="submit"]').prop('disabled', false);
    $form.find('#fieldEmail').val('');
    removeNewsletterAlert($form);
  };

  $(document).on('submit', '.newsletter-form > form', function(e){
    var $form = $(this);
    e.preventDefault();
    $form.find('[type="submit"]').prop('disabled', true);
    if($form.find('#fieldEmail').val() !== ''){
      $.ajax({
        type: 'POST',
        {% unless settings.newsletter-platform == "shopify" %} dataType: 'json', {% endunless %}
        url: $form.prop('action'),
        data: $form.serialize()
      })
      .done(function(result){
        $form.prepend('<div class="alert alert-success">{{ "social.newsletter.sign-up-form-success-message" | t }}</div>');
        resetNewsletterForm($form);
      })
      .fail(function(err){
        console.log('err: ', err);
        $form.prepend('<div class="alert alert-danger">{{ "social.newsletter.sign-up-form-error-message" | t }}</div>');
        resetNewsletterForm($form);
      });
    }
  });
</script>