<script>
  function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
      }
      return "";
  }
  var delete_cookie = function(name) {
    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
};
  var levelup=getCookie("levelup");
  if(levelup!=''){
    delete_cookie('levelup');
    window.location.href ='/cart?login=on';
  }
</script>
<section id="account" class="section-wrap">
{% include '__containers-open' %}
<div id="admin_header">
  <h1 class="page-header">Account Details and Order History</h1>
</div>

<div id="customer_details">
  <div class="well">
    <h4>{{ customer.name }}</h4>
    <p><a href="/tools/checkout/front_end/login" class="text-link">Manage Subscription</a></p>

    <dl class="dl-horizontal-left">
      <dt>Email:</dt>
      <dd>{{ customer.email }}</dd>
      <dt>Default Phone:</dt>
      <dd>{% if customer.default_address.phone %}{{ customer.default_address.phone }}{% else %}<span class="text-muted">No default phone number set</span>{% endif %}</dd>
      <dt>Default Address:</dt>
      <dd>
        {% if customer.default_address != nil %}
        <adddress>
          {{ customer.default_address.address1 }}<br>
          {% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}<br>{% endif %}
          {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
          {{ customer.default_address.zip}}<br>
        </adddress>
        {% else %}
          <span class="text-muted">No default address set</span><br>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
      </dd>
    </dl>
  </div>
</div>

<div id="customer_orders">
  <h3>Orders</h3>

  {% if customer.orders.size != 0 %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="order_number">Order</th>
          <th class="date">Date</th>
          <th class="payment_status">Payment Status</th>
          <th class="fulfillment_status">Fulfillment Status</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order danger{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> You haven't placed any orders yet.</div>
  {% endif %}
</div>
{% include '__containers-close' %}
</section>
