<!DOCTYPE html>
<html>
<head>
  {% include 'meta' %}


<link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon.png' | asset_url}}">
<link rel="icon" type="image/png" href="{{'favicon-32x32.png' | asset_url}}" sizes="32x32">
<link rel="icon" type="image/png" href="{{'favicon-16x16.png' | asset_url}}" sizes="16x16">
<link rel="manifest" href="{{'manifest.json' | asset_url}}">
<link rel="mask-icon" href="{{'safari-pinned-tab.svg' | asset_url}}" color="#5bbad5">
<link rel="shortcut icon" href="{{'favicon.ico' | asset_url}}">
<meta name="msapplication-config" content="{{'browserconfig.xml' | asset_url}}">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="czIa_oPN4fUjfXOd-ECJjazelhls9Vw1EZx1e_GdvRc" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900' rel='stylesheet' type='text/css'>
  {{ '_base.scss.css' | asset_url | stylesheet_tag }}
  {{ 'lightgallery.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400i' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KST2DCS');</script>
<!-- End Google Tag Manager -->
  
  <!-- Errorception -->
  <script>
    (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
    c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
    c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
    _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
    (window,document,"script","55fe8fc1e98db3ed2c000445");
  </script>


  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | script_tag }}

  <!-- Magnific Popup --->
  {{ 'jquery.magnific-popup.js' | asset_url | script_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
  <!-- Magnific Popup --->


  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% assign respond_js_secret_key = (shop.domain | md5) %}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}
 {{ 'levelup_payment.js' | asset_url | script_tag }}
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {% if template contains 'communitea' %}
	{{ 'instafeed.min.js' | asset_url | script_tag }}
  {% endif %}
  {% if settings.custom-header-code != '' %}
    {{ settings.custom-header-code }}
  {% endif %}

  {{ content_for_header }}
{{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}

{% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
{% include 'bold-product' with product, hide_action: 'header' %}


{% include 'bold-common' %}


  {% include 'theme-script-variables' %}
  {% include 'theme-variables' %}

<!-- threads.io -->
<script type="text/javascript">
!function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)}
threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0",
threads.load("voKwTf"),
threads.page()}}(window,document);
</script>

{% include 'discount-from-url-head-code' %}


{% include 'sca.freegifts' %}
</head>

<!--[if IE]><body class="{% include '__body-classes' %} ie"> <![endif]-->
<!--[if !(IE)]><!--> <body class="{% include '__body-classes' %}"> <!--<![endif]-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KST2DCS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'discount-from-url-body-code' %}

  

	{% if template contains 'communitea' %}
  		<div id="fb-root"></div>
        <script>
            (function(d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
        </script>
  	{% endif %}
  <div id="wrap">
    {% comment %} <!-- Removing top navbar -->
    {% include 'navbar' with 'top' %}
    {% endcomment %}

    {% include 'navbar-mobile-new' %}

    {% comment %}
    	{% include 'navbar-top-new' %}
    	{% include 'navbar-mobile' %}
    {% endcomment %}

    <div id="content">
      {% if settings.logo-placement == "above-main-content" %}{% include 'brand' %}{% endif %}
    	{% if has_main_menu %}
    	<div class="container">
    		{% include 'navbar' with 'main' %}
    	</div>
    	{% endif %}
      {% if settings.slider-width == "window-width" and template == "index" %}{% include 'slider' %}{% elsif settings.slider-width == "window-width" %}{% include 'banner' %}{% endif %}


    {% if collection.handle != 'unsweetened' %}
    {% if has_sidebar and settings[sidebar_template] %}
      {% unless has_window_width_thumbnail_container %}<div class="container"><div class="row collection-bg">{% endunless %}
      <div class="main-content {% include '__main-span' %}">
        {% if settings.slider-width != "window-width" or settings.show-breadcrumbs %}
        <div class="container">
          {% if settings.slider-width == "site-width" and template == "index" %}{% include 'slider' %}{% elsif settings.slider-width == "site-width" %}{% include 'banner' %}{% endif %}
          {% if settings.show-breadcrumbs and template != 'index' %}{% include 'breadcrumbs' %}{% endif %}
        </div>
        {% endif %}
    {% endif %}
		{% endif %}
		{% if settings.slider-width == "main-content-width" and template == "index" %}{% include 'owl-carousel' %}{% elsif settings.slider-width == "main-content-width" %}{% include 'banner' %}{% endif %}

		{{ content_for_layout }}

    {% if collection.handle != 'unsweetened' %}
		{% if has_sidebar and settings[sidebar_template] %}
			</div>
			{% include 'sidebar' %}
			{% unless has_window_width_thumbnail_container %}</div></div>{% endunless %}
    {% endif %}
		{% endif %}
    </div>
    {% include 'footer' %}


     {% comment %} Quick View  {% endcomment %}


     {% if template contains  'collection'  or template contains  'tea-sachet-ex' %}
        {% include 'quickview' %}

     {% endif %}

     {% if template contains  'collection' or template contains  'tea-sachet-ex' %}
        {{ 'quickview.js' | asset_url | script_tag }}
     {% endif %}

     {% comment %} End Quick View {% endcomment %}


  </div>



  <div class="mobile-search-controls">
    <a href="#"><i class="fa fa-search"></i></a>
    {% include 'search-form' %}
  </div>


  <!-- Email List Modal (called from footer) -->
  <div class="modal fade" id="mailing-list-modal" tabindex="-1" role="dialog" aria-labelledby="mailingListModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">JOIN OUR EMAIL LIST</h4>
        </div>
        <div class="modal-body">
          <div class="sendgrid-subscription-widget" data-token="LQMvVIvFYuwisxkBksB1cW2V0tQmJJF713BhZsQfWIC4W%2BRlTZHL8WEAqZuqtdMwLs6qAiJkjuv4ZtvtCtOaLg%3D%3D"></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");</script>
        </div>
        {% comment %}<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">JOIN</button>
        </div>{% endcomment %}
      </div>
    </div>
  </div>
{% include 'subscribe-popup' %}
{% comment %}
  <div class="" id="welcome-modal">
    <div class="wmodal-dialog">
      <div class="wmodal-content">
        <div class="wmodal-body">
          <span class="close-modal"><i class="fa fa-times"></i></span>
          <div class="box">
            <h3><span>RECEIVE</span>
              Exclusive Specials</h3>
            <p>Save <strong>10% OFF</strong> on your first order! Opt-in to receive exclusive deals and promotions from Argo Tea.</p>
            <div class="sendgrid-subscription-widget" data-token="hW1k94bFu3GWe%2FFdjU7W5eg76%2BOBScqeMNCBTYAJUL%2BQxGY003rncx4cWKPjzRgnDOTIZK%2BQfwism60nE1X0WA%3D%3D"></div>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");</script>
            <div class="wmodal-follow">
              Follow Us for Even More!<br />
              <a href="https://instagram.com/argotea/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="http://www.twitter.com/argotea" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="http://www.facebook.com/argotea" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}

  {% if settings.show-promotional-modal %}
  {% include 'promotional-modal' %}
  {% endif %}

  {% include 'option-select-callback' %}
  {% include 'currencies' %}
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'jquery.ajax-cart.min.js' | asset_url | script_tag }}
  {{ 'jquery.uniform_thumbnails.min.js' | asset_url | script_tag }}
  {{ 'jquery.orderly.min.js' | asset_url | script_tag }}
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tab.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  {{ 'jquery.instagram.min.js' | asset_url | script_tag }}
  {{ 'jquery.onImagesLoad.min.js' | asset_url | script_tag }}
  {{ 'handlebars-v4.0.2.js' | asset_url | script_tag }}
  {{ 'jquery.pick.js' | asset_url | script_tag }}
  {{ 'lightgallery.min.js' | asset_url | script_tag }}
  {{ 'lg-thumbnail.min.js' | asset_url | script_tag }}
  {{ 'lg-fullscreen.min.js' | asset_url | script_tag }}
  {{ 'behaviorAT.js' | asset_url | script_tag }}
  {{ 'locations.js' | asset_url | script_tag }}
  {{ 'scripts.min.js' | asset_url | script_tag }}
  {{ 'pace.min.js' | asset_url | script_tag }}
  {{ 'jquery.matchHeight-min.js' | asset_url | script_tag }}

  {% if settings.enable-image-zoom %}{{ 'jquery.zoom.min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-image-lightbox %}{{ 'jquery.colorbox-min.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable-age-verification %}{% include 'age-check' %}{% endif %}
 
{% comment %}
  {{ 'superembed.js' | asset_url | script_tag }}
{% endcomment %}

  {% if settings.custom-footer-code != '' %}
    {{ settings.custom-footer-code }}
  {% endif %}

  <script type="text/javascript">
    {% unless current_handle == blank %}
      $('.handle_{{ current_handle }}').parents('.collapse').addClass('in');
    {% endunless %}

  	{% if settings.instagram-feed and settings.instagram-client-id != blank %}
  	  if(instagramThumbnailClass === undefined){
    		var instagramThumbnailClass = "{% include '__thumbnail-span' %}";
    	}
    	$(function(){
  			$('#instagram-widget').bootstrapifyInstagram({
  				thumbClass: instagramThumbnailClass
  			});
  		});
  	{% endif %}

    {% if thumbnail_layout == 'masonry' %}
      var $container = $('.masonry-collection').imagesLoaded(function(){
        $container.isotope({
          itemSelector: '.masonry',
          layoutMode: 'masonry'
        });

        $('.product-main-thumb').orderly();
      });
    {% else %}
    	if(uniformThumbnailElements === undefined){
    		var uniformThumbnailElements = '.thumbnail-image a, .product-main-thumb a';
    	}

      var uniformThumbnailsOpts = {};
      {% if settings.thumbnail-alignment != blank %} uniformThumbnailsOpts.align = '{{ settings.thumbnail-alignment }}'; {% endif %}
      {% if settings.thumbnail-ratio != blank %} uniformThumbnailsOpts.ratio = '{{ settings.thumbnail-ratio }}'; {% endif %}
      {% if settings.thumbnails-cropped == blank %} uniformThumbnailsOpts.fit = 'scale'; {% endif %}
      $(uniformThumbnailElements).uniform_thumbnails(uniformThumbnailsOpts).on('ut_complete', function(){
        //$('.collection-thumbnail .caption').orderly({ method: 'children' });
        //$('.product-thumbnail .caption').orderly({ method: 'children' });
        $('.row').find('.caption').orderly({ method: 'children' });
      });
    {% endif %}

    $(document).ready(function(){

      // replace copyright and trademark
      $('body :not(script)').contents().filter(function() {
          return this.nodeType === 3;
      }).replaceWith(function() {
          return this.nodeValue.replace(/[™®©]/g, '<sup>$&</sup>');
      });


      $('.search-bar').typeahead({
        name: 'Products',
        local: [{{ typeahead }}]
      }).on('typeahead:selected', function (object, datum) {
        $(this).closest('form').submit();
      });
    });

	{% if settings.ajax-cart %}
		$(document).ajaxCart();
	{% endif %}
  </script>
  <script>
    var _learnq = _learnq || [];

    _learnq.push(['account', 'pvSnwe']);

    _learnq.push(['identify', {
      // Change the line below to dynamically print the user's email.
      '$email' : '{{customer.email}}'
    }]);

    (function () {
    var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
    b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
    var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
    })();
  </script>



{% include 'back-in-stock-helper' %}
</body>
</html>