{% include 'theme-variables' %}
<section id="article-wrap" class="section-wrap">
	{% include '__containers-open' %}
	<article class="row">
		<div class="col-xs-12">
			<header class="page-header">
				<h1>{{ article.title }}</h1>
				<div class="excerpt-meta hidden-lg {% unless has_sidebar %} hidden-md{% endunless %}">
					{% include 'article-meta' with article %}
				</div>
			</header>
		</div>
  
		<section class="col-xs-12{% unless has_sidebar %} col-md-9{% endunless %} col-lg-9{% if settings.sidebar-placement == 'right' %} col-md-push-3 col-lg-push-3{% endif %}">
			{% include '__formatted-content' with article.content %}
		</section>
  
		<section class="excerpt-meta visible-lg {% unless has_sidebar %} visible-md{% endunless %} col-xs-12{% unless has_sidebar %} col-md-3{% endunless %} col-lg-3{% if settings.sidebar-placement == 'right' %} col-md-pull-9 col-lg-pull-9{% endif %}">
          {% if article.image %}<div class="thumbnail"><img src="{{ article | img_url: 'medium' }}" alt="" /></div>{% endif %}
          {% include 'article-meta' with article %}
		</section>
  
		{% if article.metafields.social-feed.facebook-album != blank %}
		<section class="col-xs-12">
			{% include 'social-feed-facebook' with article %}
		</section>
		{% endif %}
  
		{% if article.metafields.social-feed.instagram != blank %}
		{% include 'social-feed-instagram' with article %}
		{% endif %}
  
		<footer class="col-xs-12{% if settings.sidebar-placement == 'right' %} col-md-9 col-lg-9 col-md-push-3 col-lg-push-3{% endif %}">
			{% if article.user.bio != blank and settings.show-author-bios == true %}
			<div class="well text-muted">
				<strong>By {{ article.author }}</strong><br>{{ article.user.bio }}
			</div>
			{% endif %}
    
			{% if blog.previous_article or blog.next_article %}
			<ul class="pager">
				{% if blog.previous_article %}<li>{{ '&laquo; Previous' | link_to: blog.previous_article }}</li>{% endif %}
        <li>{{ blog.title | link_to: blog.url }}</li>
				{% if blog.next_article %}<li>{{ 'Next &raquo;' | link_to: blog.next_article }}</li>{% endif %}
			</ul>
			{% endif %}
			<hr>
		</footer>
  
		{% if article.comments_enabled? %}
		<section class="col-xs-12{% unless has_sidebar %} col-md-9{% endunless %} col-lg-9{% if settings.sidebar-placement == 'right' %} col-md-push-3 col-lg-push-3{% endif %}">
			{% include 'article-comments' %}
		</section>
		<div class="col-xs-12{% if settings.sidebar-placement == 'right' %} col-md-9 col-lg-9 col-md-push-3 col-lg-push-3{% endif %}"><hr></div>
		<section class="col-xs-12{% unless has_sidebar %} col-md-9{% endunless %} col-lg-9{% if settings.sidebar-placement == 'right' %} col-md-push-3 col-lg-push-3{% endif %}">
			{% include 'article-comments-form' %}
		</section>
		{% endif %}
	</article>
	{% include '__containers-close' %}
</section>