<script>if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script>
<div id="sca-fg-owl-carousel">
  <div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
    {% comment %}
    <div id="freegift_message" class="owl-carousel"></div>
    {% endcomment %}
  </div>
  <div id="sca-fg-slider-cart" style="display: none;">
    <div class="sca-fg-cart-title">
      <strong>Select your free gift (s)</strong>
    </div>
    <div id="sca_freegift_list" class="owl-carousel"></div>
  </div>
</div>
<div id="sca_fg_cart">

{% include 'theme-variables' %}

<div class="clearfix x3"></div>

<section id="cart-wrap" class="section-wrap">
  {% include '__containers-open' %}
  <h1 class="page-header">{{ page_title }}</h1>
  {% if has_cart and cart.item_count > 0 %}
  <script type="text/javascript">
  function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cart').submit();
  }
  </script>


  <div class="text-left">
	{% if settings.cart-page-content %}
	{{ pages[settings.cart-page-content].content }}
	{% endif %}

    <div class="row qty-brk-msg">
      <div class="col-lg-12">
        <!-- Bold: Quantity Breaks - Step 7 -->
        <div id="shappify-qty-cart-msg"></div>
        <!-- // end Bold code -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
             <!-- Buyx -->
            <div class="buyx-msg"></div>
            {% include 'buyx-cart' %}
            <!-- Buyx -->
        </div>
    </div>

    <span id="cust_email" style="display:none;">{{ customer.email }}</span>
    <form action="/cart" method="post" id="cartform">

    {% include 'discount-from-url-cart-code' %}

      <div class="row">
        <div class="col-md-12">
          <h3>{% include '__localize' with 'Your items' %}</h3>
          <table class="table responsive {% include '__table-formatting' %}">
            <thead>
              <tr>
                <th colspan="2">Items in your cart</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>


              <!-- recurring payments BOLD -->
              <script>mixed_cart = false;</script>


              {% for i in cart.items %}
              {%- include 'bold-cart-item' with item -%}


              {% assign prod_index = forloop.index0 %}
              <input type="hidden" name="product_id[{{ forloop.index0 }}]" value="{{ i.product.id }}">
              <input type="hidden" name="variant_id[{{ forloop.index0 }}]" value="{{ i.variant.id }}">
              <input type="hidden" name="quantity[{{ forloop.index0 }}]" value="{{ i.quantity }}" {{ bold_qty_attr }} >


              <tr
               data-price='<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{{ ro_item_price }}'
               data-item-total='<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price_2" style="display:none !important;"></span>{{ ro_item_price | times: i.quantity }}'
               data-currency='{{ shop.currency }}'
               class="{% include 'w3-product-options', step:'item_row_class' %}"
               data-id="{{i.id}}">
                <td class="col-sm-2 hidden-xs"><img src="{{ i | img_url: 'medium' }}"></td>
                <td class="product-title">

                  <div class="item_levelup item_levelup_{{ forloop.index }}" style="display:none;">
                    <div class="quantity">{{ i.quantity }}</div>
                    <div class="title">
                       {{ i.product.title }}
                    </div>




                    <!-- FIX RO ITEM PRICES -->
                    {% if i.properties.discounted_price != blank %}
                        {% assign ro_price = i.properties.discounted_price %}
                        {% assign ro_first_character = ro_price | remove: ' ' | slice: 0 %}
                        {% assign ro_first_character_test = ro_first_character | plus: 0 %}

                        {% if ro_first_character_test == 0 %}
                            {% assign ro_price = ro_price | remove: ro_first_character %}
                        {% endif %}

                        {% assign ro_item_price = ro_price | split: ' ' | first | times: 100 %}
                        {% assign ro_line_item_price = ro_item_price | times: i.quantity %}

                        {% assign ro_cart_total = ro_cart_total | plus: ro_line_item_price %}

                    {% else %}
                        {% assign ro_item_price = i.price %}
                        {% assign ro_line_item_price = i.ro_line_item_price  %}
                        {% assign ro_cart_total = ro_cart_total | plus: i.line_price %}
                    {% endif %}
                    <!-- END RO ITEM PRICES -->


                    <div class="price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>{{ ro_line_item_price  | money_without_trailing_zeros | replace: '$', ''}}</div>
                    <div class="variant_id">{{ i.id }}</div>line_item.sku
                    <div class="item_sku">{{ i.sku }}</div>
                    <div class="item_type">{{ i.type }}</div>
                  </div>


                  <h4>
                    {{ i.product.title | link_to: i.url }}
                  </h4>

                     <!-- bold-ro-liquid -->
                    {% if i.properties.frequency_num %}
                      <script>mixed_cart = true;</script>
                      <span class="bold_ro_every">Every</span>
                      <input type="hidden" name="{{ prod_index }}[number]" value="{{ i.properties.frequency_num }}" />
                      <span class="bold_ro_frequency_num">{{ i.properties.frequency_num }}</span>
                    {% endif %}
                    {% if i.properties.frequency_type %}
                      <input type="hidden" name="{{ prod_index }}[type_id]" value="{{ i.properties.frequency_type }}" />
                    {% endif %}
                    {% if i.properties.frequency_type_text %}
                      <span class="bold_ro_frequency_type_text">{{ i.properties.frequency_type_text }}</span>
                    {% endif %}
                    {% if i.properties.group_id %}
                      <input type="hidden" name="{{ prod_index }}[group_id]" value="{{ i.properties.group_id }}" />
                    {% endif %}
                    {% comment %}
                    {% if i.properties._ro_unformatted_price %}
                      <br><span class="bold_ro_discounted_price">Discounted Price</span>
                      <span class="discounted_price_in_cart">{{ i.properties._ro_unformatted_price | money }}</span> <span class="bold_ro_each">each</span>
                    {% endif %}
                    {% endcomment %}
                    <!-- bold-ro-liquid -->




                    {% comment %}
                    <p>
                        <small class="text-muted">
                            <dl>
                            {% for p in i.properties %}
                            {% if p.first.first == '_' %}{% continue %}{% endif %}
                            {% unless p.last == blank %}
                            <dt>{{ p.first }}:</dt>
                            <dd>
                                {% if p.last contains '/uploads/' %}
                                <a href="#{{ i.product.handle}}" data-toggle="modal">{{ p.last | split: '/' | last }}</a>
                                <div class="modal fade" id="{{ i.product.handle }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <img src="{{ p.last }}" alt="{{ p.first }}">
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {{ p.last }}
                                {% endif %}
                            </dd>
                            {% endunless %}
                            {% endfor %}
                            </dl>
                        </small>
        			</p>
        			{% endcomment %}



                    <!-- W3 Line Item Properties  -->
                    {% include 'w3-product-options', step:'money_line' %}
                    <!-- Line Item Properties Don't Show In The Cart -->
                        {% assign property_size = i.properties | size %}
                        {% if property_size > 0 %}
                            <p>
                            {% for p in i.properties %}
                                {% if p.first contains "_options" %}
                                  {% continue %}
                                {% endif %}
                                {% unless p.last == blank %}

                                    <!-- do not show the fields of subscription products -->
                                    {% unless p.first contains '_type' or p.first contains '_recurrences' or p.first contains '_num' or p.first contains '_id' %}

                                    <small>{{ p.first }}:</small>
                                    {% if p.last contains '/uploads/' %}
                                        <a target="_blank" href="{{ p.last }}"><small>Link</small></a>
                                        {% else %}
                                        <small>{{ p.last }}</small>
                                    {% endif %}
                                    <br>

                                    {% endunless %}
                                {% endunless %}
                            {% endfor %}
                            </p>
                        {% endif %}
                    <!-- Line Item Properties Don't Show In The Cart -->
                    <!-- W3 Line Item Properties  -->





                </td>
                <td><span class='money'><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price_3" style="display:none !important;"></span>{{ ro_item_price | money_with_currency | replace: ' ','&nbsp' }}    </span>

                </td>
                <td class="text-center col-xs-2 quantity-wrap qty">
                  {% if i.variant.inventory_quantity <= 1 and i.variant.inventory_management == 'shopify' and i.variant.inventory_policy == 'deny' %}
                   <input {%if item.variant.metafields.secomapp.freegifts%}readonly{%endif%}   type="hidden" name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}"/>
                  <p class="text-left">Only <strong>{{ i.quantity }}</strong> available</p>
                  {% else %}
            	    {% include '_product-max-qty' with i.product %}
                  <span class="decrement-qty"><i class="fa fa-minus"></i></span>
                  <input type="number" class="form-control"
                         name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}"
                         min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} onfocus="this.select();"/>
                  <span class="increment-qty"><i class="fa fa-plus"></i></span>
                  {% endif %}
                </td>
                <td class='item-total'>
                  {% assign item_total = ro_item_price | times: i.quantity %}{{ item_total | money_with_currency }}
                  {% include 'w3-product-options', step:'money_line' %}
                </td>
                <td>
                  {% comment %}
                  <a class="text-muted bold-ro-remove" href="#" onclick="remove_item({{ i.variant.id }}); return false;" title="Remove from cart">
                    <i class="fa fa-times"></i>
                  </a>
                  {% endcomment %}


                  <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart bold-ro-remove">
                    <i class="fa fa-times"></i>
                  </a>

                </td>
              </tr>

              {% endfor %}






            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
          <h4>Special instructions or gift message? Enter it here. (No prices are printed on our packing slips.)</h4>
          <div class="collapse in cart-note-action">
            <a href="#cart-note" class="btn btn-primary" data-toggle="collapse">Add note</a>
          </div>
          <div class="collapse cart-note" id="cart-note">
            <textarea id="note" name="note" class="form-control" rows="3">{{ cart.note }}</textarea>
          </div>
        </div>



        <div class="form-actions text-right col-sm-4 col-md-3">
          {% include 'bold-ro-price-fix' %}
          <div class="product-price">
                <small>{% include '__localize' with 'Sub-total' %}</small>
                <span class='money'>
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;">
                  </span>
                  {{ ro_cart_total  | money_with_currency | replace: ' ','&nbsp' }}
                </span>
          </div>

          {% include 'free-shipping-message' %}

		  {% if settings.show-agree-with-terms-and-conditions-checkbox %}
		  {% comment %}Need to tidy this up{% endcomment %}
		  <p style="float:none; text-align:right; clear: both; margin: 10px 0;">
			  <input type="checkbox" id="agree" />
			  <label for="agree">{% include '__localize' with 'I agree with the terms and conditions.' %}</label>
		  </p>
		  {% endif %}

          {% comment %}
          {% if settings.ajax-cart %}
          <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary btn-block" />
          {% else %}
          <div class="btn-group">
            <input type="submit" id="update-cart" name="update" value="{% include '__localize' with 'Update' %}" class="btn btn-default" />
            <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary" />
          </div>
          {% endif %}
          {% endcomment %}


          <div class="btn-group">
            <input type="submit" id="update-cart" name="update" value="{% include '__localize' with 'Update' %}" class="btn btn-default" />
            <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary" />
          </div>

          <!-- <div style="margin-top:20px;text-align: right;">
           	{% if customer %}
            	<input type="button" id="levelup-cart" class="btn btn-primary btn-block levelupcart" name="levelup" value="Payment With Levelup" />
            {% else %}
            	 <input type="button" id="cus_login" class="btn btn-primary" name="Login" value="Login" /> first to pay with LevelUp.
            {% endif %}
          </div> -->


         <!-- recurring payments BOLD -->
        <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
        <input name="email" type="hidden" value="{{ customer.email }}" >
        <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
        <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
        <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
        <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
        <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
        <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
        <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
        <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
        <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
        <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
        {% include 'bold-ro-cart' %}


        </div>
      </div>
    </form>
  </div>

  {% else %}
  {% assign cart_message = 'Your cart is empty' %}
  {% unless has_cart %}{% assign cart_message = 'The shopping cart is currently disabled' %}{% endunless %}
  <p class="lead">
    {% include '__localize' with cart_message %}.{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="/pages/shop">Shop our premium tea and teaware</a>.{% endunless %}
  </p>
  {% endif %}
  {% include '__containers-close' %}
</section>

{% if settings.show-agree-with-terms-and-conditions-checkbox %}
<script type="text/javascript">

$('[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
  if($('#agree').is(':checked')){
    $(this).submit();
  }
  else{
    alert("{% include '__localize' with 'You must agree with the terms and conditions of sales to check out.' %}");
    return false;
  }
});

</script>
{% endif %}
<script type="text/javascript">
	  $(function(){

    $('table.responsive').stacktable();

      $('.qty .increment-qty').click(function(){
        //console.log($('.qty input').attr("value"));
        var $input = $(this).parent().find('input');
        var updt = parseInt($input.attr("value"))+1;
      	//$('.qty input').attr("value",updt).trigger("keyup");
        $input.attr("value",updt);
      });
      $('.qty .decrement-qty').click(function(){
        //console.log($('.qty input').attr("value"));
        var $input = $(this).parent().find('input');
        var updt = parseInt($input.attr("value"))-1;
      	//$('.qty input').attr("value",updt).trigger("keyup");
        if (updt >= 1) {
          $input.attr("value",updt);
        }
      });
  })
</script>



<script>
    jQuery('[max]').change(function() {
      var max = parseInt(jQuery(this).attr('max'), 10);
      if (isNaN(max)) {
        return
      }
      var value = parseInt(jQuery(this).val(), 10) || 0;
      if (value > max) { jQuery(this).val(max); }
    });
    /* change won't trigger on initial load */
    jQuery('[max]').each(function() {
      var max = parseInt(jQuery(this).attr('max'), 10);
      if (isNaN(max)) {
        return
      }
      var value = parseInt(jQuery(this).val(), 10) || 0;
      if (value > max) { jQuery(this).val(max); }
    });
  if (typeof BuyXSubmit == "function") {
    var buyx_checkout_selectors = ["input[name='checkout']", "button[name='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", "[href$='checkout']", ".google-wallet-button-holder", ".amazon-payments-pay-button"];
    window.buyx_cart_global = {{ cart | json }}
    buyx_checkout_selectors.forEach(function(selector) {
        jQuery(selector).bind("click", function() {
          console.log("click")
            return BuyXSubmit(window.buyx_cart_global, "updates_{key}");
            //use appropriate selector for your theme, e.g. "input[data-id={variant_id}]"
        })
    });
  }
</script>

<style>
.buyx-msg {
  color: #F45B4F;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
/*
.buyx-msg a {
  color: #000000;
  text-decoration: underline;
}
*/
.buyx-msg:empty {
  display: none;
}
</style>
<script>
    function refreshCart() {
        $('#update-cart').click();
        return true;
    };
    $(window).load(function () {
        $('#updates_49056082630').attr('oninput','return refreshCart()');
      $('.decrement-qty').attr('onclick','return refreshCart()');
      $('.increment-qty').attr('onclick','return refreshCart()');
    $('.fa-times').attr('onclick','return refreshCart()');
      $('.cart').attr('onclick','return refreshCart()');
    });
</script>
