{% if collection.handle == 'bottled-tea-drinks' %}

<div class="clearfix x2"></div>
<section id="page-wrap" class="section-wrap sb-teas">
  {% include '__containers-open' %}
    <h1 class="page-header">{{ collection.title }}</h1> 
    {% include '__formatted-content' with page.content %}
	
  	{% assign collection-handle = 'bottled-tea-drinks' %}
    {% include 'product-loop-argo' with collection-handle %}
  
    <!-- old theloop
    {% comment %}<div class="row coll-links">
      {% for product in collections.signature-bottled-teas.products %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
      <a href="{{ product.url }}" class="plink-primary col-sm-4">
        {% if product.images.last %}<img src="{{ product.images.first.src | img_url: 'large' }}" class="check-loaded" alt="{{ product.title }}" />{% endif %}
        <h3>{{ product.title }}</h3>
       
      </a>
      {% endfor %}
    </div>{% endcomment %} -->

  {% include '__containers-close' %}
</section>

{% endif %}
