<!-- collection.teaware-accessories.liquid -->

<section id="page-wrap" class="section-wrap lltv-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <h3 class="sr-count"><a href="/collections/gifts">GIFTS</a></h3>

        <div class="filter-lleaf">
          <a {% if collection.handle == 'gift-box-sets' %}class="active"{% endif %} href="/collections/gift-box-sets">GIFT BOX SETS</a>
          <a {% if collection.handle == 'tea-sampler-sets' %}class="active"{% endif %} href="/collections/tea-sampler-sets">TEA SAMPLER SETS</a>
          <!-- <a {% if collection.handle == 'specialtea-sets' %}class="active"{% endif %} href="/collections/specialtea-sets">SPECIALTEA SETS</a> -->
          <a {% if collection.handle == 'gift-cards' %}class="active"{% endif %} href="/collections/gift-cards">GIFT CARDS</a>
          <a href="/pages/new-subscriptions">TEA SUBSCRIPTIONS</a>
          <a href="https://www.thelevelup.com/a/argotea/gift_cards/purchases/new" target="_blank">DIGITAL GIFT CARD</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <!--<h1 class="page-header">{{ page_title }}</h1>-->
        {% include '__formatted-content' with page.content %}

        {% assign products = collection.products %}
        {% include 'product-loop-argo-three-columns' with products %}

        <div class="blank-space"></div>
      </div>
    </div>
  </div>
</section>
