<!-- collection.teaware-accessories.liquid -->


<section id="page-wrap" class="section-wrap lltv-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <h3 class="sr-count"><a href="/collections/teaware-brewing-essentials">TEAWARE &amp; ACCESSORIES</a></h3>

        <div class="filter-lleaf">
          <a {% if collection.handle == 'argo-tea-branded-teaware' %}class="active"{% endif %} href="/collections/argo-tea-branded-teaware">ARGO TEA TEAWARE</a>
          <a {% if collection.handle == 'teapots-pitchers' %}class="active"{% endif %} href="/collections/teapots-pitchers">TEAPOTS &amp; PITCHERS</a>
          <a {% if collection.handle == 'cups-mugs' %}class="active"{% endif %} href="/collections/cups-mugs-tumblers">CUPS, MUGS &amp; TUMBLERS</a>
          <a {% if collection.handle == 'infusers-filters' %}class="active"{% endif %} href="/collections/infusers-filters">INFUSERS &amp; FILTERS</a>
        </div>
      </div>
        <!--<h1 class="page-header">{{ page_title }}</h1>-->
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        {% include '__formatted-content' with page.content %} 
		
        {% assign products = collection.products %}
        {% include 'product-loop-argo-three-columns' with products %}


        <!--<p><small>
          Showing
          {% for tag in collection.tags %}
{%- include 'bold-product' with tag, hide_action: 'skip' -%}
          <span class="label label-info">{{ tag }}</span>
          {% endfor %}
          </small></p>-->

      </div>
    </div>
  </div>
</section>
