<!-- collection.loose-leaf-tea-vault.liquid -->
{% include 'theme-variables' %}

<!-- collection.loose-leaf-tea-vault.liquid -->
{% assign page_has_collections_navbar = false %}
{% for linklist in linklists %}
{% if linklist.handle == page.handle %}{% assign page_has_collections_navbar = true %}{% endif %}
{% endfor %}
{% if page_has_collections_navbar == true %}<!-- ... show navbar -->
{% assign linklist_handle = page.handle %}
{% include 'navbar-collections' with linklist_handle %}
{% else %}


<section id="page-wrap" class="section-wrap lltv-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <div class="sr-count">Showing {{ collection.products.count }} Results</div>

        <div class="filter-lleaf">
          <div class="form-group">
            {% assign tags = 'Black, Oolong, Green, White, Red, Herbal' | split: ',' %}
            <label>TEA TYPES</label>
       
            
            
            
            <select class="coll-filter form-control">
              <option value="">All</option>
              
              {% for t in tags %} 
              {% assign tag = t | strip %}
              {% assign tagNew = tag | downcase  %}
              {% if current_tags contains tagNew  or  current_tags contains tag %}
              <option value="{{ tag | handle }}" selected>{{ tag }}</option>
              {% elsif collection.all_tags contains tag %}
              <option value="{{ tag | handle }}" >{{ tag }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            {% assign tags = 'High Caffeine, Medium Caffeine, Low Caffeine, Caffeine Free' | split: ',' %}
            <label>CAFFEINE LEVEL</label>
            <select class="coll-filter form-control">
              <option value="">All</option>
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% if current_tags contains tag %}
              <option value="{{ tag | handle }}" selected>{{ tag }}</option>
              {% elsif collection.all_tags contains tag %}
              <option value="{{ tag | handle }}">{{ tag }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            {% assign tags = 'Classic, Citrus, Floral, Fruity, Roasted, Spicy, Tropical' | split: ',' %}
            <label>FLAVOR PROFILE</label>
            <select class="coll-filter form-control">
              <option value="">All</option>
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% if current_tags contains tag %}
              <option value="{{ tag | handle }}" selected>{{ tag }}</option>
              {% elsif collection.all_tags contains tag %}
              <option value="{{ tag | handle }}">{{ tag }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            {% assign tags = 'Garden Direct, Signature Blends, Wellness' | split: ',' %}
            <label>COLLECTION</label>
            <select class="coll-filter form-control">
              <option value="">All</option>
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% if current_tags contains tag %}
              <option value="{{ tag | handle }}" selected>{{ tag }}</option>
              {% elsif collection.all_tags contains tag %}
              <option value="{{ tag | handle }}">{{ tag }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <h1 class="page-header">{{ page_title }}</h1>
        {% include '__formatted-content' with page.content %}

        {% assign products = collection.products %}
        {% include 'product-loop-argo-three-columns' with products %}

      </div>
    </div>
  </div>
</section>
{% endif %}




<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of coll-filter.
     Give your collection select a class of coll-picker.
     Brought to you by Caroline Schnapp. */
    
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
        alert($(this).val()); 
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>
