<!-- page.catering.liquid -->

<section class="catering-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 hidden-xs">
        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/ArgoTea_Catering-Web.jpg?6330883786093326030" alt="" />
      </div>
      <div class="col-md-8 col-sm-9">
        <h1><strong>CATERING</strong>
        FOR YOUR NEXT EVENT</h1>

       <!-- <a href="https://www.argo-central.net:444/catering/" target="_blank" class="btn btn-lg btn-solid btn-round">Click here to login</a>
        <a href="https://www.argo-central.net:444/catering/catering_register.aspx" target="_blank" class="btn btn-lg btn-primary btn-round">Click here to register</a>
        -->

        <div class="page-content">{{ page.content }}</div>

        <ul class="catering-options">
          <li>breakfast & lunch options</li>
          <li>nutritionally balanced</li>
          <li>all natural & freshly prepared</li>
          <li>wholesome ingredients</li>
          <li>vegan & gluten free options</li>
        </ul>

        <ul class="catering-contents">
          <li><strong>SIGNATURE DRINKS</strong> tea + ingredients with purpose</li>
          <li><strong>TEA & COFFEE</strong> classic teas and organic coffee</li>
          <li><strong>BAKERY</strong> fresh baked artisan pastries</li>
          <li><strong>BREAKFAST</strong> fruit filled parfaits or delicious quiches</li>
          <li><strong>PANINI</strong> argo signature flavors on fresh baked baquettes</li>
          <li><strong>GRAINS & SALADS</strong> tea-infused whole grains & salads</li>
        </ul>
      </div>
    </div>
  </div>
</section>
