{% include 'theme-variables' %}

<!-- page.loyaltea-middle-east.liquid -->

<section id="page-wrap" class="section-wrap loyaltea-me-cont">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
    <div class="col-sm-6">
      <div class="header_title">
        <h3>Middle East LoyalTea® Club</h3>
        <p>Welcome to the LoyalTea® Club for our cafes located in the Middle East region! Please register your Card to take <strong>full</strong> advantage of these TEArrific rewards and benefits and use your card at any of our cafes located in Qatar or UAE.</p>
	  </div>
      <div class="items">
        <span class="lme-icon icon-lme1"></span>
        <h3>SEASONAL SPECIALS</h3>
        <p>Enjoy exclusive discounts and specials on food, drinks, loose tea and teaware.</p>
      </div>
      <div class="items">
        <span class="lme-icon icon-lme2"></span>
        <h3>10% OFF FOOD AND DRINK COMBO</h3>
        <p>Purchase any one of our signature drinks along with a Specialtea<sup>&reg;</sup> food item and receive 10% off.</p>
      </div>
      <div class="items">
        <span class="lme-icon icon-lme3"></span>
        <h3>EARLYBIRD SPECIALS</h3>
        <p>Double drink credits on drink purchases before 11am on weekdays at participating cafes.</p>
      </div>
      <div class="items">
        <span class="lme-icon icon-lme4"></span>
        <h3>BIRTHDAY TREAT</h3>
        <p>Free drink during your birthday month.</p>
      </div>
      <div class="items">
        <span class="lme-icon icon-lme5"></span>
        <h3>BUY 10 DRINKS, GET ONE FREE</h3>
        <p>Buy 10 drinks to earn your choice of a free small drink.</p>
      </div>
      <div class="items">
        <span class="lme-icon icon-lme6"></span>
        <h3>BONUS DRINK</h3>
        <p>Get your first drink free when you complete your registration online.</p>
      </div>
    </div>
    <div class="col-sm-6 card">
      <img class="loyaltea-me" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LoyalTea_ClubCard.png?14928124631276480488" alt="" />
      <div class="links">
        <ul class="ls1">
          <li><a class="btn btn-primary" href="https://azadea.myguestaccount.com/guest/accountlogin">LOGIN</a></li>
          <li><a class="btn btn-solid" href="/pages/loyaltea-faq">FAQs</a></li>
        </ul>
        <ul class="ls2">
          <li><a class="btn btn-primary" href="https://azadea.myguestaccount.com/guest/register">REGISTER</a></li>
          <li><a class="btn btn-solid" href="/pages/loyaltea-faq#forgot-card">LOST CARD</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="row feet">
    <div class="col-md-10 col-md-push-1">
    <div class="col-sm-12">
    <p>Please note that this page only applies to Argo Tea cafes located in the Middle East.<br />
      If you are in the US, you can learn more about our LoyalTea Mobile App <a href="https://www.argotea.com/pages/loyaltea-club">here</a>.</p>
    </div>
    </div>
  </div>
</div>
</section>



