<!-- page.illy-coffee.liquid -->
{% include 'theme-variables' %}


<section id="page-wrap" class="section-wrap illy-page">
  <div class="atf">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
          <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/illy-logo.png?11467376296772750551" alt="Illy Coffee logo" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="{{ "banner-illy.jpg" | asset_url }}" alt="Illy Coffee" class="visible-xs" />
          {% include '__formatted-content' with page.content %}
        </div>
      </div>
    </div>
  </div>

  <div class="sep-hdg">
    <h2>
      <span>ESPRESSO AND COFFEE
      <small class="subheading">available hot or iced</small></span>
    </h2>
  </div>

  <div class="container">
    <div class="row icoffees">
      <article class="col-sm-4">
        <div class="spritei sii-house"></div>
        <h3>House Blend Coffee</h3>
        <p>blend of 100% Arabica coffee beans</p>
        <p class="calories">cal 150  &#8226;  200  &#8226;  260</p>
      </article>
      <article class="col-sm-4">
        <div class="spritei sii-macchi"></div>
        <h3>Espresso Macchiato</h3>
        <p>Espresso with a touch of steamed and frothed milk</p>
        <p class="calories">cal 20 &#8226; 40</p>
      </article>
      <article class="col-sm-4">
        <div class="spritei sii-espresso"></div>
        <h3>Espresso</h3>
        <p>illy coffee prepared in it’s purest form</p>
        <p class="calories">cal 5 &#8226; 10</p>
      </article>
    </div>
    <div class="row icoffees">
      <article class="col-sm-4">
        <div class="spritei sii-latte"></div>
        <h3>Caffe Latte</h3>
        <p>espresso mixed with steamed milk and finished with a layer of broth</p>
        <p class="calories">cal 10 &#8226; 15 &#8226; 20</p>
      </article>
      <article class="col-sm-4">
        <div class="spritei sii-mocha"></div>
        <h3>Caffee Mocha</h3>
        <p>espresso blended with thick chocolate and steamed milk</p>
        <p class="calories">cal 190 &#8226; 270 &#8226; 360</p>
      </article>
      <article class="col-sm-4">
        <div class="spritei sii-cappu"></div>
        <h3>Cappuccino</h3>
        <p>espresso blended with steamed and frothed milk</p>
        <p class="calories">cal 60 &#8226; 90 &#8226; 140</p>
      </article>
    </div>
  </div>
</section>

{%comment%}
<div class="floating-panel">
  <div class="red-border">
    <div class="fpanel-x"><i class="fa fa-close"></i></div>
    <h2>SEASONAL<br />SPECIAL</h2>
    <img width="110" height="140" src="{{ 'coffee-popin-image.png' | asset_url }}" alt="Chocolate Mint Latte" />
    <h3>{{ settings.coffee-popin-title }}</h3>
    <p style="padding: 0 20px;">{{ settings.coffee-popin-description }}</p>
    <p class="calories">{{ settings.coffee-popin-calories }}</p>
  </div>
</div>
{%endcomment%}
