<!-- page.our-passion.liquid -->

<main class="container our-passion-page">
  <div class="row">
    <div class="col-md-6">
      <h1>Our Passion Statement</h1>
      <p>We are passionate about bringing teas directly from growers around the world and blending them into unique and delicious signature beverages and teas. We are committed to being a sustainable business by working with the best local and global tea, coffee and food artisans and by contributing back to our communities to promote a healthy lifestyle and the conservation of natural resources.</p>
        
      <h2 class="passion-title">Our Product Philosophy</h2>
      <p>Our Signature Drinks are inspired by creative mixologists and intelligent nutritionists. We freshly brew full-leaf teas and infuse them with fruits, flowers, spices and herbs. These all-natural beverages are always made from real ingredients that are free of artificial flavorings, colors or additives. Our healthy blends are a perfect balance of smart nutrition and craveable taste.</p>
      

        <div class="col-md-6 text-right hidden-lg hidden-md">
          <a class="passions" href="/pages/communitea" data-passion="opp-CommuniTea">
            <img width="66" height="533" src="{{ 'op-communitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
          <a class="passions" href="/pages/diversitea" data-passion="opp-DiversiTea">
            <img width="61" height="533" src="{{ 'op-diversitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
          <a class="passions" href="/pages/charitea" data-passion="opp-ChariTea">
            <img width="59" height="533" src="{{ 'op-charitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
          <a class="passions" href="/pages/qualitea" data-passion="opp-QualiTea">
            <img width="62" height="533" src="{{ 'op-qualitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
          <a class="passions" href="/pages/sustainabilitea" data-passion="opp-SustainabiliTea">
            <img width="60" height="533" src="{{ 'op-sustainabilitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
          <a class="passions" href="/pages/creativitea" data-passion="opp-CreativiTea">
            <img width="61" height="533" src="{{ 'op-creativitea2.png' | asset_url }}" alt="Argo Tea Passions" />
          </a>
        </div>  
      

      <div href="/pages/communitea" class="at-quality opp-CommuniTea">
        <h2>CommuniTea</h2>
        <p>More than a cafe, we are proud of our neighborhood roots at Argo Tea and we are committed to making a difference in our local and global communities. By building and maintaining meaningful partnerships and fostering neighborhood goodwill.</p> 
      </div>

      <div href="/pages/diversitea" class="at-quality opp-DiversiTea">
        <h2>DiversiTea</h2>
        <p>As Varied as our Loose Leaf Teas We promote DiversiTea by empowering our TeaMembers and leveraging customer feedback, which together results in better people, products and business.</p>
      </div>

      <div href="/pages/charitea" class="at-quality opp-ChariTea">
        <h2>ChariTea</h2>
        <p>We’re proud to donate 10% of all proceeds from our seasonal Signature drinks to non-profit organizations.</p>
      </div>

      <div href="/pages/qualitea" class="at-quality opp-QualiTea">
        <h2>QualiTea</h2>
        <p>We commit to all around QualiTea. We’re dedicated to delivering the highest product quality along with relaxing, genuine experience - one customer and one cup at a time.</p>
      </div>

      <div href="/pages/sustainabilitea" class="at-quality opp-SustainabiliTea">
        <h2>SustainabiliTea</h2>
        <p>As green as some tea leaves we are committed to sustainable business practices, and we firmly support the conservation of natural resource by continuously looking for ways to lessen our impact on the environment.</p>
      </div>
 
      <div href="/pages/creativitea" class="at-quality opp-CreativiTea">
        <h2>CreativiTea</h2>
        <p>Let the CreativiTea flow Argo Tea is proud to support our TeaMembers, along with other local artists and musicians in their artistic expression.</p>
      </div>
    </div>
    <div class="col-md-6 text-right hidden-sm hidden-xs">
      <a class="passions" href="/pages/communitea" data-passion="opp-CommuniTea">
        <img width="66" height="533" src="{{ 'op-communitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
      <a class="passions" href="/pages/diversitea" data-passion="opp-DiversiTea">
        <img width="61" height="533" src="{{ 'op-diversitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
      <a class="passions" href="/pages/charitea" data-passion="opp-ChariTea">
        <img width="59" height="533" src="{{ 'op-charitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
      <a class="passions" href="/pages/qualitea" data-passion="opp-QualiTea">
        <img width="62" height="533" src="{{ 'op-qualitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
      <a class="passions" href="/pages/sustainabilitea" data-passion="opp-SustainabiliTea">
        <img width="60" height="533" src="{{ 'op-sustainabilitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
      <a class="passions" href="/pages/creativitea" data-passion="opp-CreativiTea">
        <img width="61" height="533" src="{{ 'op-creativitea.png' | asset_url }}" alt="Argo Tea Passions" />
      </a>
    </div>
  </div>
</main>
