<!-- page.qualitea.liquid -->

<main class="qualitea-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-8 col-xs-12">
          <!--<h1 class="white">QualiTea</h1>
          {% include '__formatted-content' with page.content %}-->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>We are Committed to QualiTea<sup>TM</sup></h2>
        <p>Argo Tea is dedicated to consistently delivering the highest quality products, “one customer and one cup at a time” and to providing the Argo Experience through our innovative, modern approach of rediscovering the diversity and tradition of tea. We stay committed to our values through wholesale partnerships with prominent distribution, foodservice, retail, and hospitality companies that share our values and commitment to quality products and wellness.</p>

        <h3 class="h3-alt">Signature Drinks</h3>
        <p>We offer a unique selection of all natural, nutritionally-balanced Signature Drinks. We blend high QualiTea<sup>TM</sup> loose leaf teas with fruits, juices, flowers, milk and other natural ingredients to create unique and irresistable flavors. We also feature a rotating menu of special Seasonal Signature Drinks that perfectly reflect the natural, fresh flavors of the changing seasons.</p>
        <ul><li><a href="/pages/signature-drinks">View our Signature Drink Menu</a></li></ul>

        <h3 class="h3-alt">Loose Leaf Teas</h3>
        <p>We hand-pick our teas from the best growers around the world to ensure that we provide our customers with superior QualiTea<sup>TM</sup>. Our blended loose leaf teas are created according to recipes unique to Argo Tea, and are enhanced with only real pieces of fruit, flowers, and other natural ingredients. Our teas are all natural, free of any artificial flavorings, colorings or additives.</p>
        <ul><li><a href="/pages/tea-classics">View our Loose Leaf Tea Menu</a></li></ul>
      </div>

      <div class="col-sm-6 col-xs-12">
        <h2>Signature Service</h2>
        <p>We are dedicated to providing the Argo Experience “one customer, one cup at a time” whether you walk through our cafes doors, visit our online store, or encounter Argo TeaMembers at CommuniTea<sup>TM</sup> events. We go the extra mile to reach out to you, our customer, where you shop, dine, work and travel through the commitment to caring and attention to detail, resulting in a Signature Argo service - one customer and one cup at a time.</p>

        <h2>Fresh, Real and Wholesome Food</h2>
        <p>Our Café SpecialTea Foods are free of trans fats, preservatives and artificial flavors or colors and are made fresh in each store everyday. Café SpecialTeas offer the perfect compliment to your favorite Signature Drink, whether you want just a small snack or a light meal. Let yourself surrender to the enticing aroma of a natural croissant or a muffin, which are always freshly baked in our cafes throughout the day. Would you like us to warm your dark chocolate brownie so that you can enjoy ever so slightly melted, rich dark chocolate with each bite? Our state-of-the-art convection ovens will keep it moist and irresistable, without making it soggy.</p>
        <ul><li><a href="/pages/specialtea-foods">View our SpecialTea Food Menu</a></li></ul>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-sm-6 col-xs-12">
        <div class="video-link"><i class="fa fa-play"></i></div>
      </div> -->
      <div class="col-sm-6 col-xs-12">
        <h2>Conscientious Sourcing</h2>
        <p>We hand-pick our tea growers from around the world to ensure that we provide our customers with superior QualiTea<sup>TM</sup>. Our organic, fair trade and shade grown coffee helps support a better life for farming families through fair prices, direct trade, community development and environmental stewardship. We partner with premier food artisans to supply our cafés with delicious and natural ingredients so that we can offer unique and healthy choices. We work locally and globally with the best companies that share our values and commitment to QualiTea<sup>TM</sup> products</p>
      </div>
    </div>
  </div>
</main>
