<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="introText">
                <span class="brown">Introducing</span>
                <span class="green">Our Curated Tea Subscriptions</span>
            </div>
        </div>
        <div class="col-md-6">
            <a class="tile" style="background-image:url('{{'newTile1.jpg' | asset_url}}')" href="#" id="scrollGarden">
                <div class="tileBtnCnt one">
                    <div class="tileTitle">GARDEN DIRECT COLLECTION</div>
                    <div class="tileBtn btn btn-xs" href="">LEARN MORE</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
           <a class="tile" style="background-image:url('{{'newTile2.jpg' | asset_url}}')" href="#" id="scrollSignature">
                <div class="tileBtnCnt two">
                    <div class="tileTitle">SIGNATURE BLENDS COLLECTION</div>
                    <div class="tileBtn btn btn-xs" href="">LEARN MORE</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile1.png' | asset_url}}')"></div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile2.png' | asset_url}}')">
                <div class="tileText pink"><a href="/pages/guide-to-perfect-brewing">HOW TO BREW THE PERFECT CUP</a></div>
            </div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile3.png' | asset_url}}')"></div>
        </div>
    </div>
</div>
<div class="backSubscr" style="background-image:url('{{'backSbscr.png' | asset_url}}')">
    <div class="container">
       <div class="whiteBg">
            <div class="row">
                <div class="col-md-6">
                    {% for product in collections.new-tea-subscriptions.products limit:1 %}
                        <div class="brownText">Subscribe to the</div>
                        <div class="greenText">GARDEN DIRECT COLLECTION</div>
                        <div class="colContent">{{ product.content }}</div>
                        <div class="pickTitle"><span>PICK YOUR PLAN</span></div>
                        {%comment%}
                        <div class="hideBoldForm">
                            {% include 'bold-ro' with product %}
                        </div>
                        {%endcomment%}
                        <div class="variantBtnsCnt">
                            {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

                                <a class="yellow" href="javascript: void(0);"  data-count="{{forloop.index}}" data-id="{{product.id}}" data-variantid="{{ variant.id }}">{{ variant.title }} &nbsp;&nbsp;•&nbsp;&nbsp; {{ variant.price | money }}</a>

{%endunless%}
{%endunless%}
                            {% endfor %}
                            <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ 'garden-direct-collection.png' | asset_url }}" alt="Garden Direct Collection" class="img-responsive">
                    <a class="transpBtn" href="/collections/loose-leaf-teas/garden-direct">SHOP THE COLLECTION</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="brdSec">
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-md-push-6">
                        <div class="descTextCnt">
                            {% for product in collections.new-tea-subscriptions.products offset:1 %}
                                <div class="brownText">Subscribe to the</div>
                                <div class="greenText">SIGNATURE BLENDS COLLECTION</div>
                                <div class="colContent">{{ product.content }}</div>
                                <div class="pickTitle"><span>PICK YOUR PLAN</span></div>
                                <div class="hideBoldForm">
                                    {% include 'bold-ro' with product %}
                                </div>
                                <div class="variantBtnsCnt">
                                    {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

                                        <a class="pink" href="javascript: void(0);" data-count="{{forloop.index}}" data-id="{{product.id}}" data-variantid="{{ variant.id }}">{{ variant.title }} &nbsp;&nbsp;•&nbsp;&nbsp; {{ variant.price | money }}</a>

{%endunless%}
{%endunless%}
                                    {% endfor %}
                                    <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-md-pull-6">
                        <div class="colImgCnt">
                            <img src="{{ 'signature-blends.png' | asset_url }}" alt="Signature Blends Collection" class="img-responsive">
                            <div class="btnCnt">
                                <a class="btn btn-primary btn-xs" href="/collections/loose-leaf-teas/signature-blends">SHOP THE COLLECTION</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile4.png' | asset_url}}')"></div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile5.png' | asset_url}}')">
                <div class="tileText green"><a href="https://levelupargotea.zendesk.com/hc/en-us?">FREQUENTLY ASKED QUESTIONS</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile6.png' | asset_url}}')"></div>
        </div>
    </div>
</div>

<div class="hidden">
     {%assign prod = all_products['garden-direct-tea-subscription'] %}
     {% include 'form-recurring', product: prod %}


     {%assign prod = all_products['signature-blends-tea-subscription'] %}
     {% include 'form-recurring', product: prod %}
</div>

<script>

jQuery(function($){

    setTimeout(function(){
        //$('.prepaid_checkbox').prop('checked', true);
        $('.prepaid_checkbox').trigger('click');
    },1500);

    $('.variantBtnsCnt a').click(function(e) {
        e.preventDefault();

        //$(".modalBtn").trigger("click");
        var $el = $(e.currentTarget),
            variantID = $el.attr("data-variantid"),
            productID = $el.attr("data-id"),
            counter = $el.attr("data-count"),
            shipments = '',
            $form = $("form[data-id='"+productID+"']"),
            $formSel = $(".product-single__variants",$form);

        $formSel.val( $formSel.find("option[value='"+variantID+"']").val() );

        if(counter == 1){
            shipments = 2;
        }else if(counter == 2){
            shipments = 4;
        }

        $form.find(".limited_length_select").val(shipments);

        $(".btn.addtocart",$form).trigger("click");

        setTimeout(function(){
            location.href = "/cart";
        },600);
    });

});


</script>
