<!-- page.sustainabilitea.liquid -->

<main class="sustainabilitea-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
          <!--<h1 class="white">SustainabiliTea</h1>
          {% include '__formatted-content' with page.content %}-->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p>We believe in maintaining a sustainable operation by committing to earth friendly business practices. We firmly support the conservation of natural resources and look for ways to lessen our impact on the environment.</p>

        <h2>Packaging</h2>
        <p>Our packaging is chosen to fit in line with our sustainabiliTea initiatives and reduce our overall footprint. Our teapot salad containers, sporks and knives are all made from compostable materials. Our shopping bags and the sleeves on our paper cups are made from 100% recycled material. We also encourage customers to take advantage of our “for-here” service to reduce waste.</p>

        <h2>VolunTearing</h2>
        <p>Argo Tea promotes volunteerism and the importance of a strong community. We believe in contributing back to our local and global communities and frequently support organizations in our local area and beyond. All TeaMembers are encouraged to join our company VolunTear Day held at least once a year to create a positive impact on the world outside of our cafés. Individual store locations also organize local neighborhood clean-up events and CommuniTeaTM days.</p>

        <h2>Reduce. Recycle. We Brew.</h2>
        <p>We encourage conservation of the earth’s resources by offering a discount for the use of ceramic mugs for in-café service or the use of personal travel tumblers to enjoy our drinks on-the-go. All customers are encouraged to recycle their cups and other recyclable materials using the recycling receptacles in our cafes when possible.</p>

        <h2>Materials and Equipment</h2>
        <p>Our café equipment is ENERGY STAR® rated; our millwork is fabricated with sustainable materials and practices. We construct our café using metal and wood laminates fabricated with recycled materials, flooring containing 40% post-industrial waste, and water-based low-emitting adhesives and sealants. In addition, we proudly use solid ink (cartridge free) printing and install CFL lighting in cafes and offices whenever possible.</p>
      </div>
      <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/sustainabilitea.jpg?2989422994314275595" alt="" />
      </div>
    </div>
  </div>
</main>
