<!-- page.loyaltea.liquid -->

<img class="hidden-xs" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Website_Header_LoyalTeaApp.jpg?8019616447667810162" alt="" style="width:100%;" />
<img class="visible-xs" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Website_Header_LoyalTeaApp-s.png?8019616447667810162" alt="" />

<main class="loyaltea-page main-content">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        {% include '__formatted-content' with page.content %}
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <!--<h1 style="margin:0"><img width="512" height="195" src="{{ 'loyaltea-heading.png' | asset_url }}" alt="Become RoyalTea" /></h1>-->
        <h2>With the Argo Tea App:</h2>
        <ul>
          <li>Enjoy a $2 credit on us just for downloading!</li>
          <li>Earn TEAriffic rewards as you progress through 4 status levels</li>
          <li>Get $4 credit for every 10 visits ($5 at CelebriTEA &amp; RoyalTEA status)</li>
          <li>Order ahead and prepay right from your phone</li>
          <li>Seamlessly scan to pay at the counter</li>
          <li>Share Argo love with your friends. Send them a $2 credit and when they spend it, you’ll also earn $2</li>
          <li>Gift Cards – Easily send Argo Tea e-gift cards to your friends</li>
        </ul>

        {% comment %}<h2>If You Do Not Own a Smart Phone...</h2>
        <p>You can participate in the Argo Tea LoyalTea® Club by picking up a new LoyalTea® card in one of our participating cafes. Your card will have a QR code on it that is linked to your account. Older Argo Tea LoyalTea® Club plastic cards without this code will not work.</p>
        <p>Activate your account online at <a href="https://www.thelevelup.com/a/argotea" target="_blank">www.argotea.com/activate</a> and start earning your rewards!</p>{% endcomment %}
      </div>


      <div class="col-sm-6 col-xs-12">
        <!--<img width="393" height="195" src="{{ 'loyaltea-migrate.jpg' | asset_url }}" alt="" />-->
        {% comment %}<h2>Already Have a LoyalTea® Club Account?<br />
        Migrate Your Card to the App!</h2>
        <p>Download the app and enter your existing LoyalTea® card number in the Migrate LoyalTea Account page. You can transfer the value of your drink points, accumulated rewards and stored value over to the new program.</p>
        <p>Your points, rewards and stored value will be converted into dollars you can use instantly. We will also use your visit history to increase your status level. Credit is added immediately. Status level updates populate in 24 hours.</p>
        <p>If you have any additional questions about migrating your account to our new program, check out our Migration FAQs.</p>{% endcomment %}

        <h2>Download the App Now!</h2>
        <a href="https://itunes.apple.com/us/app/argo-tea/id918225439?mt=8" target="_blank"><img class="app" src="{{ 'icon-app.png' | asset_url }}" alt=" App at Apple App Store" /></a>
        <a href="https://play.google.com/store/apps/details?id=com.argotea.argotea.android.app&hl=en" target="_blank"><img class="app" src="{{ 'icon-play.png' | asset_url }}" alt="App at Google Play Store" /></a>

        <h2>Questions?</h2>
        <p>If you have questions about the app, please visit our <a href="/faq">FAQs</a>. You can also <a href="mailto:argotea@thelevelup.com">email us</a> or contact Customer Support from within the app for additional assistance.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <h2>Our Four LoyalTea Status Levels:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <img width="270" height="128" src="{{ 'loyaltea-specialtea.png' | asset_url }}" alt="SpecialTea" />
        <em>Welcome to the LoyalTea Club!</em>
        <ul>
          <li>Free WiFi</li>
          <li>Customized Offers</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <img width="270" height="128" src="{{ 'loyaltea-prioritea.png' | asset_url }}" alt="PrioriTea" />
        <em>Recognition after 5 visits</em>
        <ul>
          <li>Visit 10 times, get $4 credit</li>
          <li>Free drink (up to $5) on birthday)</li>
          <li>Free WiFi</li>
          <li>Customized Offers</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <img width="270" height="128" src="{{ 'loyaltea-celebritea.png' | asset_url }}" alt="CelebriTea" />
        <em>Recognition after 25 visits</em>
        <ul>
          <li>$1 off purchase before 9am</li>
          <li>Free loose leaf tea gift</li>
          <li>Visit 10 times, get $5 credit</li>
          <li>Free drink (up to $5) on birthday)</li>
          <li>Free WiFi</li>
          <li>Customized Offers</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <img width="270" height="128" src="{{ 'loyaltea.png' | asset_url }}" alt="RoyalTea" />
        <em>Recognition after 100 visits</em>
        <ul>
          <li>Free lunch (up to $15) upon earning status</li>
          <li>TEArriffic gift of Argo Products</li>
          <li>$1 off purchase before 9am</li>
          <li>Visit 10 times, get $5 credit</li>
          <li>Free drink (up to $5) on birthday)</li>
          <li>Free WiFi</li>
          <li>Customized Offers</li>
        </ul>
      </div>
    </div>
  </div>
</main>
