<!-- page.copy-specialtea-foods.liquid -->

<main>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="foodsTop">

                    <img src="{{ 'Muffins767.png' | asset_url }}" alt="Muffins" />

                    <img class="hidem" src="{{ 'Paninis767.png' | asset_url }}" alt="Paninis" />

                    <img class="hidem" src="{{ 'Salads767.png' | asset_url }}" alt="Salads" />

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div id="selector1">
                <div class="col-md-8">
                    <div class="brown-title">FRESH BAKERY</div>

                    <div class="col-md-6">
                        <div class="item" data-src="{{'ChefNotes_LeekParmBistro.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_LeekParmBistro96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Leek Parmesan Bistro Savory</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_SpinachFetaBistro.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_SpinachFetaBistro96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Spinach Feta Bistro Savory</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_ApricotCroissant.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_ApricotCroissant96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Apricot Croissant</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_chocolatecroissant850x850.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_ChocolateCroissant.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Dark Chocolate Croissant</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_FrenchCroissant1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_FrenchCroissant96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>French Croissant</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_DarkChocTruffleBrownie1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_DarkChocTruffleBrownie96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Dark Chocolate Truffle Brownie</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_BananaNutMuffin1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_BananaNutMuffin96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span><span>Banana Nut Muffin</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_BlueberryMuffin1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_BlueberryMuffin96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Blueberry Muffin</span></div>
                        </div>
                        
                        {% comment %}
                        <div class="item" data-src="{{'ChefNotes_DoubleChocMuffin1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_DoubleChocMuffin96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Double Chocolate Muffin</span></div>
                        </div>
                        {% endcomment %}
                        
                        
                        <div class="item" data-src="{{'ChefNotes_GreenTeaMuffin1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_GreenTeaMuffin96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Green Tea Muffin
                            <img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span>
                            </div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_LemonPoppyseedMuffin1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_LemonPoppyseedMuffin96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Lemon Poppy Seed Muffin<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_chiablueberry.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_chiablueberry96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Chia Blueberry Raw Bar <img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_FlaxseedRawBar1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_FlaxseedRawBar96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Flax Seed Raw Bar <img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_PomegranateRawBar1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_PomegranateRawBar96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Pomegranate Raw Bar<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        
                        
                        {% comment %}
                        <div class="item" data-src="{{'ChefNotes_GingerRawBar1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_GingerRawBar96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Ginger Raw Bar<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        {% endcomment %}
                        
                        
                        <div class="item" data-src="{{'ChefNotes_AppleTart1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_AppleTart96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Apple Tart</span></div>
                        </div>
                    </div>


                    <div class="col-md-6">

                       
                        {% comment %}
                        <div class="item" data-src="{{'ChefNotes_palmier.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_palmier.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Palmier</span></div>
                        </div>
                        {% endcomment %}
                        
                        

                        <div class="item" data-src="{{'ChefNotes_ChocolateChipCookie1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_ChocolateChipCookie96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Chocolate Chip Cookie<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_OatmealRaisinCookie1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_OatmealRaisinCookie96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Oatmeal Raisin Cookie<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_RaspAppleTurnover1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_RaspAppleTurnover96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Raspberry Turnover</span></div>
                        </div>

                      
                        <div class="item" data-src="{{'ChefNotes_french_chocolate_walnut_eclairs.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_french_chocolate_walnut_eclairs.jpg' | asset_url }}" />
                            <div class="singleDesc">
                                <span>French Chocolate Walnut Eclairs</span>
                            </div>
                        </div>
                      
                        <div class="item" data-src="{{'ChefNotes_French_Eclairs.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_French_Eclairs.jpg' | asset_url }}" />
                            <div class="singleDesc">
                                <span>French Eclairs</span>
                            </div>
                        </div>
                      
                        <div class="item" data-src="{{'ChefNotes_matcha_vanilla_french_eclairs.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_matcha_vanilla_french_eclairs.jpg' | asset_url }}" />
                            <div class="singleDesc">
                                <span>Matcha Vanilla French Eclairs</span>
                            </div>
                        </div>
                        

                        <div class="item" data-src="{{'ChefNotes_ChocolateMacaron1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_ChocolateMacaron96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Chocolate Macaron</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_VanillaMacaron1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_VanillaMacaron96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Vanilla Macaron</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_PistachioMacaron1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_PistachioMacaron96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Pistachio Macaron</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_RaspberryMacaron1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_RaspberryMacaron96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Raspberry Macaron</span></div>
                        </div>

                        <div class="brown-title">BREAKFAST FAVORITES</div>

                        <div class="item" data-src="{{'ChefNotes_SmokedHamSunrisePanini.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_SmokedHamSunrisePanini96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Sunrise Panini Smoked Ham</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_Sunrise_Panini_Roasted_Tomato.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_Sunrise_Panini_Roasted_Tomato.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Sunrise Panini Roasted Tomato</span></div>
                        </div>
                        
                        
                        {% comment %}
                        <div class="item" data-src="{{'ChefNotes_RoastedTomatoSunrisePanini.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_Shakshuka96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Roasted Tomato &amp; Ham Shakshuka</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_Shakshuka.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_Shakshuka296.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Red Pepper &amp; Feta Shakshuka</span></div>
                        </div>
                        {% endcomment %}
                        
                        <div class="item" data-src="{{'ChefNotes_MixedBerryParfait1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_MixedBerryParfait96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span><span>Mixed Berry Parfait</span></div>
                        </div>

                        <div class="item" data-src="{{'ChefNotes_StrawberryBananaParfait1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_StrawberryBananaParfait96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Strawberry Banana Parfait</span></div>
                        </div>
                        <div class="item" data-src="{{'ChefNotes_GreenTeaVanillaParfait1024x1024.jpg' | asset_url }}">
                            <img class="width53" src="{{'ChefNotes_GreenTeaVanillaParfait96.jpg' | asset_url }}" />
                            <div class="singleDesc"><span>Green Tea Parfait</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="brown-title">PANINIS</div>
                    
                    {% comment %}
                    <div class="item" data-src="{{'ChefNotes_FetaRedPepperPanini1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_FetaRedPepperPanini96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Feta Red Pepper</div>
                            <div class="brownTxt">Red pepper, feta cheese <br>and basil pesto</div>
                        </div>
                    </div>
                    {% endcomment %}
                    
                    <div class="item" data-src="{{'ChefNotes_RedPepChickBriePanini1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_RedPepChickBriePanini96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Red Pepper Chicken &amp; Brie</div>
                            <div class="brownTxt">Roasted red pepper, all natural <br>grilled chicken and creamy brie</div>
                        </div>
                    </div>

                    <div class="item" data-src="{{'ChefNotes_SmokedTurkSwissPanini1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_SmokedTurkSwissPanini96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Smoked Turkey &amp; Swiss</div>
                            <div class="brownTxt">Smoked turkey, swiss cheese, baby spinach, basil pesto and boursin cheese</div>
                        </div>
                    </div>

                    <div class="item" data-src="{{'ChefNotes_RoastedTomSpinachPanini1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_RoastedTomSpinachPanini96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Roasted Tomato &amp; Spinach</div>
                            <div class="brownTxt">Baby spinach, roasted tomatoes, <br>swiss and garlic &amp; herb cheese</div>
                        </div>
                    </div>


                    <div class="brown-title">BRIOCHE SLIDERS</div>
                    <div class="item" data-src="{{'ChefNotes_turkey_brioche.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_turkey_brioche96.jpg' | asset_url }}" />
                        <div class="singleDesc"><span>Turkey Apple Brie</span></div>
                    </div>
                    <div class="item" data-src="{{'ChefNotes_chicken_brioche.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_chicken_brioche96.jpg' | asset_url }}" />
                        <div class="singleDesc"><span>Chicken Pesto</span></div>
                    </div>
                    
                    <div class="item" data-src="{{'ChefNotes_Slider_Roasted_Tomato_Swiss.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_Slider_Roasted_Tomato_Swiss.jpg' | asset_url }}" />
                        <div class="singleDesc"><span>Veggie Breakfast</span></div>
                    </div>

                    <div class="brown-title">SALADS</div>

                    <div class="item" data-src="{{'ChefNotes_ChickpeaSalad1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_ChickpeaSalad96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Chickpea
                                <img class="green-icon" src="{{'gluten-free-icon.png' | asset_url }}" />
                                <img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" />
                            </div>
                            <div class="brownTxt">Chickpeas, carrots, tomatoes, green peppers, red peppers and parsley</div>
                        </div>
                    </div>

                    <div class="item" data-src="{{'ChefNotes_LentilSalad1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_LentilSalad96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Garden Lentil<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></div>
                            <div class="brownTxt">Lentils, carrots, onions and bell peppers</div>
                        </div>
                    </div>
                    
                    {% comment %}
                    <div class="item" data-src="{{'ChefNotes_EdamameSalad1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_EdamameSalad96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Edamame
                                <img class="green-icon" src="{{'gluten-free-icon.png' | asset_url }}" />
                                <img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" />
                            </div>
                            <div class="brownTxt">Edamame, roasted corn, bell peppers, bermuda onions and cranberries</div>
                        </div>
                    </div>
                    {% endcomment %}
                    
                    <div class="item" data-src="{{'Updated_ChefNotes_SpinachFetaTomato.jpg' | asset_url }}">
                        <img class="width53" src="{{'Updated_ChefNotes_SpinachFetaTomato.jpg' | asset_img_url: '53x53' }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Spinach & Feta Salad
                            </div>
                            <div class="brownTxt">Roasted tomato, feta cheese, baby spinach and crunchy walnut pieces</div>
                        </div>
                    </div>


                    <div class="item" data-src="{{'ChefNotes_KaleSalad1024x1024.jpg' | asset_url }}">
                        <img class="width53" src="{{'ChefNotes_KaleSalad96.jpg' | asset_url }}" />
                        <div class="doubleDesc">
                            <div class="greenT">Kale Salad<img class="green-icon" src="{{'vegan-icon.png' | asset_url }}" /></div>
                            <div class="brownTxt"><span class="kale-span">Fresh kale, freekah, plum tomatoes </span>and onions tossed in a lemon and olive oil dressing</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="bottom-info">
                <div class="col-sm-4">
                    <div class="left-side">
                        <img src="{{'vegan-icon.png' | asset_url }}" /> vegan <br>
                        <img src="{{'gluten-free-icon.png' | asset_url }}" /> made with no gluten-containing ingredients
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="right-side">
                        <img src="{{'pick2special.png' | asset_url }}" />
                        <div class="prom-text"><span>PICK TWO SPECIAL!</span> Select a half panini and salad and save!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>