{% include 'theme-variables' %}

<!-- page.survey.liquid -->

<div class="blank-space"></div>

<section id="page-wrap" class="section-wrap survey-cont">
  {% include '__containers-open' %}
  <h1 class="page-header">{{ page_title }}</h1>
  {% comment %}{% include '__formatted-content' with page.content %}{% endcomment %}


  <div class="row">
    <div class="col-lg-12">
      <p>Your input helps us refine and improve our products and the Argo Tea experience “one customer and one cup at a time.”
          To begin, please select the Argo Tea Café you visited below. If your café is not listed, please use the <a href="/pages/contact-us">Contact Us</a> page to send us your feedback.</p>
        <p>If you are providing feedback on bottled teas or other Argo Tea products purchased from another retailer,
        please <a href="https://survey.newbrandanalytics.com/argo/78858694" target="youriframe">click here</a> .</p>
        <p>&nbsp;</p>
    </div>
  </div>


  <form class="row">
    <div class="form-group col-sm-4">
      <label for="state-options">Region</label>
      <select id="state-options" class="form-control">
        <option value="all" disabled selected>Select State/Country</option>
        <option data-region="IL" value="IL">IL</option>
        <option data-region="NY" value="NY">NY</option>
        <option data-region="VA" value="VA">VA</option>
      </select>
    </div>
    
    <div class="form-group col-sm-8">
      <label>Store</label>
      <select NAME="options" ONCHANGE="document.getElementById('youriframe').src = this.options[this.selectedIndex].value" id="stores-in-IL" data-stores="IL" class="form-control stores-list">
        <option value="all">Select Store</option>
        <option value="https://survey.newbrandanalytics.com/argo/130631611">
          16 W Randolph, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/175705597">
          819 N Rush, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/124163695">
          140 S Dearborn, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/191865646">
          1 S Franklin, Chicago, IL
        </option>
        
        <option value="https://survey.newbrandanalytics.com/argo/217313123">
          Tribune Tower, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/112254146">
          Northwestern Hospital - Prentice Building, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/57141566">
          Connors Park, 871 N Wabash, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/21915489">
          Merchandise Mart, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/217518213">
          3135 N Broadway, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/242271955">
          UIC Student Center, 750 S Halsted, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/440652">
          Loyola Lakeshore Campus, 6576 N Sheridan Road, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/46427468">
          O'Hare Airport, Terminal 2 Gate E3, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/167913833">
          O'Hare Airport, Terminal 3 Gate H1, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/211725939">
          O'Hare Airport, Terminal 3 Gate L2A, Chicago, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/157086184">
          Woodfield Mall, 1st Level, Schaumburg, IL
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/84836159">
          Oakbrook Mall, 717 Oakbrook Center, Oakbrook, IL
        </option>
      </select>

      <select NAME="options" ONCHANGE="document.getElementById('youriframe').src = this.options[this.selectedIndex].value" 
              id="stores-in-NY" data-stores="NY" class="form-control stores-list">
        <option value="all">Select Store</option>
        <option value="https://survey.newbrandanalytics.com/argo/51179653">
          949 Broadway, New York, NY
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/140140094">
          NYU Medical, 530 First Ave, New York, NY
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/435397">
          1792 Broadway, New York, NY
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/129859190">
          75 University Pl, New York, NY
        </option>
        <option value="https://survey.newbrandanalytics.com/argo/226741774">
          275 7th Ave, New York, NY
        </option>
      </select>
      
      <select NAME="options" ONCHANGE="document.getElementById('youriframe').src = this.options[this.selectedIndex].value" 
              id="stores-in-VA" data-stores="VA" class="form-control stores-list">
        <option value="all">Select Store</option>
        
        <option value="http://survey.newbrandanalytics.com/argo/238605518">
          George Mason University
        </option>
      </select>

    </div>
  </form>

  
  <iframe name="iframe" id="youriframe" src="" frameborder="0"></iframe>


  {% include '__containers-close' %}
</section>
