{% include 'theme-variables' %}

<!-- ... {{ page.handle }} -->

{% assign collection = collections['argo-tea-branded-teaware'] %} <!-- !!! {{ collection.url }} | {{ collection.products.first.title }} -->

<section id="page-wrap" class="section-wrap lltv-page at-landing-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <h3 class="sr-count"><a href="/collections/teaware-brewing-essentials">TEAWARE &amp; ACCESSORIES</a></h3>

        <div class="filter-lleaf">
          <a href="/collections/argo-tea-branded-teaware">ARGO TEA TEAWARE</a>
          <a href="/collections/teapots-pitchers">TEAPOTS &amp; PITCHERS</a>
          <a href="/collections/cups-mugs">CUPS, MUGS &amp; TUMBLERS</a>
          <a href="/collections/infusers-filters">INFUSERS &amp; FILTERS</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12"> 
        <!--<h1 class="page-header">{{ page_title }}</h1>-->

        <div class="row">
          <div class="col-sm-4">
            <h2>Argo Tea Branded Teaware</h2>
            <p class="text-left">Show your support for your favorite tea company with our stylish and modern Argo-branded collection.</p>
            <a href="/products/argo-green-mug-16-oz"><img class="shop-img" src="https://cdn.shopify.com/s/files/1/0909/1186/files/41-qR1lEcZL._SS197.jpg?16855146945710600898" alt="Argo Green Mug image" /></a>
            <h3>ARGO GREEN MUG</h3>
            <p>Argo Tea Original Design - 16oz</p>
            <p class="price-weight">$10.95</p>
            <a href="/products/argo-green-mug-16-oz" class="btn btn-primary btn-xs">SEE MORE</a>
          </div>
          <div class="col-sm-4">
            <h2>Teapots &amp; Pitchers</h2>
            <p class="text-left">Brew your favorite loose leaf tea with these teapots and pitchers. Choose from a variety of colors and sizes.</p>
            <a href="/products/bee-house-teapot-15oz-sencha"><img class="shop-img" src="https://cdn.shopify.com/s/files/1/0909/1186/files/31rHbuW-hqL._SS197.jpg?4932322670680388675" alt="" /></a>
            <h3>BEEHOUSE TEAPOT</h3>
            <p>dishwasher safe 15oz ceramic teapot</p>
            <p class="price-weight">SENCHA - $34.95</p>
            <a href="/products/bee-house-teapot-15oz-sencha" class="btn btn-primary btn-xs">SEE MORE</a>
          </div>
          <div class="col-sm-4">
            <a href="/collections/holiday-collection"><img src="https://cdn.shopify.com/s/files/1/0909/1186/files/holiday-shopping.jpg?9216413180618608487" alt="" /></a>
          </div>
        </div>

        <div class="blank-space"></div>

        <div class="row">
          <div class="col-sm-4">
            <h2>Cups, Mugs &amp; Tumblers</h2>
            <p class="text-left">Shop our collection of tea cups, mugs and tumblers to enjoy your Argo Tea at home or on-the-go.</p>
            <a href="/products/glass-tumbler-with-infuser-green"><img class="shop-img" src="https://cdn.shopify.com/s/files/1/0909/1186/files/tea_time_tumbler.jpg?7441138935142880902" alt="Tea time tumbler" /></a>
            <h3>TEA TIME TUMBLER</h3>
            <p>modern travel mug lets you brew on the go</p>
            <p class="price-weight">$24.95</p>
            <a href="/products/glass-tumbler-with-infuser-green" class="btn btn-primary btn-xs">SEE MORE</a>
          </div>
          <div class="col-sm-4">
            <h2>Infusers &amp; Filters</h2>
            <p class="text-left">Our collection of tea infusers and filters provide the brewing essentials you need for preparing your loose leaf Argo Tea.</p>
            <a href="/products/tea-leaf-infuser"><img class="shop-img" src="https://cdn.shopify.com/s/files/1/0909/1186/files/115jnvhqn0L._SS197.jpg?7905571806832121361" alt="" /></a>
            <h3>TEA LEAF INFUSER</h3>
            <p>dishawasher safe and adorable tea infuser</p>
            <p class="price-weight">$15.95</p>
            <a href="/products/tea-leaf-infuser" class="btn btn-primary btn-xs">SEE MORE</a>
          </div>
          <div class="col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/Screenshot_2015-11-16_17.14.41.png?1873647601180226993" alt="" />
          </div>
        </div>

        <div class="blank-space"></div>

      </div>
    </div>
  </div>
</section>
