<!-- page.specialtea-foods.liquid -->

<main class="tea-food-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <h1 class="white">{{ page.title }}</h1>
          {% include '__formatted-content' with page.content %}
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <img width="770" height="235" src="{{ 'banner-specialtea-foods.jpg' | asset_url}}" alt="SpecialTea Foods" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 panini">
        <img width="211" height="147" src="{{ 'stf-panini.jpg' | asset_url}}" alt="" />
        <h2>Panini</h2>
        <h3>Feta Red Pepper <div class="pull-right">530 cal</div></h3>
        <p>Red pepper, feta cheese and basil pesto</p>
        <h3>Roasted Tomato & Spinach <div class="pull-right">530 cal</div></h3>
        <p>Baby spinach, roasted tomatoes, swiss and garlic & herb cheese</p>
        <h3>Red Pepper Chicken & Brie <div class="pull-right">500 cal</div></h3>
        <p>Roasted red pepper, all natural grilled chicken and creamy brie</p>
        <h3>Wasabi Ham & Swiss <div class="pull-right">510 cal</div></h3>
        <p>Ham, swiss, cheese, crunchy pickle and spicy wasabi yogurt</p>
        <h3>Chimichurri Chicken <div class="pull-right">510 cal</div></h3>
        <p>Grilled chicken, zesty pebre sauce and swiss cheese</p>
        <h3>Smokey Turkey & Swiss <div class="pull-right">560 cal</div></h3>
        <p>Smoked turkey, swiss cheese, baby spinach, basil pesto and boursin cheese</p>

        <img width="198" height="173" src="{{ 'stf-pick-two.jpg' | asset_url}}" alt="" />
        
        <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/ArgoSpecialTeaFoodMenu.pdf?7330566522092612700" target="_blank">• Click Here to Download Catering Brochure</a>
        
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <img width="153" height="135" src="{{ 'stf-salads.jpg' | asset_url}}" alt="" style="margin-top: 15px;" />
        <h2>Salads</h2>
        <h3 class="olive"><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Chickpea <div class="pull-right">290-380 cal</div></h3>
        <p class="olive">Chickpease, carrots, tomatoes, green peppers, red peppers and parsley</p>
        <h3 class="olive"><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Garden Lentil <div class="pull-right">200-300 cal</div></h3>
        <p class="olive">Lentils, carrots, onions and bell peppers</p>
        <h3 class="olive"><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Edamame <div class="pull-right">350 cal</div></h3>
        <p class="olive">Edamame, roasted corn, bell red peppers, bermuda onions and cranberries</p>
        <h3 class="olive"><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Black Bean <div class="pull-right">350 cal</div></h3>
        <p class="olive">Black beans, kidney beans, roasted corn, red peppers, onions and cucumbers</p>
        <h3 class="olive"><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Kale Salad <div class="pull-right">320 cal</div></h3>
        <p class="olive">Fresh kale, freekah, plum tomatoes and onions tossed in a lemon and olive oil dressing</p>


        <img width="157" height="153" src="{{ 'stf-breakfast.jpg' | asset_url}}" alt="" />
        <h2>Breakfast</h2>
        <h3 class="orange">Quiches</h3>
        <em class="orange">All natural signature flavors baked with egg whites and croissant dough</em>
        <ul class="orange">
          <li>Spinach <div class="pull-right">460 cal</div></li>
          <li>Tomato Mozzarella <div class="pull-right">440 cal</div></li>
        </ul>
        <h3 class="orange">SpecialTea Parfaits</h3>
        <ul class="orange">
          <li>Mixed Berry <div class="pull-right">340 cal</div></li>
          <li>Strawberry Banana <div class="pull-right">340 cal</div></li>
          <li>Green Tea <div class="pull-right">320 cal</div></li>
          <li>Honey Banana Walnut <div class="pull-right">290 cal</div></li>
        </ul>
      </div>
      <div class="col-sm-3 col-sm-offset-1 bakery">
        <img width="155" height="152" src="{{ 'stf-bakery.jpg' | asset_url}}" alt="" />
        <h2>Bakery</h2>
        <h3>Signature Muffins</h3>
        <ul>
          <li>Banana Nut <div class="pull-right">400 cal</div></li>
          <li>Blueberry <div class="pull-right">340 cal</div></li>
          <li>Double Chocolate <div class="pull-right">580 cal</div></li>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Green Tea <div class="pull-right">470 cal</div></li>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Lemon Poppy Seed <div class="pull-right">530 cal</div></li>
        </ul>
        <h3>Artsian French Pastires</h3>
        <ul>
          <li>French Croissant <div class="pull-right">350 cal</div></li>
          <li>Cheese Croissant <div class="pull-right">430 cal</div></li>
          <li>Dark Chocolate Croissant <div class="pull-right">200 cal</div></li>
          <li>Raspberry Apple Turnover <div class="pull-right">320 cal</div></li>
          <li>Apple Tart <div class="pull-right">460 cal</div></li>
        </ul>
        <h3>French Macaroons</h3>
        <ul>
          <li>Chocolate Macaron <div class="pull-right">100 cal</div></li>
          <li>Vanilla Macaron <div class="pull-right">100 cal</div></li>
          <li>Raspberry Macaron <div class="pull-right">80 cal</div></li>
          <li>Pistachio Macaron <div class="pull-right">80 cal</div></li>
          <li>Macaron Mini-Pack <div class="pull-right">Dozen</div></li>
        </ul>
        <h3>Sweets</h3>
        <ul>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Chocolate Chip Cookie <div class="pull-right">450 cal</div></li>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Oatmeal Raisinal Cookie <div class="pull-right">420 cal</div></li>
          <li>Lemon Blossom Cookie <div class="pull-right">200 cal</div></li>
          <li>Dark Chocolate Truffle Brownie <div class="pull-right">300 cal</div></li>
          <li>Apricot Walnut Ruggelah <div class="pull-right">390 cal</div></li>
          <li>Raspberry Almond Ruggelah <div class="pull-right">390 cal</div></li>
        </ul>
        <h3>Raw Bars</h3>
        <ul>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Flax <div class="pull-right">380 cal</div></li>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Pomegranate <div class="pull-right">500 cal</div></li>
          <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Ginger <div class="pull-right">420 cal</div></li>
        </ul>


        <div class="pos-rel"><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Vegan</div>
        <div class="pos-rel"><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" />Made with no gluten-containing ingredients</div>
      </div>
    </div>
  </div>

  <img width="" height="" src="{{ 'stf-filter.jpg' | asset_url}}" alt="Tea filter" class="visible-lg filter pull-right" />

</main>
