<!-- page.signature-bottled-teas.liquid -->
{% include 'theme-variables' %}


<section id="page-wrap" class="section-wrap sb-teas">
  {% include '__containers-open' %}
    <h1 class="page-header">{{ page_title }}</h1>
    {% include '__formatted-content' with page.content %}
	
  	{% assign collection-handle = 'signature-drinks' %}
    {% include 'product-loop-argo' with collection-handle %}
  
    <!-- old theloop
    <div class="row coll-links">
      {% for product in collections.signature-bottled-teas.products %}
      <a href="{{ product.url }}" class="plink-primary col-sm-4">
        {% if product.images.last %}<img src="{{ product.images.first.src | img_url: 'large' }}" class="check-loaded" alt="{{ product.title }}" />{% endif %}
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
      </a>
      {% endfor %}
    </div> -->

  {% include '__containers-close' %}
</section>
