<!-- page.careers.liquid -->

<main class="careers-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h1 class="white">Join the Argo TEAm</h1>
          {% include '__formatted-content' with page.content %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 emphasized">
        <div class="text-center">
          <a href="http://central.argo-central.net/argoteam/careers.aspx" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-line-chart"></i> &nbsp; View Openings & Apply!</a>
        </div>
        <p><strong>Behind every delicious drink we serve is a TeaMember who contributes to our diverse Argo universe of energetic, creative, passionate people.</strong></p>

        <p>It is the hard work of these individuals that ensures a wonderful Argo experience for every customer who walks through our doors. We strive to bring together TeaMembers from all walks of life and believe it’s the differences in our TEAm that make our company strong. Argo has the utmost respect for all cultures, beliefs, personaliTeas, experiences, which allow us to think more creatively and share a genuine passion for healthy QualiTea products.</p>
      </div>


      <div class="col-sm-6 col-xs-12">
        <h2>Benefits</h2>

        <p>Argo Tea’s success is built on the dedicated work of our TeaMembers. That’s why we strive to create a warm, inspiring work environment that rewards for their continous contributions. As part of this effort, we offer a full range of incentives and benefits:
        <ul class="no-bullets">
          <li><strong>Comprehensive medical, dental, vision, life and AD&D insurance programs</strong> for eligible employees and their dependents</li>
          <li><strong>Bonus and incentive programs</strong> intended to reward TeaMembers’ outstanding performance, to motivate a collaborative spirit and TeaMwork</li>
          <li><strong>Product Entitlements.</strong> All TeaMembers get free drinks plus a discount on all other products</li>
          <li><strong>Prizes and contests</strong> intended to reward exceptional performance as well as to encourage healthy competition among our Team</li>
          <li><strong>401K Retirement plan</strong> for eligible TeaMembers</li>
          <li><strong>Vacation Time</strong> for eligible TeaMembers</li>
          <li><strong>Stock Options</strong> for eligible TeaMembers</li>
          <li><strong>Sick Time</strong> for eligible TeaMembers</li>
          <li><strong>TeaMember Referral Bonuses</strong></li>
          <li><strong>Education and Development Classes</strong></li>
          <li><strong>Wellness programs</strong>, sports Teams, health & fitness classes</li>
        </ul>
        </p>

        <p>For positions in the Middle East, please visit <a href="http://www.azadea.com/careers" target="_blank">www.azadea.com/careers</a></p>

        <div class="text-center">
          <a href="http://www.argo-central.net:9080/argoteam/careers.aspx" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-line-chart"></i> &nbsp; View Openings & Apply!</a>
        </div>
      </div>
    </div>
  </div>
</main>
