{% include 'theme-variables' %}

<!-- page.shop.liquid | page.handle: {{ page.handle }} -->

<div>
  <img src="//cdn.shopify.com/s/files/1/0909/1186/files/shop-page-banner-image-new.jpg?8823263298760742794" alt="Argo Tea Shop" />
  {% comment %}<img class="visible-md visible-lg" src="https://cdn.shopify.com/s/files/1/0909/1186/files/banner-shop-xl.jpg?11807463561591212607" alt="" />
  <img class="visible-sm" src="https://cdn.shopify.com/s/files/1/0909/1186/files/banner-shop.jpg?6027958707586101789" alt="" />
  <img class="visible-xs" src="https://cdn.shopify.com/s/files/1/0909/1186/files/banner-shop-xs.jpg?6819359064733404774" alt="" />{% endcomment %}
</div>

<section id="page-wrap" class="section-wrap at-landing-page shop-lp">
  {% include '__containers-open' %}
  <!-- <h1 class="page-header">{{ page_title }}</h1> -->
  {% include '__formatted-content' with page.content %}

  <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title-dotted"><span>Collections</span></h1>
      </div>
  </div>

  <div class="row">
    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image: url(https://cdn.shopify.com/s/files/1/0909/1186/files/Bottled-drinks-collection.jpg?601350797749801267);">
        <div class="ovrl bottled-drinks"></div>
        <div class="text-cnt">
          <h3 class="text-uppercase">Bottled Drinks</h3>
          <p class="shop-lp-para">We have bottled up our most popular flavors and we’re proud to make them available at retailers nationwide. Click here to find the closest location to you!</p>
          <span class="btn">See More</span>
        </div>
        <a href="http://central.argo-central.net/central/mAccountLookup2.aspx" class="item-link"></a>
    </div>
    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image: url(https://cdn.shopify.com/s/files/1/0909/1186/files/Loose-leaf-collection.jpg?4500309144238752978);">
        <div class="ovrl loose-leaf"></div>
        <div class="text-cnt">
          <h3 class="text-uppercase">Loose Leaf Teas</h3>
          <p class="shop-lp-para">We hand-pick our teas from the best growers around the world to ensure superior QualiTea&trade;. We infuse our loose tea with only real pieces of fruit, flowers, and other all-natural ingredients.</p>
          <span class="btn">See More</span>
        </div>
        <a href="/collections/loose-leaf-teas" class="item-link"></a>
    </div>
    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image: url(https://cdn.shopify.com/s/files/1/0909/1186/files/Tea-sachets-collection.jpg?13066159299482050599);">
      <div class="ovrl tea-sachets"></div>
      <div class="text-cnt">
          <h3 class="text-uppercase">Tea Sachets</h3>
          <p class="shop-lp-para">We marry form and function with a stylish pouch that allows the hand-picked teas from around the world room to brew.</p>
          <span class="btn">See More</span>
      </div>
      <a href="/pages/tea-sachet-exclusives" class="item-link"></a>
    </div>

    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image: url(https://cdn.shopify.com/s/files/1/0909/1186/files/teaware-and-accessories-collection.jpg?15300506228982446721);">
      <div class="ovrl teaware"></div>
      <div class="text-cnt">
          <h3 class="text-uppercase">Teaware &amp; Accessories</h3>
          <p class="shop-lp-para2">Shop our collection of cups, mugs, teapots, tumblers, infusers and filters to find everything you could need in varieties of colors and sizes.</p>
          <span class="btn">See More</span>
      </div>
      <a href="/collections/teaware-brewing-essentials" class="item-link"></a>
    </div>
    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image:url(https://cdn.shopify.com/s/files/1/0909/1186/files/gifts-collection.jpg?17809428603639792534);">
        <div class="ovrl gifts"></div>
        <div class="text-cnt">
            <h3 class="text-uppercase">Gifts</h3>
            <p class="shop-lp-para2">We have created the best tea gift sets for all the tea lovers in your life. Our collections hold everything you could need to build your perfect cup of tea.</p>
            <span class="btn">See More</span>
        </div>
        <a href="/collections/gifts" class="item-link"></a>
    </div>
    <div class="collection-item text-center col-xs-6 col-sm-6 col-md-4" style="background-image:url(https://cdn.shopify.com/s/files/1/0909/1186/files/tea-subscriptions.jpg?5645563069821431787);">
        <div class="ovrl tea-subscriptions"></div>
        <div class="text-cnt">
            <h3 class="text-uppercase">Tea Subscriptions</h3>
            <p class="shop-lp-para2">Enjoy a surprise selection of three full-size, premium loose leaf teas delivered directly to your doorstep.</p>
            <span class="btn">See More</span>
        </div>
        <a href="/pages/new-subscriptions" class="item-link"></a>
    </div>
  </div>

  {% include '__containers-close' %}
</section>
