<!-- page.communitea.liquid -->




<main class="communitea-page">
  <div class='atf'>
      <div class="container">
            <div class="row">
                  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                     <h1 class="white">CommuniTea</h1>
                     {% include '__formatted-content' with page.content %}
                  </div>
            </div>
      </div>
  </div>
  


  <div class="blank-space"></div>
  <div class="container">
    <div class="row hidden">
      <div class="col-lg-12">
        <h2>CommuniTea Events Spotlight</h2>
      </div>
    </div>
    <div class="row hidden">
        {% assign ac = 0 %}
        {% for event in blogs.events.articles limit: 3 %}
        {% assign event_meta = event.metafields.ATEvents %}
          {% comment %}
              forloop.index {{ forloop.index }} {{ event_meta }} {{ event_meta.length }} event.metafields: {{ event.metafields.length }}
          {% endcomment %}
          {% if forloop.index < 7 %}
          <div class="col-sm-4 col-xs-12">
            <div class="event-link">{% comment %} {{ event.image | img_url: 'medium' }} | {{ event | img_url: 'medium' }} {% endcomment %}
              <div class="event-link-img" style="background-image: url({% if event.image %}{{ event | img_url: 'medium' }}{% else %}http://placehold.it/250x250/D8D67A/564319{% endif %});"></div>
              <h3>{{ event.title }}</h3>
              {% comment %} <p>{% comment %}{{ event.excerpt | strip_html }}{% endcomment %}</p> {% endcomment %}
              {% include '__formatted-content' with event.content %}
            </div>
          </div>
          {% else %} 
            {% break %}
          {% endif %}
          {% assign ac = ac | plus: 1 %}
        {% endfor %}
       <div class="col-xs-12">
            {% if ac > 2 %}
            <div class="blank-space"></div>
                <p class="text-center">
                  <strong><a href="/blogs/events" class="btn btn-solid btn-lg">View older events</a></strong>
                </p>
            <div class="blank-space"></div>
            {% endif %}
       </div>
     </div>
    {% include 'social-feeds' %}
  </div>
</main>
