<!-- page.welcome.liquid -->
<main class="welcome-page">
    <div class="atf">
       <div class="hero-parent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 hero-caption">
                        <h1 class="white">Welcome To</h1>
                        {% include 'logo-svg' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-hero">
            <div class="container">
               <div class="row">
                   <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3>Join our CommuniTEA</h3>
                        <h4>Get <span>10% OFF</span> your next online purchase!</h4>
                   </div>
                   <div class="col-lg-6 col-md-12 col-sm-12">
                      <form id="email_signup" class=" klaviyo_bare_embed_nDcNSS" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
                      <input type="hidden" name="g" value="nDcNSS">
                      <div class="klaviyo_field_group">
                        <label for="k_id_email">Newsletter Sign Up</label>
                        <input type="email" value="" name="email" id="k_id_email" placeholder="Enter Your email Address" />
                      </div>
                      <div class="klaviyo_messages">
                        <div class="success_message" style="display:none;"></div>
                        <div class="error_message" style="display:none;"></div>
                        </div>
                      <div class="klaviyo_form_actions">
                        <button type="submit" class="klaviyo_submit_button btn btn-primary">LET'S GO</button>
                      </div>
                    </form>

                    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
                    <script type="text/javascript">
                      KlaviyoSubscribe.attachToForms('#email_signup', {
                        hide_form_on_success: true
                      });
                    </script>
                   </div>
               </div>
            </div>
        </div>
    </div>


    <div class="clearfix x1"></div>

   <div class="iphone-section">
    <div class="container text-center">
        <h4>Enjoy simplici<span>TEA</span></h4>
        <h5>with the Argo Tea LoyalTEA App:</h5>
    </div>
    <div class="container">
        <div class="row showcase">
           <div class="col-lg-4 col-md-4 col-sm-4 first-col">
              <a class="showcase-link" id="slide-1" href="#">
                   <div class="showcase-control credit">
                       {% include 'welcome-icon-1' %}
                       <div class="text-cnt">
                           <h2>Here’s $2</h2>
                           <p>Enjoy a $2 credit on us just <br>
                            for downloading!</p>
                       </div>
                   </div>
               </a>
               <a class="showcase-link" id="slide-2" href="#">
                   <div class="showcase-control">
                       {% include 'welcome-icon-2' %}
                       <div class="text-cnt">
                           <h2>Get Rewarded</h2>
                            <p>Earn TEAriffic rewards as you<br>
                            progress through 4 status levels</p>
                       </div>
                   </div>
               </a>
               <a class="showcase-link" id="slide-3" href="#">
                   <div class="showcase-control">
                       {% include 'welcome-icon-3' %}
                       <div class="text-cnt">
                           <h2>Earn Credit</h2>
                            <p>Get $4 credit for every 10 visits<br>
                            ($5 at CelebriTEA &amp; RoyalTEA status)</p>
                       </div>
                   </div>
               </a>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 iphone-cnt text-center">
                
                <div class="iphone-wrapper" style="background-image:url({{ 'welcome-iphone-cnt2.png' | asset_url }});">
                    
                    <div class="carousel-wrapper">
                        
                        <div class="owl-carousel">
                            <img src="{{ 'welcome-ios-1.png' | asset_url }}">
                            <img src="{{ 'welcome-ios-2.png' | asset_url }}">
                            <img src="{{ 'welcome-ios-3.png' | asset_url }}">
                            <img src="{{ 'welcome-ios-4.png' | asset_url }}">
                            <img src="{{ 'welcome-ios-5.png' | asset_url }}">
                            <img src="{{ 'welcome-ios-6.png' | asset_url }}">
                        </div>
                        
                    </div>
                    
                    
                </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 last-col">
              <a class="showcase-link" id="slide-4" href="#">
                   <div class="showcase-control">
                       {% include 'welcome-icon-4' %}
                       <div class="text-cnt">
                           <h2>Save Time</h2>
                           <p>Order ahead and prepay right from<br>
                            your phone</p>
                       </div>
                   </div>
               </a>
               <a class="showcase-link" id="slide-5" href="#">
                   <div class="showcase-control">
                       {% include 'welcome-icon-5' %}
                       <div class="text-cnt">
                           <h2>Scan and Go!</h2>
                           <p>Seamlessly scan to pay at<br>
                            the counter</p>
                       </div>
                   </div>
               </a>
               <a class="showcase-link" id="slide-6" href="#">
                   <div class="showcase-control">
                       {% include 'welcome-icon-6' %}
                       <div class="text-cnt">
                           <h2>Share the Argo love</h2>
                           <p>Send your friends a $2 credit &amp; when
                            they spend it, you’ll also earn $2!</p>
                       </div>
                   </div>
               </a>
           </div>
        </div>

    </div>
    <div class="bottom-showcase">
       <div class="container">
            <h2>Start earning your rewards.</h2>
            <h3>download the Argo Tea LoyalTEA App now</h3>
            <a target="_blank" href="https://itunes.apple.com/us/app/argo-tea/id918225439?mt=8">
                {% include 'appstore-badge-svg' %}
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.argotea.argotea.android.app&hl=en">
                {% include 'google-play-badge-svg' %}
            </a>
        </div>
    </div>
    
   </div>
   
   <div class="shop-online">
      <div class="container">
       <h3>SHOP ONLINE</h3>
           <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                   <a class="item-link" href="/collections/bottled-tea-drinks">
                       <img src="{{ 'shop-online-bottled.jpg' | asset_url }}" alt="">
                       <h3 class="items-title">BOTTLED DRINKS</h3>
                   </a>
                   <a class="btn btn-primary" href="/collections/bottled-tea-drinks">SHOP NOW</a>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                   <a class="item-link" href="/collections/loose-leaf-teas">
                       <img src="{{ 'shop-online-loose.jpg' | asset_url }}" alt="">
                       <h3 class="items-title">LOOSE LEAF TEAS</h3>
                   </a>
                   <a class="btn btn-primary" href="/collections/loose-leaf-teas">SHOP NOW</a>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                   <a class="item-link" href="/collections/tea-sachets">
                       <img src="{{ 'shop-online-sachets.jpg' | asset_url }}" alt="">
                       <h3 class="items-title">TEA SACHETS</h3>
                   </a>
                   <a class="btn btn-primary" href="/collections/tea-sachets">SHOP NOW</a>
               </div>
           </div>
      </div>
   </div>
   
   <div class="curiosity">
       <div class="container">
           <div class="col-lg-4 col-md-4 col-sm-4">
               {% include 'welcome-curiosity-svg' %}
           </div>
           <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="text-cnt">
                   <h2>Tame your curiosi<span>TEA</span>.</h2>
                   <h3>Secure your Argo Tea Vault Season Pass and receive a surprise selection from our Tea Vault delivered to your doorstep each month.</h3>
                   <a class="btn btn-primary" href="/products/vault-season-pass">JOIN NOW</a>
              </div>
           </div>
       </div>
   </div>
   
   {% comment %}
   <div class="gift-card text-center">
      <div class="container">
       <h2>win a <span>$100</span> Argo Tea Gift Card!</h2>
       <h3>We select a new winner every month! Click below for your chance to win!</h3>
       <a class="btn btn-primary" href="">ENTER NOW!</a>
       <img src="{{ 'argo-contest.png' | asset_url }}" alt="">
      </div>
      <div class="green-line"></div>
   </div>
   {% endcomment %}
</main>

<script>
    $(document).ready(function () {
        
        $( ".showcase-link" ).on( "click", function() {
            $('.showcase-link').removeClass('active-control');
            $(this).addClass('active-control');
        });
        
        var $owl = $('.owl-carousel');
        
        $owl.owlCarousel({
            items: 1,
            loop: false,
            margin: 0,
            nav: false,
            autoplay: false,
            mouseDrag: false,
            touchDrag: false
        })
        $('#slide-1').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 0)
        });
        $('#slide-2').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 1)
        });
        $('#slide-3').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 2)
        });
        $('#slide-4').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 3)
        });
        $('#slide-5').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 4)
        });
        $('#slide-6').click(function(e) {
            e.preventDefault();
            $owl.trigger('to.owl.carousel', 5)
        });

        $( ".showcase #slide-1" ).trigger( "click" );
    });
</script>