<!-- page.specialtea-foods-v2.liquid -->

<main class="tea-food-page-v2">
    <div class="atf">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <h1 class="white">{{ page.title }}</h1> {% include '__formatted-content' with page.content %}
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix x1"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class='ruled'><span>BAKERY</span></h2>
            </div>
        </div>
        <div class="row bakery">
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="stf-muffins" src="{{ 'stf-bakery.png' | asset_url }}" alt="Signature Muffins" />
                        </div>
                        <div class="col-xs-9">
                            <ul class="food-list">
                                <li><h3>Signature Muffins</h3></li>
                                <li>Banana Nut
                                    <div class="pull-right">400 cal</div>
                                </li>
                                <li>Blueberry
                                    <div class="pull-right">340 cal</div>
                                </li>
                                <li>Double Chocolate
                                    <div class="pull-right">580 cal</div>
                                </li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Green Tea
                                    <div class="pull-right">470 cal</div>
                                </li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Lemon Poppy Seed
                                    <div class="pull-right">530 cal</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="stf-muffins" src="{{ 'stf-french-macaroons.png' | asset_url }}" alt="French Macarons" />
                        </div>
                        <div class="col-xs-9">
                            <ul class="food-list">
                                <li><h3>French Macarons</h3></li>
                                <li>Chocolate Macaron
                                    <div class="pull-right">100 cal</div>
                                </li>
                                <li>Vanilla Macaron
                                    <div class="pull-right">100 cal</div>
                                </li>
                                <li>Raspberry Macaron
                                    <div class="pull-right">80 cal</div>
                                </li>
                                <li>Pistachio Macaron
                                    <div class="pull-right">80 cal</div>
                                </li>
                                <li>Macaron Mini-Pack
                                    <div class="pull-right">Dozen</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="block-1">
                    <div class="row">         
                        <div class="col-xs-12 text-center">
                            <h3>Sweets</h3>
                        </div>
                        <div class="col-xs-4">
                            <img class="stf-muffins" src="{{ 'stf-sweets.png' | asset_url }}" alt="Sweets" />
                            <br/>
                            <ul class="food-list">
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Chocolate Chip Cookie
                                    <div class="pull-right">450 cal</div>
                                </li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Oatmeal Raisin Cookie
                                    <div class="pull-right">420 cal</div>
                                </li>
                                <li>Dark Choc. Truffle Brownie
                                    <div class="pull-right">300 cal</div>
                                </li>                              
                            </ul>                            
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ 'ChefNotes_RaspberryDanish.jpg' | asset_url }}" alt="Raspberry Mini Danish" />
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ 'ChefNotes_SaltedCaramelDanish.jpg' | asset_url }}" alt="Salted Caramel Mini Danish" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="stf-muffins" src="{{ 'stf-pastries.png' | asset_url }}" alt="" />
                        </div>
                        <div class="col-xs-8">
                            
                            <ul class="food-list">
                                <li><h3>Artisan French Pastries</h3></li>
                                <li>French Croissant
                                    <div class="pull-right">350 cal</div>
                                </li>
                                <li>Dark Chocolate Croissant
                                    <div class="pull-right">200 cal</div>
                                </li>
                                <li>Raspberry Apple Turnover
                                    <div class="pull-right">320 cal</div>
                                </li>
                                <li>Apple Tart
                                    <div class="pull-right">460 cal</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="stf-muffins" src="{{ 'stf-raw-bars.png' | asset_url }}" alt="" />
                        </div>
                        <div class="col-xs-8">
                            
                            <ul class="food-list">
                                <li><h3>Raw Bars</h3></li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Flax
                                    <div class="pull-right">380 cal</div>
                                </li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Pomegranate
                                    <div class="pull-right">500 cal</div>
                                </li>
                                <li><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Ginger
                                    <div class="pull-right">420 cal</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-12">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>NEW! Bistro Savories</h3>
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ 'ChefNotes_LeekParmBistro.jpg' | asset_url }}" alt="Leek & Parmesan Bistro Savory" />
                        </div>
                        <div class="col-xs-4">
                            <img src="{{ 'ChefNotes_SpinachFetaBistro.jpg' | asset_url }}" alt="Spinach & Feta Bistro Savory" />
                        </div>                    
                        <div class="col-xs-4">
                            <img src="{{ 'ChefNotes_TomatoOliveBistro.jpg' | asset_url }}" alt="Tomato & Olive Bistro Savory" />
                        </div>               
                    </div>
                </div>
            </div>
        </div>
        

        <div class="clearfix x2"></div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class='ruled'><span>BREAKFAST</span></h2>
            </div>
        </div>
        <div class="row breakfast"> 
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>Shakshuka</h3>
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ 'ChefNotes_SignatureFoods_Seasonal_Shakshuka-1-new.jpg' | asset_url }}" alt="Roasted Tomato & Ham Shakshuka" />
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ 'ChefNotes_SignatureFoods_Seasonal_Shakshuka-2-new.jpg' | asset_url }}" alt="Red Pepper & Feta Shakshuka" />
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row ">
                        <div class="col-xs-5">
                            <img class="img-parfaits" src="{{ 'stf-parfaits.png' | asset_url }}" alt="Parfaits"/>
                        </div>
                        <div class="col-xs-7">
                           
                            <ul class="food-list">
                                <li> <h3>SpecialTea Parfaits</h3></li>
                                <li>Mixed Berry
                                    <div class="pull-right">340 cal</div>
                                </li>
                                <li>Strawberry Banana
                                    <div class="pull-right">340 cal</div>
                                </li>
                                <li>Green Tea
                                    <div class="pull-right">320 cal</div>
                                </li>
                                <li>Acai Banana Parfait
                                    <div class="pull-right">510 cal</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix x2"></div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class='ruled'><span>PANINIS</span></h2>
            </div>
        </div>
        <div class="row paninis">
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ 'feta-red-pepper.png' | asset_url }}" alt="Panini" />
                        </div>
                        <div class="col-xs-6">
                            <h3>Feta Red Pepper</h3>
                            <p>Red pepper, feta cheese and basil pesto</p>
                        </div>
                        <div class="col-xs-3">530 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ 'red-pepper-chicken-brie.png' | asset_url }}" alt="Panini" />
                        </div>
                        <div class="col-xs-6">
                            <h3>Red Pepper Chicken &amp; Brie</h3>
                            <p>Roasted red pepper, all natural grilled chicken and creamy brie</p>
                        </div>
                        <div class="col-xs-3">500 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ 'smoke-turkey-swiss.png' | asset_url }}" alt="Panini" />
                        </div>
                        <div class="col-xs-6">
                            <h3>Smokey Turkey &amp; Swiss</h3>
                            <p>Smoked turkey, swiss cheese, baby spinach, basil pesto and boursin cheese</p>
                        </div>
                        <div class="col-xs-3">560 cal</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row paninis">
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ 'roasted-tomato-spinach.png' | asset_url }}" alt="Panini" />
                        </div>
                        <div class="col-xs-6">
                            <h3>Roasted Tomato &amp; Spinach</h3>
                            <p>Baby spinach, roasted tomatoes, swiss and garlic &amp; herb cheese</p>
                        </div>
                        <div class="col-xs-3">530 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{ 'wasabi-ham-swiss.png' | asset_url }}" alt="Panini" />
                        </div>
                        <div class="col-xs-6">
                            <h3>Wasabi Ham &amp; Swiss</h3>
                            <p>Ham, swiss, cheese, crunchy pickle and spicy wasabi yogurt</p>
                        </div>
                        <div class="col-xs-3">510 cal</div>
                    </div>
                </div>
            </div>     
        </div>
        
        
        <div class="row">
            <div class="col-sm-12">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>NEW! Breakfast Panini</h3>
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ 'ChefNotes_SmokedHamSunrisePanini.jpg' | asset_url }}" alt="Smoked Ham Sunrise Panini" />
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ 'ChefNotes_RoastedTomatoSunrisePanini.jpg' | asset_url }}" alt="Roasted Tomato Sunrise Panini" />
                        </div>                               
                    </div>
                </div>
            </div>
        </div>        


        <div class="clearfix x2"></div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class='ruled'><span>SALADS</span></h2>
            </div>
        </div>
        <div class="row salads">
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/chickpea.jpg?10175175694423196487" alt="Salad" />
                        </div>
                        <div class="col-xs-6">
                            <h3><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Chickpea</h3>
                            <p>Chickpeas, carrots, tomatoes, green peppers, red peppers and parsley</p>
                        </div>
                        <div class="col-xs-3">290-380 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/edamame.jpg?10175175694423196487" alt="Salad" />
                        </div>
                        <div class="col-xs-6">
                            <h3><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Edamame</h3>
                            <p>Edamame, roasted corn, bell red peppers, bermuda onions and cranberries</p>
                        </div>
                        <div class="col-xs-3">350 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/kale-salad.jpg?10175175694423196487" alt="Salad" />
                        </div>
                        <div class="col-xs-6">
                            <h3><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Kale</h3>
                            <p>Fresh kale, freekah, plum tomatoes and onions tossed in a lemon and olive oil dressing</p>
                        </div>
                        <div class="col-xs-3">320 cal</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row salads">
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/garden-lentil.jpg?10175175694423196487" alt="Salad" />
                        </div>
                        <div class="col-xs-6">
                            <h3><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Garden Lentil</h3>
                            <p>Lentils, carrots, onions and bell peppers</p>
                        </div>
                        <div class="col-xs-3">200-300 cal</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block-1">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/ChefNotes_SignatureFoods_NEW_IMAGESONLY35.jpg?10175175694423196487" alt="Salad" />
                        </div>
                        <div class="col-xs-6">
                            <h3><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" style="left:-50px;" /><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Black Bean</h3>
                            <p>Black beans, kidney beans, roasted corn, red peppers, onions and cucumbers</p>
                        </div>
                        <div class="col-xs-3">350 cal</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix x2"></div>
        <div class="separator"></div>


        <div class="row stf-footer">
            <div class="col-sm-5">
                <strong>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/ArgoCateringMenu_LetterSize_4.25.2016.compressed.pdf?16712418062384653154" target="_blank">• Click Here to Download Catering Brochure</a>
        </strong>
            </div>
            <div class="col-sm-5 bakery">
                <div class="pos-rel"><img width="18" height="18" src="{{ 'icon-veg.png' | asset_url }}" class="stf-icon" />Vegan</div>
                <div class="pos-rel"><img width="22" height="18" src="{{ 'icon-non-veg.png' | asset_url }}" class="stf-icon" />Made with no gluten-containing ingredients</div>
            </div>
            <div class="col-sm-2">
                <img width="198" height="173" class="pick-two" src="{{ 'stf-pick-two.jpg' | asset_url}}" alt="" />
            </div>
        </div>
    </div>


</main>
