<!-- page.teapuccino.liquid -->
{% include 'theme-variables' %}



<section id="page-wrap" class="section-wrap teappuccino-page">
  {% include '__containers-open' %}
    <h1 class="page-header">{{ page_title }}</h1>
    {% include '__formatted-content' with page.content %}
	
  	{% assign collection-handle = 'teappuccinos' %}
    {% include 'product-loop-argo' with collection-handle %}
  
    {% comment %} 
  	<div class="row">
      <div class="col-sm-12">
        {% include 'carousel-other-bottled' %}-->
      </div>
    </div>{% endcomment %}
  {% include '__containers-close' %}
</section>
