{% include 'theme-variables' %}
<section id="contact-page-wrap" class="section-wrap">
	{% include '__containers-open' %}
	<h1 class="page-header">{{ page_title }}</h1>
	<div class="faq-line">
		Have a general question? <a href="https://argotea.zendesk.com/hc/en-us" traget="_blank">Check out our FAQs.</a>
	</div>
	<div class="row">
		<div class="contact-page-content">
			{% include '__formatted-content' with page.content %}
			<hr class="visible-sm visible-xs">
		</div>
		<div class="contact-page-form">
			{% include 'contact-form-external' %}
		</div>
	</div>
	{% include '__containers-close' %}
</section>
