<!-- page.loyaltea.liquid -->

<main class="landing-page main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-landing-club pull-right vcenter">
                    <div class="inner-box text-center">
                        <h1>
                           ENJOY A <br>
                           FREE DRINK 
                        </h1>
                        <h4>
                            when you download our app!
                        </h4>
                        <div class="row no-gutters text-left">
                            <div class="col-md-4">
                                <img src="{{ 'loyaltea-club-img-mobile.png' | asset_url }}" alt="club-img-mobile" class="club-img-mobile">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="x3"></div>
                                    </div>
                                    <div class="col-md-12 hidden-xs hidden-sm hidden-md ">
                                        <p>*Receive a $5 new user credit upon download. Limited-time offer.</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="https://itunes.apple.com/us/app/argo-tea/id918225439?mt=8" target="_blank">
                                            <img src="{{'app-store.png' |asset_url}}" alt="app-store">
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="https://play.google.com/store/apps/details?id=com.argotea.argotea.android.app&hl=en" target="_blank">
                                            <img src="{{'google-play.png' | asset_url }}" alt="google-play">
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 text-center hidden-lg ">
                                        <p class="text-mobile">*Receive a $5 new user credit upon download. Limited-time offer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <img src="{{ 'logo-white.png' | asset_url }}" alt="" class="logo-loyaltea hidden-xs hidden-sm " />
                            </div>
                        </div>
                    </div>
                    <div class="overlay-landing"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="home-off landing-club-off">
    <div class="container">
        <div class="row">
            <div class="tenPercentOff">
                <div class="col-sm-12 col-md-7">
                    <div class="tenLeft">
                        Join our Email List & get <strong>10% OFF</strong> your next online purchase!
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="tenRight">
                        <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
                            <input name="g" value="nDcNSS" type="hidden">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="klaviyo_fieldset">
                                        <div class="klaviyo_field_group">
                                            <input id="k_id_modal_$email" name="email" placeholder="Enter Your Email Address" type="email">
                                        </div>
                                    </div>
                                    <div class="klaviyo_fine_print"></div>
                                </div> 
                                <div class="col-xs-4">
                                    <div class="klaviyo_form_actions">
                                        <button type="submit" class="klaviyo_submit_button btn btn-primary">
                                            LET'S GO!
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="error_message"></div>
                            <div class="success_message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

