<!-- page.bottled-tea-drinks.liquid -->


<main class="container bottled-tea-page">
  <div class="row">
    <div class="col-lg-12">
      <h1>Take Your Favorites Anywhere. Argo Tea is Now On-the-Go.</h1>
      <p>We’ve bottled up our most popular flavors and we’re proud to make them available to you at home or at the office, anywhere in the world! Argo Tea ready-to-drink bottled iced teas are all natural, made only with premium loose leaf tea, real ingredients, fruit juices, and spices. Each signature flavor comes in our custom Argo reusable or recyclable glass bottle, available for purchase online in a generous 12-bottle case. Simply click a button and get your favorites delivered to your doorstep.</p>
    </div>
  </div>

  <div class="separator"></div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
      <h2><a href="/collections/bottled-tea-drinks">Signature Bottled Teas</a></h2>
      <p>We’ve created our Signature Bottled Teas to taste just as good as a freshly made cup in our cafes, by starting with premium loose leaf tea and adding real fruit pieces, whole spices and other all natural flavoring, then finish things off with just a touch of sweet, pure cane sugar. With 7 flavors to choose from, you are sure to find a favorite (or two…or three!)</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <a href="/collections/bottled-tea-drinks"><img src="https://cdn.shopify.com/s/files/1/0909/1186/files/signature-bottled-teas2.jpg?311580829097499892" alt="Ago Tea Signature Bottled Teas" /></a>
    </div>
  </div>

  <div class="separator"></div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
      <h2><a href="/pages/unsweetened">Unsweetened Teas</a></h2>
      <p>What our unsweetened teas may lack in sweetness, they more than make up for it in pure, straight flavor. Enjoy the naturally delectable blends of premium loose leaf tea and all natural flavors, free of any artificial ingredients, colors or additives. And let’s not forget the best part – our unsweetened teas are all 0 calories.</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <a href="/pages/unsweetened"><img src="{{ 'bottled-unsweetened.jpg' | asset_url }}" alt="Ago Tea Unsweetened Tea" width="292" height="240" /></a>
    </div>
  </div>

  <div class="separator"></div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
      <h2><a href="/pages/teappuccino">Teappuccinos</a></h2>
      <p>Our Teappuccinos are not just good – they are award winning good. These dairy-based blends of premium loose leaf tea and real ingredients won the award in Best Tea category at the 2015 World Beverage Innovation Awards in Nuremberg, Germany! Enjoy 3 delicious flavors, each at or under just 100 calories per serving.    
</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <a href="/pages/teappuccino"><img src="https://cdn.shopify.com/s/files/1/0909/1186/files/teappuccino-nodrops.jpg?2181183227185647422" alt="Ago Tea Teapuccinos" width="292" height="298" /></a>
    </div>
  </div>
</main>
