{% include 'theme-variables' %}

<!-- /templates/page.liquid -->
<div class="container main">
<div class="grid row">
  <div class="grid__item col-sm-8 header">
    <h2>Argo Tea Wins! Look at These Awards.</h2>
	<p>We take our tea seriously, that’s pretty obvious. What you may not know, though, is that we take everything that goes along with our tea just as seriously. That’s why we put the utmost of efforts and attention to detail into everything we create, whether it’s our ready-to-drink lines of RTDs and Teappuccinos to our Tea Sachet packaging. We’re not happy with putting out just a good product – it’s got to be the best. Just take a look at these fancy awards we’ve racked up so far.</p>
  </div>
</div>

<div class="grid arow1 row">
    <div class="grid__item col-sm-4 three ">
	<img src="{{'awards_argo.png' | asset_url}}" class="img-pro" style="width:145px" />
    <a rel="nofollow" href="https://www.foodbevawards.com/" class="aw_box">
      <div class="image">
    	<img src="{{ 'teappuccino_award-01.png' | asset_url }}" style="width:90px; "/>
      </div>  
      <div class="content">
        <h3>2015</h3>
        <h4>World Beverage Innovation Awards Best Tea</h4>
        <p>for our teappuccino line</p>
      </div>
    </a>
  </div> 
  <div class="grid__item col-sm-4  one ">
	<img src="{{ 'imageedit_1_2478483527.gif' | asset_url }}" style="width: 95px;" class="img-pro" />
    <a href="http://archive.gdusa.com/contests/apda14/winners/gallery.php?c=food_beverage" rel="nofollow" class="aw_box">
      <div class="image">
    	<img src="{{ 'gd-2014-award-winner-229x300.jpg' | asset_url }}" style="width:90px" />
      </div>  
      <div class="content">
        <h3>2014</h3>
        <h4>American Package Design Awards</h4>
        <p>for our tea sachet packaging</p>
      </div>
    </a>
  </div>
  <div class="grid__item col-sm-4 two">
	<img src="{{'awards_argo_14.png' | asset_url }}" style="width:120px" class="img-pro" />
    <a rel="nofollow" href="http://www.teachampionship.com/index.php/champions/2014-champs/articles/90-iced-tea-class-champions-2" class="aw_box">
      <div class="image">
    	<img src="{{ 'NATC14_Plain_lo.jpg' | asset_url }}" style="width:90px; "/>
      </div>  
      <div class="content">
        <h3>2014</h3>
        <h4>North American Tea Championships Iced Tea Class</h4>
        <p>for our bottled green tea, ginger twist and mojitea</p>
      </div>
    </a>
  </div>
 
</div>

<div class="grid arow2 row">
  <div class="grid__item col-md-3 col-sm-6 col-xs-12 ">
    <a rel="nofollow" href="http://nrn.com/nrn-50/breakout-brands-argo-tea" class="aw_box">
      <div class="content">
      <h4>Argo Tea Recognized as Top 50 Breakout Brand of 2013</h4>
      <p>Source: Nation's Restaraunt News</p>
      <p>January 28, 2013</p>
    </div>
    </a>   
  </div>
  <div class="grid__item col-md-3 col-xs-12 col-sm-6 ">
    <a rel="nofollow" href="http://www.qsrmagazine.com/articles/ones_to_watch/119/argo-1.phtml" class="aw_box">
      <div class="content">
      <h4>Hot Beverage Restaurant Concepts-Argo Tea</h4>
      <p>Source: QSR Magazine</p>
      <p>September 2008</p>    
    </div>
    </a>   
  </div>
  <div class="grid__item col-md-3 col-xs-12 col-sm-6">
    <a rel="nofollow" href="http://www.argotea.com/press/ChicagoTribune0608.jpg" class="aw_box">
      <div class="content">
      <h4>Argo Tea Iced Coffee Named 3rd Best</h4>
      <p>Source: Chicago Tribune</p>
      <p>June 2008</p>    
    </div>
    </a>   
  </div>  
  <div class="grid__item col-md-3 col-xs-12 col-sm-6">
	<a rel="nofollow" href="http://www.argotea.com/press/2007_11_Chicago%20Tribune.jpg" class="aw_box">
     <div class="content"> 
      <h4>Argo Tea's Pumpkin Chai Named Best Pumpkin Drink</h4>
      <p>Source: Chicago Tribune</p>
      <p>November 2007</p>    
    </div>
    </a>   
  </div>    
</div>
</div>
