<!-- page.new-cold-brew.liquid -->

<main>

<img class="cold-brew-hero" src="{{ 'ColdbrewBanner.jpg' | asset_url}}" alt="Cold Brew Tea Banner" />
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
        <div class="main-text">
        Introducing single estate teas from India and Japan, cold brewed to bring out the best flavors and qualities of the tea leaves. Cold brewing lowers tannins and astringency, making the tea naturally sweet. Come in to a café to try these highest grade first flush black and green teas, direct from the tea gardens.
        </div>
        </div>

        <img class="half-glass" src="{{ 'argo-tea-brew1.png' | asset_url}}" alt="Darjeeling Black Tea" />
        <img class="half-glass" src="{{ 'argo-tea-brew2.png' | asset_url}}" alt="Gyokuro Green Tea" />
        
    </div>
  </div>
  
</main>
