<!-- page.charitea.liquid -->

<main class="charitea-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h1>ChariTea</h1>
          {% include '__formatted-content' with page.content %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h2>Our Focus Areas</h2>

        <h3>Healthy Living.</h3>
        <p>We support organizations that focus on education and endorsement of healthy living practices as well as those that work to spread awareness, further research and assist patients and their families in combating sickness and disease.</p>

        <h3>SustainabiliTea&#8482;</h3>
        <p>We are committed to being an environmentally responsible, sustainable business. We strive to spread the arc of sustainable consciousness by supporting other organizations working towards the same goal.</p>

        <h3>CreativiTea&#8482;</h3>
        <p>We support local artists and cultural organizations in their efforts to enrich the fabric of our communities.</p>

        <h3>Women (of All Ages).</h3>
        <p>We work with organizations that promote the well-being of women and girls in our communiteas, especially women who are in need or who live and work in underserved areas.</p>

        <p>All qualified organizations must provide proof of certified 501(c)(3) status. We specifically look for organizations committed to participation in in-store events at all of our locations, as well as the developing innovative marketing programs that maximize the potential of the ChariTea® partnership.</p>

      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h2>The Beginnings</h2>
        <p>ChariTea®,the idea of donating proceeds of our Seasonal drink sales first came to us through one of our TeaMembers. We take our Team’s input seriously and were delighted to bring ChariTea® to fruition in early 2008. We work both with locally based non-profit organizations, as well as Chicago chapters of national non-profits in 4 focus areas to make a direct impact on causes that are important to the philosophy and values of our company.</p>

        <a class="charitea-partner" href="/pages/contact-us">Interested in becoming a ChariTea partner?<br class="visible-lg" />
        Apply for a potential future partnership here!</a>
        <div class="img-charitea-partner">
          <h2>Our Current ChariTea Partner</h2>
          <img src="{{ 'charitea-partner-season.png' | asset_url }}" alt="Partner of the season" />
        </div>
        <p class="text-center">
            <a class="btn btn-primary btn-xs charitea-btn" href="/collections/charitea">SHOP TO SUPPORT</a>
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h2>Some of Our Past ChariTea Partnerships:</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="chari-tea"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-BrightPink"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-ARC-logo"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-habitat-humanity"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-LincolnParkZoo"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-ace-ny"></div></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-share"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-alz"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-fell-prog"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-HarrisTheater"></div></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-Step-Up"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-GildasClub"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-gildany"></div></div>
      <div class="col-md-1 col-sm-4 col-xs-6"><div class="spritep spritep-MF2359"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-ChicagoFT"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-arch-for-hum"></div></div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-HeartsaBluhm"></div></div>
      <div class="col-md-1 col-sm-4 col-xs-6"><div class="spritep spritep-GreaterChicagoFood"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-acs"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-cff"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-HHHousing"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-NYWF_color-logo"></div></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-als"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-sesobel"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-BreastCancer"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-MofContemporaryArt"></div></div>
      <div class="col-md-3 col-sm-4 col-xs-12"><div class="spritep spritep-JDRF"></div></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-logo"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-FriendsofParks"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-vh1"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-CMHospital"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-HuntingtonDisease"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-12"><div class="spritep spritep-llls"></div></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-4 col-xs-12"><div class="spritep spritep-sierra-club"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-EnvtLaw"></div></div>
      <div class="col-md-2 col-sm-4 col-xs-6"><div class="spritep spritep-MIdwestFilmFestival"></div></div>
    </div>
  </div>
</main>
