<!-- page.seasonal-specials.liquid -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <a href="{{ settings.ss-banner-link }}" style="display: inline-block; padding-right: 17px; margin-top: 20px;">
        <img class="seasonal-specials-banner" src="{{ 'seasonal-specials-banner-image.jpg' | asset_url }}" alt="Argo Tea Seasonal Specials banner image" />
      </a>
    </div>
  </div>
</div>


<main class="seasonal-page main-content">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% include '__formatted-content' with page.content %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="seasonal-specials-grid clearfix">
          {% if settings.ss-grid-r1c1-enabled %}
          <a class="ss-grid-r1" href="{{ settings.ss-grid-r1c1-link }}">
            <img width="530" height="355" src="{{ 'ss-grid-r1c1.jpg' | asset_url }}" alt="" />
          </a>
          {% endif %}
          {% if settings.ss-grid-r1c2-enabled %}
          <a class="ss-grid-r1" href="{{ settings.ss-grid-r1c2-link }}">
            <img width="236" height="355" src="{{ 'ss-grid-r1c2.jpg' | asset_url }}" alt="" class="image-r1-c2"/>
          </a>
          {% endif %}
          {% if settings.ss-grid-r1c3-enabled %}
          <a class="ss-grid-r1" href="{{ settings.ss-grid-r1c3-link }}">
            <img width="355" height="355" src="{{ 'ss-grid-r1c3.jpg' | asset_url }}" alt="" />
          </a>
          {% endif %}

          {% if settings.ss-grid-r2c1-enabled %}
          <a class="ss-grid-r2" href="{{ settings.ss-grid-r2c1-link }}">
            <img width="268" height="281" src="{{ 'ss-grid-r2c1.jpg' | asset_url }}" alt="" />
          </a>
          {% endif %}
          {% if settings.ss-grid-r2c2-enabled %}
          <a class="ss-grid-r2" href="{{ settings.ss-grid-r2c2-link }}">
            <img width="454" height="281" src="{{ 'ss-grid-r2c2.jpg' | asset_url }}" alt="" />
          </a>
          {% endif %}
          {% if settings.ss-grid-r2c3-enabled %}
          <a class="ss-grid-r2" href="{{ settings.ss-grid-r2c3-link }}">
            <img width="400" height="281" src="{{ 'ss-grid-r2c3.jpg' | asset_url }}" alt="" />
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</main>

<script>
  $(function() {
    if (!$('.seasonal-specials-grid').length) return;
    $('.seasonal-specials-grid a[href="#"]').click(function(e) { e.preventDefault(); });
  });
</script>
