<!-- page.tea-sachet-ex.liquid -->
{% include 'theme-variables' %}

<section id="page-wrap" class="section-wrap tce-page">
  {% include '__containers-open' %}
    <h1 class="page-header">{{ page_title }}</h1>
    {% include '__formatted-content' with page.content %}

    {% assign collection-handle = 'tea-sachets' %}
    {% include 'product-loop-argo' with collection-handle %}


  {% include '__containers-close' %}
</section>
