{% include 'theme-variables' %}

<!-- ... {{ page.handle }} -->
{% assign page_has_collections_navbar = false %}
{% for linklist in linklists %}
  {% if linklist.handle == page.handle %}{% assign page_has_collections_navbar = true %}{% endif %}
{% endfor %}
{% if page_has_collections_navbar == true %}<!-- ... show navbar -->
{% assign linklist_handle = page.handle %}
{% include 'navbar-collections' with linklist_handle %}
{% else %}
<section id="page-wrap" class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header">{{ page_title }}</h1>
		{% include '__formatted-content' with page.content %}
	{% include '__containers-close' %}
</section>
{% endif %}
