<!-- page.tea-classics.liquid -->
{% include 'theme-variables' %}


<section id="page-wrap" class="section-wrap tclassics-page">
  <div class="atf">
  </div>
  <div class="sep-hdg olive">
    <h1>
      <span>{{ page_title }}
      <small class="subheading">available hot or iced</small></span>
    </h1>
  </div>

  <div class="container prod-list">
    <div class="row">
      <a href="/collections/black-teas" class="col-xs-12 col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_Black.png?14358389173052420997" alt="Nilgiri Black Tea" />
        <h3>Nilgiri Black Tea</h3>
        <p>Aromatic and flavorful Indian black tea</p>
        <p class="colored">Antioxidants: High <br />Caffeine: High</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-purple-leaves.png' | asset_url }}" alt="" /> Shop our other Black Teas</p>
      </a>
      <a href="/collections/black-teas" class="col-xs-12 col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_Black.png?14358389173052420997" alt="Earl Grey Crème Tea" />
        <h3>Earl Grey Crème</h3>
        <p>Smooth black tea with bergamot and vanilla</p>
        <p class="colored">Antioxidants: High <br />Caffeine: High</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-purple-leaves.png' | asset_url }}" alt="" /> Shop our other Black Teas</p>
      </a>
      <a href="/collections/green-teas" class="col-xs-12 col-sm-4 prod-block green">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_Green.png?14358389173052420997" alt="Green Tea" />
        <h3>Green Tea</h3>
        <p>Japanese sencha blended with matcha</p>
        <p class="colored">Antioxidants: High <br />Caffeine: Medium</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-green-leaves.png' | asset_url }}" alt="" /> Shop our other Green Teas</p>
      </a>
    </div>

    <div class="row">
      <a href="/collections/white-rare-teas" class="col-xs-12 col-sm-4 prod-block orange">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_White.png?14358389173052420997" alt="White Tea" />
        <h3>White Tea</h3>
        <p>A rare and delicate white tea high in antioxidants</p>
        <p class="colored">Antioxidants: High <br />Caffeine: Low</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-orange-leaves.png' | asset_url }}" alt="" /> Shop our other White Teas</p>
      </a>
      <a href="/collections/red-teas" class="col-xs-12 col-sm-4 prod-block red">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_Red.png?14358389173052420997" alt="Red Tea" />
        <h3>Red Tea</h3>
        <p>Antioxidant rich South African rooibos tea</p>
        <p class="colored">Antioxidants: High <br />Caffeine: None</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-red-leaves.png' | asset_url }}" alt="" /> Shop our other Red Teas</p>
      </a>
      <a href="/collections/herbal-teas" class="col-xs-12 col-sm-4 prod-block blue">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_White.png?14358389173052420997" alt="Armenian Mint Tea" />
        <h3>Armenian Mint</h3>
        <p>Mint tea with a revitalizing, refreshing effect</p>
        <p class="colored">Antioxidants: Medium <br />Caffeine: None</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-blue-leaves.png' | asset_url }}" alt="" /> Shop our other Herbal Teas</p>
      </a>
    </div>

    <div class="row">
      <a href="/collections/herbal-teas" class="col-xs-12 col-sm-4 prod-block blue">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_Herbal.png?14358389173052420997" alt="Hibiscus Apple" />
        <h3>Hibiscus Apple</h3>
        <p>Tangy hibiscus petals blended with sweet apples</p>
        <p class="colored">Antioxidants: Medium <br />Caffeine: None</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-blue-leaves.png' | asset_url }}" alt="" /> Shop our other Herbal Teas</p>
      </a>
      <a href="/collections/black-teas" class="col-xs-12 col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Photo_MonoFilioTeapot_White.png?14358389173052420997" alt="Ginger Peach Tea" />
        <h3>Ginger Peach</h3>
        <p>Black tea blended with spicy ginger and fragrant peach</p>
        <p class="colored">Antioxidants: High <br />Caffeine: High</p>
        <p class="colored"><img class="icon-img" src="{{ 'icon-purple-leaves.png' | asset_url }}" alt="" /> Shop our other Black Teas</p>
      </a>
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
           <a href="/pages/seasonal-specials" class="teaClassicBtn btn btn-primary btn-xs">
               View our Seasonal Tea Classics
           </a>
      </div>
    </div>
  </div>

  {% include '__containers-open' %}
    {% include '__formatted-content' with page.content %}
  {% include '__containers-close' %}
</section>
