<!-- page.signature-drinks.liquid -->
{% include 'theme-variables' %}

<div class="blank-space"></div>

<section id="page-wrap" class="section-wrap sigdrinks-page prod-list">

  {% include '__containers-open' %}
  <div class="col-sm-6">
    <h1 class="page-header">We’ve created our own unique blends of <strong>Signature Drinks</strong> that are all naturally fresh, healthy and distinctive. Always made from real ingredients that are free of any artificial flavorings, colors or additives</h1>
  </div>
    <div class="col-sm-6">
      <img src="{{ 'banner-half-signature.jpg' | asset_url }}" alt="Signature Drinks" />
  </div>
  {% include '__formatted-content' with page.content %}
  {% include '__containers-close' %}

  <div class="sep-hdg olive">
    <h2>
      <span>SIGNATURE FAVORITES
      <small class="subheading">available hot or iced</small></span>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-carolina-honey.jpg?11400740087637783901" alt=">Carolina Honey" />
        <h3>Carolina Honey&reg;</h3>
        <p>Energizing black tea from Nilgiri, India with wildflower honey and a splash of lemon</p>
      </div>
      <div class="col-sm-4 prod-block blue">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-hibiscus.jpg?11400740087637783901" alt="Hibiscus Apple Cider" />
        <h3>Hibiscus Apple Cider&reg;</h3>
        <p>Vitamin rich hibiscus flowers crisp apples and a touch of caramel</p>
      </div>
      <div class="col-sm-4 prod-block olive">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-gtgt.jpg?11400740087637783901" alt="Green Tea Ginger Twist" />
        <h3>Green Tea Ginger Twist&reg;</h3>
        <p>Antioxidant rich Japanese Sencha, spicy ginger pieces and a twist of lemon</p>
      </div>
    </div>
  </div>

  <div class="sep-hdg olive">
    <h2>
      <span>TEAPPUCCINOS<sup>&reg;</sup>
      <small class="subheading">available hot or iced</small></span>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-chai.jpg?11400740087637783901" alt="Chai" />
        <h3>Chai</h3>
        <p>Sweet, spicy and creamy blend of Assam black tea with ginger, cinnamon, cardamom and vanilla</p>
      </div>
      <div class="col-sm-4 prod-block purple">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-earl-grey.jpg?11400740087637783901" alt="Earl Grey Vanilla Crème" />
        <h3>Earl Grey Vanilla Crème&trade;</h3>
        <p>Classic black tea infused with citrusy bergamot and sweet vanilla</p>
      </div>

      <div class="col-sm-4 prod-block">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-chocolate-mint.jpg?11400740087637783901" alt="Chocolate Mint" />
        <h3>Chocolate Mint</h3>
        <p>Creamy black tea with cool mint and rich dark chocolate</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 prod-block">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-mate-late.jpg?11400740087637783901" alt="Maté Laté" />
        <h3>Maté Laté&trade;</h3>
        <p>Energizing Brazilian Maté tea roasted with bits of rich cocoa, toasted almonds and cream</p>
      </div>
      <div class="col-sm-4 prod-block">
        <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-matcha.jpg?11400740087637783901" alt="Matcha Vanilla Latte" />
        <h3>Matcha Vanilla Latte&trade;</h3>
        <p>Stone ground fine Japanese green tea with sweet vanilla and cream</p>
      </div>
    </div>
    <div class="row sigdrinks-grid">
      {% assign collection-name = 'teappuccinos-nfs' %}
    </div>
  </div>
  <div class="sep-hdg olive hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>
            <span class="two-lines">TEA SPARKLES <sup>&reg;</sup> &amp; SQUEEZES<sup>&reg;</sup></span>
          </h2>
        </div>
        <div class="col-md-4">
          <h2>
            <span class="center-line">KOMBUCHA</span>
          </h2>
        </div>
        <div class="col-md-4">
          <h2>
            <span class="center-line">BUBBLE TEAS</span>
          </h2>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sep-hdg olive visible-xs">
                    <h2>
                        <span>TEA SPARKLES <sup>&reg;</sup> &amp; TEA SQUEEZES<sup>&reg;</sup></span>
                    </h2>
                </div>
                <div class="col-sm-12 prod-block blue">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-squeeze.jpg?11400740087637783901" alt="Hibiscus Lemonade" />
                    </div>
                    <h3>Hibiscus Lemonade</h3>
                    <p>Half thirst-quenching hibiscus flowers and half fresh squeezed lemonade</p>
                </div>
                <div class="col-sm-12 prod-block blue">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-mojitea.jpg?11400740087637783901" alt="MojiTea" />
                    </div>
                    <h3>MojiTea&reg;</h3>
                    <p>Refreshing Armenian mint vitamin rich lime juice and a hint of pure cane sugar</p>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/Hibiscus-Tea-Sangria.jpg" alt="Hibiscus Tea Sangria" />
                    </div>
                    <h3>Hibiscus Tea Sangria&reg;</h3>
                    <p>Thirst-quenching hibiscus flowers with a medley of fruits</p>
                </div>
            </div>
            <div class="col-md-4 v-bordered">
                <div class="sep-hdg olive visible-xs">
                    <h2>
                        <span>KOMBUCHA</span>
                    </h2>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/kombucha-green-ginger-3.png" alt="Kombucha Green Ginger" />
                    </div>
                    <h3>Green Ginger</h3>
                    <p>An effervescent living drink made to order with healthy probiotic culture, green tea and spicy ginger</p>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/kombucha-hibiscus-cider-3.png" alt="Kombucha Hibiscus Cider" />
                    </div>
                    <h3>Hibiscus Cider</h3>
                    <p>An effervescent living drink made to order with healthy probiotic culture, hibiscus flowers, crisp apples and a touch of caramel</p>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/kombucha-mojitea-2.png" alt="Kombucha MojiTea" />
                    </div>
                    <h3>MojiTea</h3>
                    <p>An effervescent living drink made to order with healthy probiotic culture, refreshing Armenian mint tea, vitamin-rich lime juice and a hint of pure cane sugar</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sep-hdg olive visible-xs">
                    <h2>
                        <span>BUBBLE TEAS</span>
                    </h2>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/sd-coconut.jpg?11400740087637783901" alt="Black Tea Coconut" />
                    </div>
                    <h3>Black Tea Coconut</h3>
                    <p>Milky Nilgiri black tea with chewy nata de coco, vegan and gluten free coconut ‘pearls’</p>
                </div>
                <div class="col-sm-12 prod-block">
                    <div class="drink-img-cnt">
                        <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/Green_Tea_Raspberry.jpg" alt="Green Tea Raspberry" />
                    </div>
                    <h3>Green Tea Raspberry</h3>
                    <p>Milky Sencha, raspberries and chewy nata de coco, vegan and gluten free coconut ‘pearls’</p>
                </div>
            </div>
        </div>

        <div class="blank-space"></div>

        <div class="row">
          <div class="col-lg-12">
            <img class="bottom-ingredients" src="{{ 'banner-sigdrinks.jpg' | asset_url }}" alt="Argo Tea Signature Drink Ingredients" />
          </div>
        </div>
      </div>

</section>
