<!-- page.locations.liquid -->

<section class="locations-cont main-content">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-4 col-sm-12 col-xs-12 form-inline">
        <div class="input-group locations-search">
          <input type="search" id="search-locations-input" class="form-control"
            data-toggle="tooltip" data-placement="bottom" title="No locations found."
            data-trigger="manual" maxlength="30" placeholder="Search locations" />
          <span class="input-group-btn">
            <a href="#" id="search-locations" class="btn btn-primary"><i class="fa fa-search"></i></a>
          </span>
        </div>
       <a class="btn btn-primary full-cat show-full-directory" href="#locs">VIEW FULL CAFE DIRECTORY</a>
       <div id="nearest">


       </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div id="locationsMap"></div>
        {% comment %}
          <p class="locations-status"><small>Found <strong>__</strong> of <span>__</span> locations.</small></p>
        {% endcomment %}
      </div>
    </div>
  </div>


  <!-- <div class="loading">Loading locations...Please wait</div> -->

</section>
<section class="locations-list" id="locs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h2 class="text-center">Argo Tea Cafes in the United States</h2>


      <div class="row">
        <div class="col-md-4">
        
        
         
          <h4><span>Georgia</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(33.6407282,-84.42770009999998)"><strong>Atlanta International Airport</strong>
            Hartsfield-Jackson Atlanta<br>
            International Airport<br>
            Concourse T, 7700 Spine Road, T4<br>
            3rd Fl, Atlanta GA 30320</a></p>
            
            
            
         
          <h4><span>Illinois</span></h4>

          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8817665,%20-87.63511240000003)">
           <strong>1 S Franklin St</strong>
            Chicago, IL 60606</a></p>
          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8796061, -87.62959239999998)">
           <strong>140 S Dearborn St</strong>
            Chicago, IL 60603</a></p>
          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8846013, -87.6305484)">
           <strong>16 W Randolph St</strong>
            Chicago, IL 60601</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.93855440000001, -87.64416549999999)"><strong>3135 N Broadway St</strong>
            Chicago, IL 60657</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8973269, -87.62568099999999)">
           <strong>819 N Rush St</strong>
            Chicago, IL 60611</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.9758967, -87.90261709999999)"><strong>Chicago O’Hare International Airport</strong>
            O'Hare Airport Terminal 3, Concourse H, Gate H1<br />
            Chicago, IL  60666</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.9774238, -87.89918)">
           <strong>Chicago O’Hare International Airport</strong>
            O'Hare Airport Terminal 2, Concourse E, Gate E3<br />
            Chicago, IL 60666</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.975883, -87.902988)">
           <strong>Chicago O’Hare International Airport</strong>
            O'Hare Airport Terminal 3, Concourse L, Gate L2A<br />
            Chicago, IL 60666</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8985967,-87.62670760000003)"><strong>Connors Park</strong>
            871 N Wabash Ave<br />
            Chicago, IL, 60611</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.88857489999999, -87.63462190000001)"><strong>Merchandise Mart</strong>
            222 W Merchandise Mart Plaza<br />
            Chicago, IL 60654</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8961215, -87.6208067)"><strong>Northwestern Memorial Hospital</strong>
            250 E Superior St<br />
            Chicago, IL 60611</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.852900, -87.949956)">
           <strong>Oakbrook Mall</strong>
            717 Oakbrook Center<br />
            Oakbrook, IL 60523</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.8904735,-87.6238323)">
           <strong>Tribune Tower</strong>
            Chicago Tribune Building<br>
            435 N Michigan Ave<br />
            Chicago, IL 60611</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.871887, -87.647754)">
           <strong>University of Illinois at Chicago</strong>
            Student Center East<br>
            750 S. Halsted St, Suite 151<br>
            MC 117 Chicago, IL 60607</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(41.87886,%20-87.636077)">
           <strong>Willis Tower</strong>
            233 S Wacker Dr<br />
            Chicago, IL 60606</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.0458265,-88.03805490000002)"><strong>Woodfield Mall</strong>
            6 Woodfield Mall<br />
            Schaumburg, IL 60173</a></p>

        </div>


        <div class="col-md-4">
         
         
          <h4><span>Massachusetts</span></h4>

         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.3856989,-71.22167999999999)"><strong>Bentley University</strong>
            Student Center, 175 Forest St<br />
            Waltham, MA 02452</a></p>
         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.338389, -71.087852)"><strong>Northeastern University</strong>
            Snell Library<br>
            360 Huntington Ave<br />
            Boston, MA 02115</a></p>


          <h4><span>Michigan</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.9638816,-85.8883237)"><strong>Grand Valley State University</strong>
            Mary Idema Pew Library, 10582 S. Campus Dr<br />
            Allendale, MI 49401</a></p>
            
            
            
          <h4><span>Minnesota</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(44.890719,-93.41681310000001)"><strong>UnitedHealth Group</strong>
            11000 Optum Circle<br />
            Eden Prairie, MN 55344</a></p>
            
            
         
         
          <h4><span>New York</span></h4>

         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.7671394, -73.9814776)">
           <strong>1792 Broadway St</strong>
            New York, NY 10019</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.7457763,-73.99398980000001)">
           <strong>275 7th Ave</strong>
            New York, NY 10001</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.7330929, -73.99315289999998)">
           <strong>75 University Pl</strong>
            New York, NY 10003</a></p>
          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.93388119999999,-78.88007110000001)"><strong>Buffalo State University</strong>
            E. H. Butler Library, 1300 Elmwood Ave<br />
            Buffalo, NY 14222</a></p>
          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.74125799999999, -73.989528)"><strong>Flatiron</strong>
            949 Broadway St<br />
            New York, NY 10010</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.7297066,-73.99547969999998)">
           <strong>New York University</strong>
            Academic Resource Center Building, 239 Greene St, Main Floor<br />
            New York, NY 10003</a></p>
         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(40.741631, -73.97470929999997)">
           <strong>New York University Langone Medical Center</strong>
            550 1st Ave<br />
            New York, NY 10016</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(42.6867393,-73.82284199999998)"><strong>University at Albany</strong>
            Lecture Center Concourse<br>
            1400 Washington Ave<br />
            Albany, NY 12222</a></p>


        </div>

        <div class="col-md-4">
          
          
          <h4><span>North Carolina</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(36.106378, -79.499784)">
           <strong>Elon University</strong>
            Global Commons, 100 Dalton McMichael Drive<br />
            Elon, NC 27244</a></p>
         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(35.6167944,-82.56729840000003)"><strong>University of North Carolina at Asheville</strong>
            Ramsey Library<br>
            1 University Heights<br />
            Asheville, NC 28801</a></p>
            
            
            
          
          <h4><span>Texas</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(30.102508, -95.446906)"><strong>ExxonMobil</strong>
            22777 Springwoods Village Pkwy<br />
            Spring, TX 77389</a></p>
          

          <h4><span>Virginia</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(37.266325, -76.718054)">
           <strong>College of William & Mary</strong>
            Miller Hall (Mason School of Business)<br>
            101 Ukrop Way<br />
            Williamsburg, VA 23185</a></p>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(38.034008, -78.510742)">
           <strong>University of Virginia</strong>
            Wilsdorf Hall<br>
            395 McCormick Rd<br />
            Charlottesville, VA 22904</a></p>
            
            
            
            
          <h4><span>Washington DC</span></h4>

          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(38.9368448,-77.09087669999997)"><strong>American University</strong>
            Katzen Arts Center, 4400 Massachusetts Ave NW<br />
            Washington, DC 20016</a></p>

        </div>
      </div>


      <div class="blank-space"></div>


      <h2 class="text-center">Argo Tea Cafes in the Middle East</h2>

      <div class="row">
       
        
        <div class="col-md-4">
         
          <h4><span>Qatar</span></h4>
         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(25.2611318,51.6136329)">
           <strong>Hamad International Airport</strong>
            Arrivals Area<br>
            Doha, Qatar</a></p>
          
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(25.3359931,51.4586342)">
           <strong>Gulf Mall</strong>
            2, Al Gharafah, Ad Dawḩah<br>
            Doha, Qatar</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(25.3340727,51.4657469)">
           <strong>Landmark Mall</strong>
            Al Shamal Road, Gharaffa<br>
            Doha, Qatar</a></p>
            
        </div>
       
        
        <div class="col-md-4">
         
          <h4><span>United Arab Emirates</span></h4>
         
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(24.470367,54.37262199999998)">
           <strong>Al Wahda Mall</strong>
            Hazza Bin Zayed St, Old Airport Rd, Al Wahda<br>
            Abu Dhabi, United Arab Emirates</a></p>
            
          <p><a target="_blank" href="http://maps.google.com/maps?saddr=&daddr=(24.4858485,54.5679588)">
           <strong>Yas Mall</strong>
            Yas Island<br>
            Abu Dhabi, United Arab Emirates</a></p>
            
        </div>
          
            
        <div class="col-md-4">
         
          
            
        </div>        
        
      </div>



      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaSPlKPGexSSFYqR9RRRUuadmty7-RBi0&libraries=places,geometry"></script>
{% comment %}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaSPlKPGexSSFYqR9RRRUuadmty7-RBi0&libraries=places"></script>{% endcomment %}

<script>
  $(function() {
    if (!$('#locs table').length) return;
    $('#locs table a[href="#"]').click(function(e) { e.preventDefault(); });
  });
</script>
