<section class="chicago-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="{{ 'chicago-page-bottles.jpg' | asset_url }}" alt="Philadelphia Store Locator" class="img-responsive">

                {{ page.content }}
                {% comment %}
                <p>Our Signature Drinks are inspired by creative mixologists and intelligent nutritionists. We freshly brew full-leaf teas and infuse them with fruits, flowers, spices and herbs. These all-natural beverages are always made from real ingredients that are free of artificial flavorings, colors or additives. Our healthy blends are a perfect balance of smart nutrition and craveable taste.</p>
                <h1 class="text-uppercase">Philadelphia Store Locator</h1>

                <ul class="no-bullets">
                    <li>Walgreens</li>
                    <li>Whole Foods</li>
                    <li>Mariano’s</li>
                    <li>Fresh Thyme</li>
                    <li>7-Eleven</li>
                    <li>CVS</li>
                    <li>Wawa</li>
                    <li>At Sunoco</li>
                    <li>Rite Aid</li>
                </ul>

                <a href="/collections/bottled-tea-drinks" class="btn btn-primary">Read Reviews</a>

                {% endcomment %}
            </div>
        </div>
        <div class="row no-gutter featured-logos">
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-1.jpg' | asset_url }}" alt="Walgreens" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-2.jpg' | asset_url }}" alt="Whole Foods" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-3.jpg' | asset_url }}" alt="Mariano's" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-4.jpg' | asset_url }}" alt="Fresh Thyme" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-5.jpg' | asset_url }}" alt="Seven Eleven" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <img src="{{ 'locator-6.jpg' | asset_url }}" alt="CVS" class="img-responsive">
            </div>
        </div>
        <div class="row no-gutter logos-bottom">
            <div class="col-xs-6 col-sm-4 col-md-2 col-md-push-3">
                <img src="{{ 'locator-7.jpg' | asset_url }}" alt="Wawa" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-md-push-3">
                <img src="{{ 'locator-8.jpg' | asset_url }}" alt="At Sunoco" class="img-responsive">
            </div>
            <div class="col-xs-6 col-xs-push-3 col-sm-4 col-sm-push-0 col-md-2 col-md-push-3">
                <img src="{{ 'locator-9.jpg' | asset_url }}" alt="Rite Aid" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<div class="home-off">
       <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-lg-7">
                    <div class="off-text">
                        Join our Email List &amp; get <strong>10% OFF</strong> your next online purchase!
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-5">
                    <div class="off-form">
                        <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
                            <input name="g" value="nDcNSS" type="hidden">
                                <div class="klaviyo_fieldset">
                                    <div class="klaviyo_field_group">
                                        <input id="k_id_modal_$email" name="email" placeholder="Enter Your Email Address" type="email">
                                    </div>
                                </div>
                                <div class="klaviyo_fine_print"></div>
                                <div class="klaviyo_form_actions">
                                    <button type="submit" class="klaviyo_submit_button btn btn-primary">
                                       LET'S GO!
                                    </button>
                                </div>
                            <div class="error_message"></div>
                            <div class="success_message"></div>
                        </form>
                    </div>
                </div>


            </div>
    </div>
</div>
