<!-- page.creativitea.liquid -->

<main class="creativitea-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h1 class="white">CreativiTea</h1>
          {% include '__formatted-content' with page.content %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Award-Winning Poster Design</h2>
        <p>The posters for our special Seasonal Signature Drinks are designed to be as distinguishing as the drinks themselves. We work in tandem with talented graphic designers to develop interesting, creative visual representations that convey the distinctiveness of our Seasonal Drinks.</p>
        <h3>Explore our Most Popular Designs</h3>
        <small>(Click to enlarge)</small>
        <div class="image-gallery light-gallery">
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Green-Tea-Strawberry-Creme.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '10_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/White-Frostea-Chocolate.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '11_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Valentea-Passion.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '12_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/TeanaColada.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '20_poster.jpg' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Aloe-Mint-Sparkle.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '23_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/White-Tea-Acai-Squeeze.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '15_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Fresh-Pastries.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '9_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/HIbiscus-Ginger-Ale.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '22_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Jasmine-Teamosa.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '7_poster.jpg' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Mango-Mateccino.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '13_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Fair-Trade-Coffee.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '19_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="#">
            <img class="ig-thumb" width="87" height="126" src="{{ '18_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="#">
            <img class="ig-thumb" width="87" height="126" src="{{ '17_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Pumpkin-Chai.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '4_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="#">
            <img class="ig-thumb" width="87" height="126" src="{{ '6_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="#">
            <img class="ig-thumb" width="87" height="126" src="{{ '8_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="#">
            <img class="ig-thumb" width="87" height="126" src="{{ '14_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
          <a href="https://cdn.shopify.com/s/files/1/0909/1186/files/Irish-Creme.jpg?844037541467450199">
            <img class="ig-thumb" width="87" height="126" src="{{ '16_poster.gif' | asset_url }}" alt="Argo Tea Cups" />
          </a>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Argo Original Cup Designs</h2>
        <p>The designs on our cups are as unique as the tea they hold. We work with the best designers in Chicago to develop design series that both reflect and outwardly convey the Argo mood and spirit. Our cups do more than just serve as containers – we design them to also inspire others and announce Argo Tea’s passion to the world.</p>
        <img src="{{ 'creativitea-cups.jpg' | asset_url }}" alt="Argo Tea Cups" />

        <h2>Local Art at Argo Tea</h2>
        <p>We are proud to offer our café walls to local visual artists to display their art. We relish the opportunity to introduce our customers to local creativiTea.</p>
        <a href="mailto:creativitea@argotea.com">• Click Here to Inquire About Displaying Your Art</a>

        <h2>Live Music at Argo Tea</h2>
        <p>As part of our ongoing commitment to creativiTea, we provide a stage for local artists while also delighting our customers with a special café experience. </p>
        <a href="mailto:creativitea@argotea.com">• Click Here to Inquire About Playing Music</a>
      </div>
    </div>
  </div>
