<!-- products.liquid -->

<section class="products-page">
  <article class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>We’ve created our own unique blends of <strong>Signature Drinks</strong> that are all naturally fresh, healthy and distinctive. Always made from real ingredients that are free of any artificial flavorings, colors or additives</h1>
      </div>
    </div>
  </article>
  <div class="anim-drinks"></div>


  <div class="container">
    <article class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="{{ collections.signature-drinks.url }}" class="pp-col-link">
          <img src="{{ collections.signature-drinks.image.src | img_url: 'medium' }}" alt="" />
          <h3>{{ collections.signature-drinks.title }}</h3>
          <p>{{ collections.signature-drinks.description }}</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="{{ collections.signature-drinks.url }}" class="pp-col-link">
          <img src="{{ collections.signature-drinks.image.src | img_url: 'medium' }}" alt="" />
          <h3>{{ collections.signature-drinks.title }}</h3>
          <p>{{ collections.signature-drinks.description }}</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="{{ collections.signature-drinks.url }}" class="pp-col-link">
          <img src="{{ collections.signature-drinks.image.src | img_url: 'medium' }}" alt="" />
          <h3>{{ collections.signature-drinks.title }}</h3>
          <p>{{ collections.signature-drinks.description }}</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <h2>Argo Bottled Teas</h2>
        <p>Our Bottled Signature Drinks are inspired by passionate <strong>chefs</strong>, creative <strong>mixologists</strong> and intelligent <strong>nutritionists</strong>. Every sip is <strong>100% natural</strong>, made with real ingredients and delivers <strong>smart calories</strong>. Our <strong>top sellers</strong> are now available on the shelves of premier retailers nationwide in our iconic glass bottles.</p>
      </div>
    </article>

    <article class="row">
      <div class="col-lg-5 col-sm-6 col-xs-6">
        <h2>Creating The Premium <br class="visible-lg" />Tea Experience On The Go.</h2>
        <p class="large-text">We hand pick teas from the best growers around the world to ensure superior QualiTea. Real tea leaves, not tea dust, real pieces of fruit and other all natural ingredients make a difference. We marry form and function with a stylish pouch that allows the teas room to brew. Recognized by the North American Tea Championship and Graphic Design America for award winning flavors and packaging designs, Argo Tea offers easy to brew single serve sachets that are perfect to take on the go.</p>
      </div>
      <div class="col-lg-offset-1 col-sm-6 col-xs-6">
        <img src="{{ 'products-experience.jpg' | asset_url }}" alt="" />
      </div>
    </article>

    <article class="row">
      <div class="col-sm-6 col-xs-6">
        <img src="{{ 'products-loose-leaf.jpg' | asset_url }}" alt="" />
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-xs-6">
        <h2>Delivering Qualitea Loose Leaf Tea.</h2>
        <p class="large-text">We are passionate about bringing teas directly from growers around the world and blending them into unique and delicious teas. We mix our premium loose leaf teas with real pieces of fruit, flowers, spices, and herbs to create robust and distinct flavors that can be enjoyed both iced and hot. Always all natural, our teas are free of artificial flavorings, colors or additives. Our modern design and fully recyclable packaging is perfect for display, stackable storage and flavor freshness.</p>
      </div>
    </article>
  </div>

</section>

<!-- asdf
  {{ collections.signature-drinks.handle }}
  {{ collections.signature-drinks.title }}
  {{ collections.signature-drinks.url }}
  {{ collections.signature-drinks.description }}
  {{ collections.signature-drinks.image.src | img_url: 'medium' }}
  -->
