<a href="#target">
	<section class="walgreens-hero" style="background-image: url({{ 'walgreens-hero-lg.jpg' | asset_url }});">
		<img src="{{ 'walgreens-hero-new-sm.jpg' | asset_url }}" class="main-img" alt="walgreens hero image">
		<div class="container hero-content">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-content-box">
						<h3>CELEBRATE NATIONAL ICED TEA MONTH AT</h3>
						<img src="{{ 'walgreens-logo-new.png' | asset_url }}" class="walgreens-logo" alt="walgreens logo">
						<h3>3 BOTTLES OF ARGO TEA FOR $5</h3>
						<p>from June 4-24 with a Balance Rewards Card</p>
						<h3>TEXT-TO-ENTER SWEEPSTAKES</h3>
						<p>text 'Argo' to '35227' for a chance to win<br/>
                          an Argo Tea Cooler
						</p>
						<h3>CHARITEA DONATION</h3>
						<p>supporting Stupid Cancer &reg;</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</a>

<section class="stupid-cancer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="http://stupidcancer.org/" target="_blank"><img src="{{ 'stupidcancer-sm.png' | asset_url }}" alt="stupidcancer.org"></a>
			</div>
			<div class="col-md-10">
				<div class="stc-content">
					From June 4-24, 2017, Argo Tea will donate 10% of profits on sales of Argo Tea at Walgreens to Stupid Cancer, an incredible charitea that fights cancer in teens and young adults. Help us propel the young adult cancer movement through Stupid Cancer’s award-winning advocacy, research and support programs that “make cancer suck less” for those touched by young adult cancer. <a href="http://stupidcancer.org/" target="_blank">Learn more</a>.
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="https://www.argotea.com/pages/our-passion" target="_blank" class="walgreens-box blue">
				<img src="{{ 'passion-banner.jpg' | asset_url }}" alt="">
				<span>OUR PASSION</span>
			</a>
		</div>
		<div class="col-md-4">
			<a href="https://www.argotea.com/collections/bottled-tea-drinks" target="_blank" class="walgreens-box green">
				<img src="{{ 'bottled-banner.jpg' | asset_url }}" alt="">
				<span>OUR BOTTLED TEAS</span>
			</a>
		</div>
		<div class="col-md-4">
			<a href="https://www.walgreens.com/storelocator/find.jsp?tab=store+locator&requestType=locator" target="_blank" class="walgreens-box red">
				<img src="{{ 'walgreens-banner.jpg' | asset_url }}" alt="">
				<span>WALGREENS STORE LOCATOR</span>
			</a>
		</div>
	</div>
</div>

<a href="/pages/argo-tea-cooler-giveaway-sweepstakes-official-rules" id="target" target="_blank">
	<section class="cooler">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cooler-table">
						<div class="col">
							<img src="{{ 'text-to-enter-banner-new-2.jpg' | asset_url }}" alt="Text-to-Enter Sweepstakes with Walgreens">
							<span class="btn btn-primary alternate-entry">For complete rules and alternate entry</span>
						</div>
						<div class="col"><img src="{{ 'cooler-new.png' | asset_url }}" class="cooler-img" alt=""></div>
						<div class="col">
							<h3>CHANCE TO WIN AN ARGO TEA COOLER</h3>
							<p>This portable beverage carrier is fully insulated to keep your drinks cold. It can carry up to 6 Argo Bottled Teas, so you can enjoy many flavors with all your friends!</p>
							<p>To enter, go into any participating Walgreens and purchase three (3) Argo Teas, then text "Argo" to #35227 from your mobile device and follow the text reply prompts to upload a picture of your Walgreens register sales receipt. <strong><u>See Official Rules</u></strong> for NO PURCHASE NECESSARY method of entry. Promotion valid while supplies last at all participating Walgreens locations. Sweepstakes Ends July 15, 2017</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</a>
<script>
	jQuery(document).ready(function($) {
		$('a[href*="#"]')
		// Remove links that don't actually link to anything
			.not('[href="#"]')
			.not('[href="#0"]')
			.click(function(event) {
				// On-page links
				if (
					location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
					&& 
					location.hostname == this.hostname
				) {
					// Figure out element to scroll to
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					// Does a scroll target exist?
					if (target.length) {
						// Only prevent default if animation is actually gonna happen
						event.preventDefault();
						$('html, body').animate({
							scrollTop: target.offset().top
						}, 1000, function() {
							// Callback after animation
							// Must change focus!
							var $target = $(target);
							$target.focus();
							if ($target.is(":focus")) { // Checking if the target was focused
							return false;
						} else {
							$target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
							$target.focus(); // Set focus again
						};
					});
				}
			}
		});
	});
</script>