<!-- page.loose-leaf-tea-vault.liquid -->
{% include 'theme-variables' %}

<section id="page-wrap" class="section-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <h1>{{ page_title }}</h1> -->
        <article>{{ page.content }}</article>

        <div class="row vault-heading">
          <div class="col-xs-12 col-sm-3 col-md-2 dborder-right text-left">
            <span>BLACK TEA</span>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
            <span><i class="fa fa-dot-circle-o"></i> high caffeine</span>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
            <span><span class="icon-leaves"></span> 1-2 tsps per cup</span>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
            <span><i class="fa fa-clock-o"></i> brew 4-5 minutes</span>
          </div>
          <div class="hidden-xs hidden-sm col-md-2 dborder-left dborder-right">
            <span>BLACK TEA</span>
          </div>
          <div class="hidden-xs hidden-sm col-md-2 dborder-left text-right serif">
            <span><i class="fa fa-dot-circle-o"></i> high caffeine</span>
          </div>
        </div>

        <div id="carousel-black-teas" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <a href="/products/earl-grey-cr-me-loose-leaf-tea-3-0oz" class="vault-item">
                <h3>
                  EARL GREY CREME
                  <em>Smooth black tea with bergamot and vanilla.</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_EarlGreyCreme_FB.png?6663651215002653627" alt="Earl Grey Creme tea">
              </a>
              <a href="/products/english-breakfast-loose-leaf-tea-4-4oz" class="vault-item">
                <h3>
                  ENGLISH BREAKFAST
                  <em>A blend of Indian Assam &amp; Chinese black tea</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_EnglishBreakfast_FB.png?6663651215002653627" alt="ENGLISH BREAKFAST">
              </a>
              <a href="/products/ginger-peach-loose-leaf-tea-3-5oz" class="vault-item">
                <h3>
                  GINGER PEACH
                  <em>black tea with spicy ginger &amp; sweet peach</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_GingerPeach_FB.png?6663651215002653627" alt="GINGER PEACH">
              </a>
              <a href="/products/hazelnut-chai-loose-leaf-tea-4-4oz" class="vault-item">
                <h3>
                  HAZELNUT CHAI
                  <em>assam black tea with cinnamon, ginger &amp; hazelnut</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Hazelnut-Chai.jpg?2957725738715092971" alt="HAZELNUT CHAI">
              </a>
              <a href="/products/mango-mambo-loose-leaf-tea-3-2oz" class="vault-item">
                <h3>
                  MANGO MAMBO
                  <em>black tea blended with fragrant mangoes</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_MangoMambo_FB.png?6663651215002653627" alt="MANGO MAMBO" />
              </a>
            </div>
            <div class="item">
              <a href="/products/masala-chai-loose-leaf-tea-6-5oz" class="vault-item">
                <h3>
                  MASALA CHAI
                  <em>Indian assam with ginger, cinnamon, cardamom &amp; vanilla</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_MasalaChai_FB.png?6663651215002653627" alt="MASALA CHAI">
              </a>
              
              <!-- 
              <a href="/products/nilgiri-black-loose-leaf-tea-3-5oz" class="vault-item">
                <h3>
                  NILGIRI BLACK
                  <em>aromatic and flavorful Indian black tea</em>
                </h3>
                <img class="round-bordered" class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_NilgiriBlack_FB.png?6663651215002653627" alt="NILGIRI BLACK">
              </a>
              -->
              
              <a href="/products/strawberry-pepper-loose-leaf-tea-4-2oz" class="vault-item">
                <h3>
                  STRAWBERRY PEPPER
                  <em>aromatic black tea with strawberries and black pepper</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/StrawberryPepperSmall.jpg?4850489221885339999" alt="STRAWBERRY PEPPER">
              </a>
              <a href="/products/oolong-coconut-loose-leaf-tea-3-2oz" class="vault-item">
                <h3>
                  OOLONG COCONUT
                  <em>popular semi-oxidized tea from Taiwan</em>
                </h3>
                <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/OolongCoconut_small.png?6220300162929462283" alt="OOLONG COCONUT">
              </a>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-black-teas" role="button" data-slide="prev">
            {% include 'icon-prev' %}
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-black-teas" role="button" data-slide="next">
            {% include 'icon-next' %}
            <span class="sr-only">Next</span>
          </a>
        </div>  <!-- /#carousel-black-teas -->


        <div class="separator"></div>


        <div class="green-teas">
          <div class="row vault-heading">
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-right text-left">
              <span>GREEN TEA</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-dot-circle-o"></i> moderate caffeine</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><span class="icon-leaves"></span> 1-2 tsps per cup</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-clock-o"></i> brew 2-3 minutes</span>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 dborder-left dborder-right">
              <span>GREEN TEA</span>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 dborder-left text-right serif">
              <span><i class="fa fa-dot-circle-o"></i> moderate caffeine</span>
            </div>
          </div>

          <div id="carousel-green-teas" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
<!--
                <a href="/products/green-tea" class="vault-item">
                  <h3>
                    GREEN TEA
                    <em>Japanese sencha blended with matcha</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_GreenTea_FB.png?9489880685013475626" alt="...">
                </a>
-->
                <a href="/products/green-tea-cinnamon-orange-loose-leaf-tea-3-5oz" class="vault-item">
                  <h3>
                    GREEN TEA CINNAMON ORANGE
                    <em>green tea &amp; orange peel infused with cinnamon</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_GTCinnamonOrange_FB.png?4453015537422626286" alt="...">
                </a>
                <a href="/products/green-tea-ginger-twist-loose-leaf-tea-4-1oz" class="vault-item">
                  <h3>
                    GREEN TEA GINGER TWIST
                    <em>green tea with ginger pieces &amp; a touch of lemon</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_GreenTeaGingerTwist_FB.png?9489880685013475626" alt="...">
                </a>
                <a href="/products/green-tea-strawberry-loose-leaf-tea-3-5oz" class="vault-item">
                  <h3>
                    GREEN TEA STRAWBERRY
                    <em>Green tea blended with strawberry pieces and vanilla.</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_GreenTeaStrawberry_FB.png?9489880685013475626" alt="...">
                </a>
                <a href="/products/green-tea-tropical-loose-leaf-tea-3-2oz" class="vault-item">
                  <h3>
                    GREEN TEA TROPICAL
                    <em>soothing green tea with tropical fruits</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/GTropical.png?9813614803354536856" alt="...">
                </a>
              </div>
              <div class="item">
                <a href="/products/green-tea-tropical-loose-leaf-tea-3-2oz" class="vault-item">
                  <h3>
                    GREEN TEA TROPICAL
                    <em>soothing green tea with tropical fruits</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/GTropical.png?9813614803354536856" alt="...">
                </a>
                <a href="/products/green-tea-white-jasmine-loose-leaf-tea-4-4oz" class="vault-item">
                  <h3>
                    GREEN TEA WHITE JASMINE
                    <em>a rare green tea varietal scented with jasmine flowers</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_WhiteJasmine_FB.png?10147515634333406984" alt="...">
                </a>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-green-teas" role="button" data-slide="prev">
              {% include 'icon-prev' %}
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-green-teas" role="button" data-slide="next">
              {% include 'icon-next' %}
              <span class="sr-only">Next</span>
            </a>
          </div>  <!-- /#carousel-green-teas -->
        </div>  <!-- /.green-teas -->


        <div class="separator"></div>


        <div class="white-teas">
          <div class="row vault-heading">
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-right text-left">
              <span>WHITE TEA</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-dot-circle-o"></i> low caffeine</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><span class="icon-leaves"></span> 1-2 tsps per cup</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left text-right xs-centered serif">
              <span><i class="fa fa-clock-o"></i> brew 4-5 minutes</span>
            </div>
          </div>


          <div class="clearfix">
            <a href="/products/blueberry-white-loose-leaf-tea-3-0oz" class="vault-item">
              <h3>
                BLUEBERRY WHITE
                <!-- <em>Smooth black tea with bergamot and vanilla</em> -->
                <em>Delicate white tea blended with sweet blueberries</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_BlueberryWhite_FB.png?10238099523350171263" alt="White Peach">
            </a>
            <a href="/products/white-peach-loose-leaf-tea-3-2oz" class="vault-item">
              <h3>
                WHITE PEACH
                <!-- <em>Smooth black tea with bergamot and vanilla</em> -->
                <em>Delicate white tea combined with fragrant peaches</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/WhitePeach.png?15265686379623873723" alt="...">
            </a>
            <a href="/products/white-loose-leaf-tea-2-8oz" class="vault-item">
              <h3>
                WHITE TEA
                <!-- <em>Smooth black tea with bergamot and vanilla</em> -->
                <em>Rare and delicate white tea is also antioxidant-rich</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_WhiteTea_FB.png?10510714399802057305" alt="White Tea">
            </a>

          </div>
        </div>  <!-- /.white-teas -->


        <div class="separator"></div>


        <div class="herbal-teas">
          <div class="row vault-heading">
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-right text-left">
              <span>HERBAL TEA</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-dot-circle-o"></i> caffeine free</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><span class="icon-leaves"></span> 1-2 tsps per cup</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-clock-o"></i> brew 6-7 minutes</span>
            </div>
            <div class="col-sm-3 col-md-2 dborder-left text-right hidden-xs">
              <span>HERBAL TEA</span>
            </div>
          </div>

          <div id="carousel-herbal-teas" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="/products/armenian-mint-loose-leaf-tea-1-8oz" class="vault-item">
                  <h3>
                    ARMENIAN MINT
                    <em>mint tea with a refreshing effect</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_ArmenianMint_FB.png?15265686379623873723" alt="...">
                </a>
                <a href="/products/chamomile-blossoms-loose-leaf-tea-1-8oz" class="vault-item">
                  <h3>
                    CHAMOMILLE BLOSSOMS
                    <em>a lightly aromatuc herbal tea</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_Chamomile_FB.png?15265686379623873723" alt="...">
                </a>
                <a href="/products/charitea-loose-leaf-tea-3-9oz" class="vault-item">
                  <h3>
                    CHARITEA
                    <em>hibiscus petals with dried cherries and vanilla</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_Charitea_FB.png?15265686379623873723" alt="...">
                </a>
                <a href="/products/fruit-sangria-loose-leaf-tea-4-6oz" class="vault-item">
                  <h3>
                    FRUIT SANGRIA
                    <em>infusion of hibiscus petals, dried fruits &amp; rosehips</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_FruitSangria_FB.png?15265686379623873723" alt="...">
                </a>
<!--
                <a href="/products/hibiscus-apple-loose-leaf-tea-4-2oz" class="vault-item">
                  <h3>
                    HIBISCUS APPLE
                    <em>tangy hibiscus petals blended with sweet apples</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/Hibiscus-Apple.jpg?8501899793431053604" alt="...">
                </a>
-->
              </div>
              <div class="item">
                <a href="/products/limonello-loose-leaf-tea-3-2oz" class="vault-item">
                  <h3>
                    LIMONELLO
                    <em>blend of lemon grass, lemon peels &amp; dried apples</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_Limonello_FB.png?15265686379623873723" alt="...">
                </a>
                <a href="/products/mat-lat-loose-leaf-tea-3-9oz" class="vault-item">
                  <h3>
                    MATÉ LATÉ
                    <em>Brazilian mate blended with toasted cocoa &amp; almond</em>
                  </h3>
                  <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_MateLate_FB.png?15265686379623873723" alt="...">
                </a>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-herbal-teas" role="button" data-slide="prev">
              {% include 'icon-prev' %}
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-herbal-teas" role="button" data-slide="next">
              {% include 'icon-next' %}
              <span class="sr-only">Next</span>
            </a>
          </div>  <!-- /#carousel-green-teas -->
        </div>  <!-- /.herbal-teas -->


        <div class="separator"></div>


        <div class="red-teas">
          <div class="row vault-heading">
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-right text-left">
              <span>RED TEA</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><i class="fa fa-circle-o"></i> caffeine free</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left dborder-right serif">
              <span><span class="icon-leaves"></span> 1-2 tsps per cup</span>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 dborder-left serif">
              <span><i class="fa fa-clock-o"></i> brew 6-7 minutes</span>
            </div>
          </div>

          <div class="clearfix">
            <a href="/products/red-loose-leaf-tea-3-5oz" class="vault-item">
              <h3>
                RED TEA
                <em>antioxidant-rich South African rooibos tea</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_RedTea_FB.png?15265686379623873723" alt="...">
            </a>
            <a href="/products/rooibos-chai-loose-leaf-tea-4-9oz" class="vault-item">
              <h3>
                ROOIBOS CHAI
                <em>red tea blended with cinnamon, cardamom cloves &amp; vanilla</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_RooibosChai_FB.png?15265686379623873723" alt="...">
            </a>
            <a href="/products/rooibos-goji-berry-loose-leaf-tea-4-4oz" class="vault-item">
              <h3>
                ROOIBOS GOJI
                <em>red tea mixed with fruitful goji berries</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/RedGoji_a62de7af-8186-4b8f-b484-c44ac50f3027.png?12002358343424990176" alt="...">
            </a>
            <a href="/products/rooibos-pomegranate-loose-leaf-tea-4-2oz" class="vault-item">
              <h3>
                ROOIBOS POMEGRANATE
                <em>red tea blended with pomegranate &amp; cranberry</em>
              </h3>
              <img class="round-bordered" src="https://cdn.shopify.com/s/files/1/0909/1186/files/LooseTea_RooibosPomegranate_FB.png?15265686379623873723" alt="...">
            </a>
          </div>
        </div>  <!-- /.red-teas -->


        <div class="blank-space"></div>
      </div>

    </div>
  </div>
</section>


<div class="modal-pop-in" id="tvsp-modal">
  <div class="pop-in-body">
    <span class="pop-in-close"><i class="fa fa-times"></i></span>
    <a href="/products/vault-season-pass"><img src="https://cdn.shopify.com/s/files/1/0909/1186/files/Call_Out_Shop_Page-01.jpg?13985428186366128938" alt="Tea Vault Season Pass" /></a>
  </div>
</div>
