<!-- page.diversitea.liquid -->

<main class="diversitea-page">
  <div class='atf'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h1 class="white">DiversiTea</h1>
          {% include '__formatted-content' with page.content %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h2>One of Our Fundamental Values</h2>
        <p>Recognizing and celebrating diversity is important to our business; however, acting on the principles of DiversiTeaTM is essential to our success. We are growing our business to be inclusive and respectful as we address the needs of our TeaMembers, customers and communities, while at the same time outwardly projecting our company’s values and philosophies. We support both the physical and intellectual well being of our TeaMembers and create an environment of respect by encouraging and supporting internal promotions, offering comprehensive benefits to all full-time TeaMembers, and regularly soliciting and implementing TeaMember feedback; success on an individual level in turn generates the positive working environment within our company. The enthusiasm and positive energy our TeaMembers emanate in turn creates a friendly, welcoming environment for all of our customers. Our CommuniTeaTM initiatives and ChariTeaTM programs proactively engage with our communities, DiversiTeaTM is a vital factor in the continuous improvement of our business that allows us to better serve our TeaMembers, customers and communities.</p>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h2>TEAmembers</h2>
        <p>Argo TeaMembers differentiate themselves by committing to the company’s core values and products, demonstrating a creative, entrepreneurial spirit along with the desire to have fun. The success of Argo Tea lies within their hard work and our goal is to provide a positive working environment where each one of our TeaMembers brings a unique perspective, experience and contribution to our company. Though we may be different on the surface in terms of race, culture, ethnicity, gender, physical ability and other human factors, our common thread is our collective aspiration to continuously improve our company based upon the fundamental philosophy and values.</p>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h2>Tea Culture</h2>
        <p>We believe that the traditional roles of tea as both social connection liaison and relaxation aid are just as important today as it has been throughout history in many cultures. Our cafes provide a comfortable, calm atmosphere conducive to catching up with friends, taking a moment to relax, focusing on work, or whatever else our customers’ needs may be. Not only do we celebrate traditional brews of tea from around the world, we also like to give our teas a modern twist. If Green Tea is a favorite, try a Green Tea Ginger Twist; if Earl Grey strikes your fancy, we suggest an Earl Grey Vanilla Crème; if Red Tea is your caffeine free preference, you may enjoy a Pom Tea. Our innovative, modern approach of rediscovering the diversity and tradition of teas offers a wide variety of selections, no matter what your tastes or needs.</p>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h2>Customers</h2>
        <p>We reach out to customers from all walks of life because we truly believe that tea can be enjoyed by anyone, anywhere, at anytime. Our customers, in turn, contribute to the Argo Experience by providing honest and candid feedback. We take each customer’s contribution very seriously, whether it is through e-mail, online surveys, or through our TeaMembers, integrating the advice into ways in which we can keep improving our business. The life experiences each of our customers lend valuable insight and new perspective we may not necessarily think of ourselves. To send us your thoughts, ideas, and suggestions, please visit our Contact page.</p>
      </div>
    </div> <!-- /.row -->

  </div>
</main>