<div class="gardenSec sec1" style="background-image:url('{{'garden1.png' | asset_url}}')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro">
                    <h1>GARDEN DIRECT COLLECTION</h1> 
                    <h2>Simply the finest single estate teas</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <img src="{{ 'garden1-1.png' | asset_url }}" alt="Garden Direct Collection" class="img-responsive">
            </div>
            <div class="col-sm-12">
                <div class="lines">We have traveled the globe to provide you with unprecedented access to the beauty, elegance and diversity of these exceptional teas. </div>
                <div class="lines">Each single estate tea possesses the character and subtleties of the unique terroir and climate from the garden where it was grown. </div>
                <div class="lines"><strong>They are simply the finest teas on earth.</strong></div>
            </div>
            <div class="col-sm-12">
                <div class="brownBtnCnt">
                    <a class="brownBtn" href="/collections/loose-leaf-teas/garden-direct">SHOP COLLECTION</a>
                    <a class="brownBtn" href="/pages/new-subscriptions">SHOP SUBSCRIPTION</a> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gardenSec sec2">
    <div class="container">
        <div class="row col-sm-12">
            <div class="maptea" style="background-image:url('{{ 'teaMap.png' | asset_url }}')">
                <h2><span>EXPLORE OUR TEA GARDENS</span></h2>
                <div class="links-tea-map">
                    <a href="#" id="burkinafaso" data-country="burkinafaso" class="popup-map burkinafaso">
                    <span class="hidden-lg">&#9679;</span>
                    burkina faso 
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="southafrica" data-country="southafrica" class="popup-map southafrica">&#9679; south africa</a>
                    <a href="#" id="egypt" data-country="egypt" class="popup-map egypt">
                    <span class="hidden-lg">&#9679;</span>
                    egypt 
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="armenia" data-country="armenia" class="popup-map armenia">&#9679; armenia</a>
                    <a href="#" id="srilanka " data-country="srilanka" class="popup-map srilanka">
                    <span class="hidden-lg">&#9679;</span>
                    sri lanka
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="india" data-country="india" class="popup-map india">
                    <span class="hidden-lg">&#9679;</span>
                    india 
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="nepal" data-country="nepal" class="popup-map nepal">
                    <span class="hidden-lg">&#9679;</span>
                    nepal 
                    <span class="hidden-sm">&#9679;</span></a>
                    <a href="#" id="china" data-country="china" class="popup-map china">
                    <span class="hidden-lg">&#9679;</span>
                    china 
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="southkorea" data-country="southkorea" class="popup-map southkorea">
                    <span class="hidden-lg">&#9679;</span>
                    south korea
                    <span class="hidden-sm">&#9679;</span>
                    </a>
                    <a href="#" id="japan" data-country="japan" class="popup-map japan">&#9679;japan</a>
                    <a href="#" id="taiwan" data-country="taiwan" class="popup-map taiwan">&#9679; TAIWAN</a>
                    <a href="#" id="thailand" data-country="thailand" class="popup-map thailand">&#9679;thailand</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="dotTitle"><span>SHOP THE COLLECTION</span></h2>
        </div>
        <div class="col-md-12">
            <div class="newCollectionCarouselCnt">
                <div class="newCollectionCarousel">
                    {% for the_product in collections.garden-direct.products %}
                        {% include 'product-loop-newCollections' %}
                    {% endfor %}
                </div>
                <div class="arrow prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="arrow next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="frontDots"></div>
        </div>
        <div class="clearfix"></div>
        <div class="paddingExtra">
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-1.png' | asset_url}}')"></div>
            </div>
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-2.png' | asset_url}}')">
                    <div class="tileText green"><a href="/pages/guide-to-perfect-brewing">HOW TO BREW THE PERFECT CUP</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-3.png' | asset_url}}')"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12">
            <div class="frontDots"></div>
        </div>
    </div>
</div>
{% comment %} Popup map and Quickview  {% endcomment %} 
{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.js' | asset_url | script_tag }}
{% include 'popup-map' %}
{% include 'quickview' %} 
{{ 'quickview.js' | asset_url | script_tag }}
{% comment %} End Popup map and Quickview {% endcomment %}
<script>
    $(function() {
        var $quickViewBtn = $(".popup-map"),
            $quickView = $('#mappopup'),
            $quickViewOvrl = $('.ovrl', $quickView),
            $quickViewCnt = $('.inner', $quickView);
        var global = {};
        //QuickView Btn
        $quickViewBtn.click(function(e) {
            e.preventDefault();
            var $el = $(e.currentTarget),
                dCountry = $el.data('country'),
                html = '';
            
            global.country = dCountry;
            createQuickView();
            return;
        });
        function createQuickView() {
            var globalCountry = global.country;
            var burkinafaso = ["{{ 'burkinafaso1.png' | asset_url }}"],
                southafrica = ["{{ 'southafrica1.png' | asset_url }}"],
                egypt = ["{{ 'egypt1.png' | asset_url }}"],
                armenia = ["{{ 'armenia1.png' | asset_url }}"],
                srilanka = ["{{ 'srilanka1.png' | asset_url }}"],
                india = ["{{ 'india1.png' | asset_url }}", "{{ 'india2.png' | asset_url }}", "{{ 'india3.png' | asset_url }}", "{{ 'india4.png' | asset_url }}", "{{ 'india5d.png' | asset_url }}"],
                nepal = ["{{ 'nepal1d.png' | asset_url }}"],
                china = ["{{ 'china1.png' | asset_url }}", "{{ 'china2.png' | asset_url }}", "{{ 'china3.png' | asset_url }}", "{{ 'china4.png' | asset_url }}", "{{ 'china5d.png' | asset_url }} ", "{{ 'china6.png' | asset_url }} "],
                southkorea = ["{{ 'southkorea2.png' | asset_url }}"],
                japan = ["{{ 'japan1.png' | asset_url }}", "{{ 'japan2.png' | asset_url }}", "{{ 'japan3.png' | asset_url }}", "{{ 'japan4.png' | asset_url }}", "{{ 'japan5.png' | asset_url }}"],
                taiwan = ["{{ 'taiwan1.png' | asset_url }}"],
                thailand = ["{{ 'thailand1d.png ' | asset_url }}"];
            
                var countryArray = [];
                function countryArrays(varString) {
                    countryArray = eval(varString);
                }
                countryArrays(globalCountry);
                var length = countryArray.length;
                var html ='<div class="row"><div class="col-md-12"><div id="mappopupCarousel">';
                for (i = 0; i < length; i++) {
                    html +='<div class="carousel-cell col-xs-12 col-sm-6 col-md-4 col-lg-4"><img src="' + countryArray[i] + '" class="hidden" /></div>';
                }
                html +='</div></div>';
                $quickViewCnt.html('');
                $quickViewCnt.html(html);
        }
        $('.popup-map').magnificPopup({
            items: {
                src: '#mappopup',
                type: 'inline',
                removalDelay: 500,
                fixedBgPos: true,
                autoFocusLast: false, //If set to true last focused element before popup showup will be focused after popup 
            },
            callbacks: {
                beforeOpen: function() {
                },
                open: function() {
                    var numItems = $('.carousel-cell').length;
                    if (numItems > 2) {
                        var nav = true;
                        var float = 'left';
                    } else {
                        var nav = false;
                        var float = 'center';
                    }
                    $('#mappopup').fadeIn();
                    setTimeout(function() {
                        $('#mappopupCarousel').flickity({
                            cellSelector: '.carousel-cell',
                            contain: true,
                            setGallerySize: true,
                            pageDots: false,
                            prevNextButtons: nav,
                            wrapAround: false,
                            cellAlign: float,
                            groupCells: true
                        });
                    }, 1000);
                },
                afterClose: function(item) {
                    $('#mappopupCarousel').flickity('destroy');
                    $('#mappopup .inner').html(''); 
                }
            },
            closeBtnInside: true
        });
    });
</script>