<div class="container">
    <div class="row">
       
        <div class="col-sm-12">
            {% comment %}
            <img src="{{ 'dot-head.png' | asset_url }}" alt="Garden Direct Collection" class="img-responsive dotHead">
            {% endcomment %}
            <div class="introCnt">
                {% comment %}
                <h1>SIGNATURE BLENDS COLLECTION</h1>
                <h2>UNIQUE AND FLAVORFUL PREMIUM TEAS</h2>
                
                <img src="{{ 'fruitIcons.png' | asset_url }}" alt="herbs" class="img-responsive img-center">
                <div class="greenLine"></div>
                <img src="{{ 'signatureBlends1-cut.png' | asset_url }}" alt="Signature Blends Collection" class="img-responsive img-center topM">
                <div class="text">
                We blend our premium loose leaf teas with real pieces of fruit, flowers, spices, and herbs to create robust and distinct flavors 
    that can be enjoyed both iced and hot. Always all natural, our teas are free of artificial flavorings, colors or additives.
                </div>
                {% endcomment %}
                <img src="{{ 'sgblend-noborder.jpg' | asset_url }}" alt="herbs" class="img-responsive img-center has--mb-30 hidden-xs hidden-sm hidden-md">
                <img src="{{ 'sgblend-tablet.jpg' | asset_url }}" alt="herbs" class="img-responsive img-center has--mb-30 hidden-xs hidden-lg">
                <img src="{{ 'sgblend-mobile.jpg' | asset_url }}" alt="herbs" class="img-responsive img-center has--mb-30 hidden-sm hidden-md hidden-lg">
                <div class="colorBtnCnt">
                    <a class="colorBtn" href="https://www.argotea.com/collections/loose-leaf-teas/signature-blends">SHOP COLLECTION</a>
                    <a class="colorBtn" href="https://www.argotea.com/pages/new-subscriptions">SHOP SUBSCRIPTION</a>
                </div>
            </div>   
            <div class="frontDots"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ 'flower.gif' | asset_url }}" alt="Flowers" class="img-responsive img-center">
        </div>
        <div class="col-md-9">
            <div class="wellnessSec" style="width:65%">
                <h2>WELLNESS COLLECTION</h2>
                <h3>Live your healthiest life</h3>
                <p>Made with tea and ingredients with a purpose, these five new premium signature blends are designed to help restore health so you feel your best.</p>
            </div>
        </div>
        <div class="col-md-12 text-center"> 
            <img src="{{ 'signatureblends2.png' | asset_url }}" alt="Garden Direct Collection" class="img-responsive img-center top60">
            <a class="colorBtn" href="https://www.argotea.com/collections/loose-leaf-teas/wellness">SHOP NOW</a>
        </div>
        <div class="col-md-12">
            <h2 class="dotTitle"><span>SHOP THE COLLECTION</span></h2>
        </div>
        <div class="col-md-12">
            <div class="newCollectionCarouselCnt">
                <div class="newCollectionCarousel">
                    {% for the_product in collections.signature-blends.products %}
                        {% include 'product-loop-newCollections' %}
                    {% endfor %}
                </div>
                <div class="arrow prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="arrow next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="frontDots"></div>
        </div>
        <div class="clearfix"></div>
        <div class="paddingExtra">
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-1.png' | asset_url}}')"></div>
            </div>
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-2.png' | asset_url}}')">
                    <div class="tileText green"><a href="/pages/guide-to-perfect-brewing">HOW TO BREW THE PERFECT CUP</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="secondaryTile" style="background-image:url('{{'blends-bottom-3.png' | asset_url}}')"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12">
            <div class="frontDots"></div>
        </div>
    </div>
    
    
</div>


<div id="quickview">
    <div class="inner"></div>
</div> 


{{ 'quickview.js' | asset_url | script_tag }}


