{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<!-- product.argo.liquid -->

{% include 'theme-variables' %}

{% include 'product-page-not-for-sale' %}

{% include 'product-vendor-description' %}

{% include 'product-footer' %}
