{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<!-- product.tea-of-the-month.liquid -->

<div class="overlay"></div>

<div class="clearfix x3"></div>

<section class="section-wrap hero product-tom">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                <img src="{{ 'tea-vault.jpg' | asset_url }}" class="vault-logo" />
                <div class="clearfix x2"></div>
                <a class="btn btn-primary readon hidden-xs" href="#">LEARN MORE</a>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9">
                <h2 class="xs-centered">Argo Tea Vault Season Pass</h2>
                <p>Enjoy a surprise selection from our Tea Vault delivered to your doorstep each month. We’ve hand-picked only the best blends and flavors that complement the changing seasons of each month, from spicy & comforting teas during the wintertime to fruity, perfect for cold-brew teas for long summer days.</p>
                <p>Starting to feel chilly outside? You just may find a canister of Hazelnut Chai waiting for you at home. Trying to beat the summer heat? No sweat, we’ll send some Limonello straight to you.</p>
                <p>Enjoy some of our seasonal classics, as well as some yet-to-be discovered teas. No matter the month, you are guaranteed to receive only the finest, premium loose leaf tea blended with real fruit pieces, spices and whole ingredients.</p>
                <p><small><i>*selection may change subject to availability, but never compromised on quality</i></small></p>
                <a class="btn btn-primary readon visible-xs" href="#">LEARN MORE</a>
            </div>

        </div>

        <div class="clearfix x2"></div>

        <div class="row">

            <div class="col-lg-2 hidden-md hidden-sm"></div>

          	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
              <div class="clearfix x1 hidden-lg hidden-md"></div>

              <div class="col-lg-5 col-md-6 col-sm-12">
                  <a href="javascript: void(0);" class="subscription-card" data-id="{{ variant.id }}">
                      <h4>{{ variant.title }} Argo Tea Vault Pass&nbsp;&nbsp;•&nbsp;&nbsp;
                        <sup>$</sup>
                        {% if variant.title contains "6" %}
                        	69.95
                       	{% else if variant.title contains "12" %}
                        	129.95
                       	{% endif %}

                        {%comment%}
                        {{ variant.price | money_without_currency }}
                        {%endcomment%}
                      </h4>
                      <span>SUBSCRIBE OR GIFT</span>
                  </a>
              </div>

{%endunless%}
{%endunless%}
           {% endfor %}

        </div>

   		<div class="row hidden">
        	<div class="col-lg-12">
              <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                <select name="id" id="productSelect" class="tea-vault-selection">
                  {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}"
                              data-price="{{ variant.price | money_without_currency | remove: ','}}"
                              value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

{%endunless%}
{%endunless%}
                  {% endfor %}
                </select>

                <button type="submit" name="add" id="AddToCart" class="btn addtocart">
                  <span id="AddToCartText">SUBSCRIBE OR GIFT</span>
                </button>

                 <!-- bold-ro-liquid -->
                 <div class="bold_add_to_orders" style="display: inline-block;"> </div>
                 <!-- bold-ro-liquid -->

                  <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
                  <input name="email" type="hidden" value="{{ customer.email }}" >
                  <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
                  <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
                  <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
                  <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
                  <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
                  <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
                  <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
                  <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
                  <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
                  <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
                  {% include 'bold-ro' with product %}

              </form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>

          	</div>
      	</div>

    </div>

</section>

<div class="clearfix x5"></div>

<section class="section-wrap section-1">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">THIS MONTH’S TEA</h3>
            </div>
        </div>

      	{% assign collect_handle = 'all-products' %}
        {% if collection %}
            {% capture collect_handle %}{{ collection.handle }}{% endcapture %}
        {% endif %}
      	{% paginate collections[collect_handle].products by 1000 %}

      	{% for prod in collections[collect_handle].products %}
            {% if prod.tags contains 'featured' %}

            <div class="row">

                <div class="col-lg-3 col-md-3 text-center">
                    <img src="{{ prod.featured_image | product_img_url: 'medium' }}" alt="{{ featured_image.alt }}" class="img-circle">
					<!-- <img src="https://cdn.shopify.com/s/files/1/0909/1186/files/season-pass-mate-late.jpg?15996132110994607215" class="img-circle">-->
                </div>

                <div class="clearfix x2 hidden-lg hidden-md"></div>

                <div class="col-lg-9 col-md-9">
                    <h3>{{ prod.title }}</h3>
					<!-- <h3>Maté Laté</h3>-->
                </div>

                {% assign description = prod.description | split: '</p>' %}

                <div class="col-lg-6 col-md-6">

                    {{ description[0] }}

                    <!--
                    <p>Spring is just around the corner, but the breeze is still brisk and the last remnants of snow are still sticking to the ground. What better way to warm up than with a  hot, steaming cup of our Ginger Peach? This premium black tea blend will give you just the right amount of energy, while the sweet pieces of peach and spicy ginger bits will give your taste buds a full flavor experience.</p>
                    -->
                </div>

                <div class="clearfix x1 hidden-lg hidden-md"></div>

                <div class="col-lg-3 col-md-3">
                    <span class="desc-list">
                       {{ description[1] }}
                        <!--
                        <ul>
                            <li><strong>steeping directions:</strong> 4-5 minutes</li>
                            <li><strong>caffeine level:</strong> High</li>
                            <li><strong>sourced from:</strong> Global Ingredients<li>
                        </ul>
                        -->
                    </span>
                </div>

            </div>

            {% endif %}
        {% endfor %}
        {% endpaginate %}

        <div class="clearfix x2"></div>

    </div>
</section>

<div class="divider dots"></div>

<section class="section-wrap section-2">
    <div class="container">

        <div class="row" id="tea-selections">
            <div class="col-lg-12">
                <div class="clearfix x2"></div>
                <h3 class="section-heading">Curious to see what you’ll receive?</h3>
                <h6>Here are our last three monthly selections</h6>
            </div>
        </div>

        <div class="clearfix x2"></div>

        <div class="row">

         {% for link in linklists.tom-past-selections.links limit: 3 %}
            {% assign product = link.object %}
                <div class="col-lg-4 col-md-4">
                    <div class="item text-center">
                        <div class="arc-text date">{{ link.title }}’S TEA</div>
                        <div class="img-block" style="background-image: url({{ product.featured_image | product_img_url: 'large' }});">
                            <div class="title">{{ product.title }}</div>
                        </div>
                        <div class="clearfix x1"></div>
                        <a class="btn btn-secondary" href="{{ product.url }}">LEARN MORE</a>
                    </div>
                </div>
                <div class="clearfix x3 hidden-lg"></div>
         {% endfor %}

        </div>

        <div class="clearfix x1"></div>

    </div>
</section>

<section class="section-wrap section-3">
    <div class="container-fluid">

        <div class="clearfix x2"></div>

        <div class="row">

            <div class="col-lg-12">
                <div class="divider-heading brown">
                    <div class="inner ">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="container">
                <div class="col-lg-6">

                  <h3>Where does the Argo Tea Vault Season Pass ship?</h3>
                  <p>
                         Anywhere within the U.S.
                  Unfortunately at this time, we do not support orders for the Argo Tea Vault Season Pass that require international shipping outside of the US.</p>

                  <h3>How do I gift the Argo Tea Vault Season Pass ?</h3>
                    <p>
                         Simply click on “Subscribe or Gift” to purchase your Season Pass. We’ll send the teas each month to the address provided as a “shipping address” whether it’s for yourself or you are giving the most tearrific gift known to tea lovers.</p>

                  <h3>Can you tell me which teas I will receive?</h3>
                    <p>
                         We’d love to tell you! But, we also think
          there is a certain fun in keeping a little mystery, too. What we can let you know is that each tea has been
          carefully curated and specifically chosen for that month, based on flavor profile, seasonal affinity and
          month-to-month variety. You’ll never receive back-to-back black teas, or two chai blends in three months.
          Our Tea Vault is vast, and we’re pretty sure you won’t be bored with our selection.</p>

                   <h3>I don’t like the tea I received. Can I get another?</h3>
                    <p>
                        We understand the tea we send may
      occasionally, maybe, quite possibly not be everyone’s cup of tea (although we think the chances are slim).
      Unfortunately, due to the nature of the Argo Tea Season Pass, we cannot accept returns unless your tea arrives damaged or defective.</p>

                   <h3>Can I download a gift receipt or card to wrap if I bought as a gift?</h3>
                   <p>Yes! Please find downloadable PDFs:<br />
                   <a class="btn btn-primary btn-xs" href="https://cdn.shopify.com/s/files/1/0909/1186/files/TeaVaultSeasonPass_GiftReceipt_6Mo.pdf?16934786405710998214" target="_blank">6 month subscription</a> &nbsp;
                   <a class="btn btn-primary btn-xs" href="https://cdn.shopify.com/s/files/1/0909/1186/files/TeaVaultSeasonPass_GiftReceipt_12Mo.pdf?16934786405710998214" target="_blank">12 month subscription</a></p>
                </div>

                <div class="col-lg-6">

                  <h3>When will I receive my first box after signing up?</h3>
                  <p>
                         Your first monthly tea will be
                  processed immediately after you sign up and on your doorstep very soon thereafter! We’ll continue to
                  prepare and send out your featured tea each month on that same day for the next 5 or 11 months, depending upon which Argo Tea Vault Season Pass you have purchased.</p>

                  <h3>How can I review and track the teas I receive?</h3>
                    <p>
                         Soon you’ll be able to log in and
review your tea shipments on this site. For now, however, we’ll be happy to look up that information for you. Just
email us at ecommerce@argotea.com.</p>

                  <h3>How do I update my shipping/account info?</h3>
                    <p>
                         Soon you’ll be able to log in and edit
your account information on this site. For now, however, we’ll be happy to make those changes for you. Just email us at ecommerce@argotea.com.</p>

                   <h3>Can I cancel at any time?</h3>
                    <p>
                        While we’d be very sorry to see you go, yes, you can
cancel at any time during your active Season Pass period. Contact us at ecommerce@argotea.com and we will refund a pro-rated amount for your unshipped monthly boxes.</p>

                  <h3>I didn’t receive my order. What do I do?</h3>
                    <p>
                         You can email the Argo Customer Service
Team at <a href="mailto:ecommerce@argotea.com">ecommerce@argotea.com</a>. Our department is open Monday through Friday, 9am to 5pm CST.</p>
                </div>

            </div>
        </div>

        <div class="clearfix x1"></div>

    </div>
</section>



<script>


jQuery(function($){

    var $headline = $('.arc-text').hide();
    $headline.show().arctext({radius: 200});

  // tea of the month subscription boxes
  // submit the form programatically
  $('body').on('click', 'a.subscription-card', function(){
    var subscription_id = $(this).data('id');
    var card_index = $("a.subscription-card").index(this);
    //console.log(subscription_id);
    //console.log(card_index);
    $("#productSelect").val(subscription_id);
    $("#productSelect").trigger('change');
    $(".prepaid_checkbox").trigger('click');

    setTimeout(function(){
      $(".prepaid_length_select option:eq("+card_index+")").attr("selected", "selected");
    }, 100);

    setTimeout(function(){
    	$(".purchase-btn").trigger('click');
    }, 500);
  });

  $('body').on('click','a.readon', function(){
      $('html,body').animate({
         scrollTop: $("#tea-selections").offset().top - 40
      });
  });


});
</script>
