{% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
{% include 'bold-product' with product, hide_action: 'break' %}
{% include 'theme-variables' %}

{% comment %}{% include 'product-page' %}{% endcomment %}
{% include 'product-page-argo' %}

{% include 'product-vendor-description' %}

{% include 'product-footer' %}
