{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<!-- product.tea-of-the-month.liquid -->

<div class="overlay"></div>

<div class="clearfix x3"></div>

<section class="section-wrap hero product-tom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
            </div>
        </div>

        <div class="clearfix x2"></div>

        <div class="row">
            <div class="col-lg-2 hidden-md hidden-sm"></div>
          	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
              <div class="clearfix x1 hidden-lg hidden-md"></div>
              <div class="col-lg-5 col-md-6 col-sm-12">
                  <a href="javascript: void(0);" class="subscription-card" data-id="{{ variant.id }}">
                      <h4>{{ variant.title }} Argo Tea Vault Pass&nbsp;&nbsp;•&nbsp;&nbsp;
                        <sup>$</sup>
                        {% if variant.title contains "6" %}
                        	69.95
                       	{% else if variant.title contains "12" %}
                        	129.95
                       	{% endif %}
                        {%comment%}
                        {{ variant.price | money_without_currency }}
                        {%endcomment%}
                      </h4>
                      <span>SUBSCRIBE OR GIFT</span>
                  </a>
              </div>

{%endunless%}
{%endunless%}
           {% endfor %}
        </div>

   		<div class="row hidden">
        	<div class="col-lg-12">
              <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                <select name="id" id="productSelect" class="tea-vault-selection">
                  {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}"
                              data-price="{{ variant.price | money_without_currency | remove: ','}}"
                              value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

{%endunless%}
{%endunless%}
                  {% endfor %}
                </select>
                <button type="submit" name="add" id="AddToCart" class="btn addtocart">
                  <span id="AddToCartText">SUBSCRIBE OR GIFT</span>
                </button>
                 <!-- bold-ro-liquid -->
                 <div class="bold_add_to_orders" style="display: inline-block;"> </div>
                 <!-- bold-ro-liquid -->
                  <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
                  <input name="email" type="hidden" value="{{ customer.email }}" >
                  <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
                  <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
                  <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
                  <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
                  <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
                  <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
                  <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
                  <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
                  <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
                  <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
                  {% include 'bold-ro' with product %}
              </form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>

          	</div>
      	</div>
    </div>

</section>










<script>


jQuery(function($){

    var $headline = $('.arc-text').hide();
    $headline.show().arctext({radius: 200});

  // tea of the month subscription boxes
  // submit the form programatically
  $('body').on('click', 'a.subscription-card', function(){
    var subscription_id = $(this).data('id');
    var card_index = $("a.subscription-card").index(this);
    //console.log(subscription_id);
    //console.log(card_index);
    $("#productSelect").val(subscription_id);
    $("#productSelect").trigger('change');
    $(".prepaid_checkbox").trigger('click');

    setTimeout(function(){
      $(".prepaid_length_select option:eq("+card_index+")").attr("selected", "selected");
    }, 100);

    setTimeout(function(){
    	$(".purchase-btn").trigger('click');
    }, 500);
  });

  $('body').on('click','a.readon', function(){
      $('html,body').animate({
         scrollTop: $("#tea-selections").offset().top - 40
      });
  });


});
</script>
