{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<!-- Bold: QB - Step 1 -->
{% include 'shappify-qb-no-select' %}
<!-- // end Bold code -->


<!-- product.argo.liquid -->

{% include 'theme-variables' %}

{% include 'product-page-argo' %}

{% include 'product-vendor-description' %}

{% include 'product-footer' %}

