{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="introText">
                <span class="brown">Introducing</span>
              <h1><span class="green">Our Curated Tea Subscriptions</span></h1>
            </div>
        </div>
        <div class="col-md-6">
            <a class="tile" style="background-image:url('{{'newTile1.jpg' | asset_url}}')" href="#" id="scrollGarden">
                <div class="tileBtnCnt one">
                    <div class="tileTitle">GARDEN DIRECT COLLECTION</div>
                    <div class="tileBtn btn btn-xs" href="">LEARN MORE</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
           <a class="tile" style="background-image:url('{{'newTile2.jpg' | asset_url}}')" href="#" id="scrollSignature">
                <div class="tileBtnCnt two">
                    <div class="tileTitle">SIGNATURE BLENDS COLLECTION</div>
                    <div class="tileBtn btn btn-xs" href="">LEARN MORE</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile1.png' | asset_url}}')"></div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile2.png' | asset_url}}')">
                <div class="tileText pink"><a href="/pages/guide-to-perfect-brewing">HOW TO BREW THE PERFECT CUP</a></div>
            </div>
        </div>
        <div class="col-md-4 hidden-md-down">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile3.png' | asset_url}}')"></div>
        </div>
    </div>
</div>
<div class="backSubscr" id="garden" style="background-image:url('{{'backSbscr.png' | asset_url}}')">
    <div class="container">
       <div class="whiteBg">
            <div class="row">
                <div class="col-md-6" >
                    <div class="brownText">Subscribe to the</div>
                    <div class="greenText">GARDEN DIRECT COLLECTION</div>
                    <div class="colContent">
                        <p>
                            From the highlands of the Himalayas to the lush countryside of Jeju island, we’ve traveled the globe to curate a collection of Single Estate teas that you can have delivered directly to your doorstep. These teas come from the world’s premier tea-growing regions and possess the character and subtleties from the garden where they were grown.
                        </p>
                        <p>
                            Every three months you will receive three full-size bottles of the premium teas we’ve carefully chosen to suit the season. Each Garden Direct box will arrive complete with tasting notes and tips for brewing the perfect cup of tea. For instance, if you receive a bottle of our First Flush Darjeeling, you'll learn about the garden where this tea is grown and how to cold-brew this tea to bring out the best flavor and quality of the leaves.
                        </p>
                        <p>
                            Whether you consider yourself a tea connoisseur or are looking to expand your tea horizons, we’ve got just the tea for you.
                        </p>
                    </div>
                    <div class="pickTitle"><span>PICK YOUR PLAN</span></div>

                    <div class="variantBtnsCnt">
                        {% for variant in product.variants limit:2%}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                            {% if forloop.index == 1 %}
                                <a class="yellow" href="#"  data-frequency="0" data-select="0">6 MONTH &nbsp;&nbsp;•&nbsp;&nbsp; {{variant.price | times: 2 | money }}</a>
                            {% elsif forloop.index == 2 %}
                                <a class="yellow" href="#"  data-frequency="1" data-select="1">12 MONTH &nbsp;&nbsp;•&nbsp;&nbsp; {{variant.price | times: 4 | money }}</a>
                            {% endif %}

{%endunless%}
{%endunless%}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ 'garden-direct-collection.png' | asset_url }}" alt="Garden Direct Collection" class="img-responsive">
                    <a class="transpBtn" href="/collections/loose-leaf-teas/garden-direct">SHOP THE COLLECTION</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="signature">
    <div class="row">
        <div class="col-md-12">
            <div class="brdSec">
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-md-push-6" >
                        <div class="descTextCnt">
                            <div class="brownText">Subscribe to the</div>
                            <div class="greenText">SIGNATURE BLENDS COLLECTION</div>
                            <div class="colContent">
                                <p>
                                    Enjoy a surprise selection from our Tea Vault delivered to your doorstep each month. We’ve hand-picked only the best blends and flavors that complement the changing seasons of each month, from spicy & comforting teas during the wintertime to fruity, perfect for cold-brew teas for long summer days.
                                </p>
                                <p>
                                    Every three months you will receive three full-size canisters of the premium teas we’ve carefully chosen to suit the season. Each Signature Blends box will arrive complete with tasting notes and tips for brewing the perfect cup of tea. Enjoy some of our seasonal classics, as well as some yet-to-be discovered teas.
                                </p>
                                <p>
                                    No matter the month, you are guaranteed to receive only the finest, premium loose leaf tea blended with real fruit pieces, spices and whole ingredients.
                                </p>
                            </div>
                            <div class="pickTitle"><span>PICK YOUR PLAN</span></div>

                            <div class="variantBtnsCnt">
                                {% for variant in product.variants offset:2%}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                                    {% if forloop.index == 1 %}
                                        <a class="pink" href="#" data-frequency="0" data-select="2">6 MONTH &nbsp;&nbsp;•&nbsp;&nbsp; {{variant.price | times: 2 | money }}</a>
                                    {% elsif forloop.index == 2 %}
                                        <a class="pink" href="#" data-frequency="1" data-select="3">12 MONTH &nbsp;&nbsp;•&nbsp;&nbsp; {{variant.price | times: 4 | money }}</a>
                                    {% endif %}

{%endunless%}
{%endunless%}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-md-pull-6">
                        <div class="colImgCnt">
                            <img src="{{ 'signature-blends.png' | asset_url }}" alt="Signature Blends Collection" class="img-responsive">
                            <div class="btnCnt">
                                <a class="btn btn-primary btn-xs" href="/collections/loose-leaf-teas/signature-blends">SHOP THE COLLECTION</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile4.png' | asset_url}}')"></div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile5.png' | asset_url}}')">
                <div class="tileText green"><a href="https://levelupargotea.zendesk.com/hc/en-us?">FREQUENTLY ASKED QUESTIONS</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="secondaryTile" style="background-image:url('{{'secondaryTile6.png' | asset_url}}')"></div>
        </div>
    </div>
</div>


<div class="hidden">
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <select name="id" id="productSelect" class="tea-vault-selection">
            {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}"
                data-price="{{ variant.price | money_without_currency | remove: ','}}"
                value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

{%endunless%}
{%endunless%}
            {% endfor %}
        </select>

        <button type="submit" name="add" id="AddToCart" class="btn addtocart">
            <span id="AddToCartText">SUBSCRIBE OR GIFT</span>
        </button>

        <!-- bold-ro-liquid -->
        <div class="bold_add_to_orders" style="display: inline-block;"> </div>
        <!-- bold-ro-liquid -->

        <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
        <input name="email" type="hidden" value="{{ customer.email }}" >
        <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
        <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
        <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
        <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
        <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
        <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
        <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
        <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
        <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
        <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
        {% include 'bold-ro' with product %}
    </form>

<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>

</div>

<script type="text/javascript">



    $(function($) {

        //bold fix - delete this block of code when Bold fixes their prepaid error
        setTimeout(function(){
            var selectHtml = $(".prepaid_length_select").html();
            var fixed = selectHtml.replace(/length\"/g, "length=");
            $(".prepaid_length_select").html( fixed );
        }, 2000);
        //end of bold fix

        $('.variantBtnsCnt a').on('click', function(e){
            e.preventDefault();

            var $el = $(e.currentTarget),
                frequency = $el.attr("data-frequency"),
                select = $el.attr("data-select");

            $("#productSelect option:eq("+select+")").attr("selected", "selected");
            $("#productSelect").trigger('change');
            $(".prepaid_checkbox").trigger('click');

            setTimeout(function(){
              $(".prepaid_length_select option:eq("+frequency+")").attr("selected", "selected");
            }, 100);



            setTimeout(function(){
                $(".purchase-btn").trigger('click');
            }, 500);
        });


        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},
            enableHistoryState: true
        });

    });

</script>

<style>
    .selector-wrapper,.product_rp_div,.purchase-btn{display:none!important;}
</style>
