<!--- buyx code  --->
{% include 'buyx-price-min' with product %}
<!--- buyx code  --->

{% include 'theme-variables' %}

{% assign respond_js_secret_key = (shop.domain | md5) %}
{% unless search.terms == respond_js_secret_key %}

    <section id="search-wrap" class="section-wrap">
        {% include '__containers-open' %}

        <h1 class="page-header">{% include 'smart-title' %}</h1>

        {% if search.results_count > 0 %}

            {% include '__default-pagination' %}
            {% paginate search.results by default-pagination %}
            {% assign product_type = ''  %}
            <div class="row search-products">

                {% for i in search.results %}

                    {% unless i.tags contains 'DISCOUNT_HIDDEN_PRODUCT' %}

                        {% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
                        {% include 'bold-product' with i, hide_action: 'skip' %}

                        {% if i.type == 'Subscription' %}
                            {% assign product_type = 'subscription'  %}
                        {% endif %}

                        {% if i.price != blank and product_type != 'subscription'%}
                            {% assign product_count = forloop.length %}
                            {% include 'product-loop' with i %}
                        {% endif %}

                    {% endunless %}

                {% endfor %}
            </div>
            <div class="search-pages">
                {% for i in search.results %}
                    {% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}

                    {% include 'bold-product' with i, hide_action: 'skip' %}
                    {% if i.price == blank %}
                        {% include 'search-loop' %}
                    {% endif %}

                {% endfor %}
            </div>
            {% if product_type != 'subscription'%}
                {% include 'pagination' %}
            {% endif %}
            {% endpaginate %}

        {% else %}

            <h3>{% include '__localize' with 'No search results found' %}.</h3>
            <p class="lead">
            {% include '__localize' with 'Try another search' %}{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with ' or browse all products' %}</a>.{% endunless %}
            </p>
            <form class="form-inline" action="/search">
                <div class="input-group input-group-appended">
                    <input type="search" name="q" class="form-control search-bar" autocomplete="off" placeholder="{% include '__localize' with 'Search' %}" value="{{ search.terms }}">
                    <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search" />
                    </span>
                </div>
            </form>
        {% endif %}
        {% include '__containers-close' %}
    </section>

{% else %}

    {% layout none %}
    {% include 'respond' %}

{% endunless %}
